<!--表情内容-->
<div id="face-content" class="mui-content face-content">
    <div id="Gallery" class="mui-slider">
        <div class="mui-slider-group">
            <div class="mui-slider-item">
                <ul class="clear face-list">
                    <li title="[微笑]"><img src="__STATIC__/chat/images/face/0.gif"></li>
                    <li title="[嘻嘻]"><img src="__STATIC__/chat/images/face/1.gif"></li>
                    <li title="[哈哈]"><img src="__STATIC__/chat/images/face/2.gif"></li>
                    <li title="[可爱]"><img src="__STATIC__/chat/images/face/3.gif"></li>
                    <li title="[可怜]"><img src="__STATIC__/chat/images/face/4.gif"></li>
                    <li title="[挖鼻]"><img src="__STATIC__/chat/images/face/5.gif"></li>
                    <li title="[吃惊]"><img src="__STATIC__/chat/images/face/6.gif"></li>
                    <li title="[害羞]"><img src="__STATIC__/chat/images/face/7.gif"></li>
                    <li title="[挤眼]"><img src="__STATIC__/chat/images/face/8.gif"></li>
                    <li title="[闭嘴]"><img src="__STATIC__/chat/images/face/9.gif"></li>
                    <li title="[鄙视]"><img src="__STATIC__/chat/images/face/10.gif"></li>
                    <li title="[爱你]"><img src="__STATIC__/chat/images/face/11.gif"></li>
                    <li title="[泪]"><img src="__STATIC__/chat/images/face/12.gif"></li>
                    <li title="[偷笑]"><img src="__STATIC__/chat/images/face/13.gif"></li>
                    <li title="[亲亲]"><img src="__STATIC__/chat/images/face/14.gif"></li>
                    <li title="[生病]"><img src="__STATIC__/chat/images/face/15.gif"></li>
                    <li title="[太开心]"><img src="__STATIC__/chat/images/face/16.gif"></li>
                    <li title="[白眼]"><img src="__STATIC__/chat/images/face/17.gif"></li>
                    <li title="[右哼哼]"><img src="__STATIC__/chat/images/face/18.gif"></li>
                    <li title="[左哼哼]"><img src="__STATIC__/chat/images/face/19.gif"></li>
                    <li title="[嘘]"><img src="__STATIC__/chat/images/face/20.gif"></li>
                </ul>
            </div>
            <div class="mui-slider-item">
                <ul class="clear face-list">
                    <li title="[衰]"><img src="__STATIC__/chat/images/face/21.gif"></li>
                    <li title="[委屈]"><img src="__STATIC__/chat/images/face/22.gif"></li>
                    <li title="[吐]"><img src="__STATIC__/chat/images/face/23.gif"></li>
                    <li title="[哈欠]"><img src="__STATIC__/chat/images/face/24.gif"></li>
                    <li title="[抱抱]"><img src="__STATIC__/chat/images/face/25.gif"></li>
                    <li title="[怒]"><img src="__STATIC__/chat/images/face/26.gif"></li>
                    <li title="[疑问]"><img src="__STATIC__/chat/images/face/27.gif"></li>
                    <li title="[馋嘴]"><img src="__STATIC__/chat/images/face/28.gif"></li>
                    <li title="[拜拜]"><img src="__STATIC__/chat/images/face/29.gif"></li>
                    <li title="[思考]"><img src="__STATIC__/chat/images/face/30.gif"></li>
                    <li title="[汗]"><img src="__STATIC__/chat/images/face/31.gif"></li>
                    <li title="[困]"><img src="__STATIC__/chat/images/face/32.gif"></li>
                    <li title="[睡]"><img src="__STATIC__/chat/images/face/33.gif"></li>
                    <li title="[钱]"><img src="__STATIC__/chat/images/face/34.gif"></li>
                    <li title="[失望]"><img src="__STATIC__/chat/images/face/35.gif"></li>
                    <li title="[酷]"><img src="__STATIC__/chat/images/face/36.gif"></li>
                    <li title="[色]"><img src="__STATIC__/chat/images/face/37.gif"></li>
                    <li title="[哼]"><img src="__STATIC__/chat/images/face/38.gif"></li>
                    <li title="[鼓掌]"><img src="__STATIC__/chat/images/face/39.gif"></li>
                    <li title="[晕]"><img src="__STATIC__/chat/images/face/40.gif"></li>
                    <li title="[悲伤]"><img src="__STATIC__/chat/images/face/41.gif"></li>
                </ul>
            </div>
            <div class="mui-slider-item">
                <ul class="clear face-list">
                    <li title="[抓狂]"><img src="__STATIC__/chat/images/face/42.gif"></li>
                    <li title="[黑线]"><img src="__STATIC__/chat/images/face/43.gif"></li>
                    <li title="[阴险]"><img src="__STATIC__/chat/images/face/44.gif"></li>
                    <li title="[怒骂]"><img src="__STATIC__/chat/images/face/45.gif"></li>
                    <li title="[互粉]"><img src="__STATIC__/chat/images/face/46.gif"></li>
                    <li title="[心]"><img src="__STATIC__/chat/images/face/47.gif"></li>
                    <li title="[伤心]"><img src="__STATIC__/chat/images/face/48.gif"></li>
                    <li title="[猪头]"><img src="__STATIC__/chat/images/face/49.gif"></li>
                    <li title="[熊猫]"><img src="__STATIC__/chat/images/face/50.gif"></li>
                    <li title="[兔子]"><img src="__STATIC__/chat/images/face/51.gif"></li>
                    <li title="[ok]"><img src="__STATIC__/chat/images/face/52.gif"></li>
                    <li title="[耶]"><img src="__STATIC__/chat/images/face/53.gif"></li>
                    <li title="[good]"><img src="__STATIC__/chat/images/face/54.gif"></li>
                    <li title="[NO]"><img src="__STATIC__/chat/images/face/55.gif"></li>
                    <li title="[赞]"><img src="__STATIC__/chat/images/face/56.gif"></li>
                    <li title="[来]"><img src="__STATIC__/chat/images/face/57.gif"></li>
                    <li title="[弱]"><img src="__STATIC__/chat/images/face/58.gif"></li>
                    <li title="[草泥马]"><img src="__STATIC__/chat/images/face/59.gif"></li>
                    <li title="[神马]"><img src="__STATIC__/chat/images/face/60.gif"></li>
                    <li title="[囧]"><img src="__STATIC__/chat/images/face/61.gif"></li>
                    <li title="[浮云]"><img src="__STATIC__/chat/images/face/62.gif"></li>
                </ul>
            </div>
            <div class="mui-slider-item">
                <ul class="clear face-list">
                    <li title="[给力]"><img src="__STATIC__/chat/images/face/63.gif"></li>
                    <li title="[围观]"><img src="__STATIC__/chat/images/face/64.gif"></li>
                    <li title="[威武]"><img src="__STATIC__/chat/images/face/65.gif"></li>
                    <li title="[奥特曼]"><img src="__STATIC__/chat/images/face/66.gif"></li>
                    <li title="[礼物]"><img src="__STATIC__/chat/images/face/67.gif"></li>
                    <li title="[钟]"><img src="__STATIC__/chat/images/face/68.gif"></li>
                    <li title="[话筒]"><img src="__STATIC__/chat/images/face/69.gif"></li>
                    <li title="[蜡烛]"><img src="__STATIC__/chat/images/face/70.gif"></li>
                    <li title="[蛋糕]"><img src="__STATIC__/chat/images/face/71.gif"></li>
                    <li title="[二哈]"><img src="__STATIC__/chat/images/face/72.gif"></li>
                </ul>
            </div>
        </div>
        <div class="mui-slider-indicator">
            <div class="mui-indicator mui-active"></div>
            <div class="mui-indicator"></div>
            <div class="mui-indicator"></div>
            <div class="mui-indicator"></div>
        </div>
    </div>
</div>