<!--主聊页面-->
<div class="im-chat-main" style="padding-top:0px;padding-bottom:95px;">
    <ul id="msg_list" style="padding-top:5px;" >
        <block v-for="(item,i) in chatLog" >
            <p class="gray f12" style="text-align: center;">{{item.msg_time}}</p> 
            <li :class=" item.from_user_id == '{$userId}' ? 'im-chat-mine' : '' ">
                <div class="im-chat-user">
                    <img :src="userLists[item.from_user_id].headimg.file_path" v-if="userLists[item.from_user_id].headimg"/>
                    <img src="__STATIC__/defaultHeader.jpg" v-else/>
                    <cite v-if="userLists[item.from_user_id]">{{userLists[item.from_user_id].nickname}}</cite>
                    <cite v-if="!userLists[item.from_user_id]">游客</cite>
                </div>
                <div class="im-chat-text">{{item.message}}</div>
            </li>
        </block>
<!--
        <li class="im-chat-mine">
            <div class="im-chat-user">
                <img src="http://tva1.sinaimg.cn/crop.0.0.180.180.180/86b15b6cjw1e8qgp5bmzyj2050050aa8.jpg"/>
                <cite><i>2016-11-01 11:41:50</i>长泽梓Azusa</cite>
            </div>
            <div class="im-chat-text"><img class="msg-content-image" src="http://ww1.sinaimg.cn/mw690/186b15b6cjw1dojhue8wuzj.jpg"></div>
        </li>
        <li>
            <div class="im-chat-user">
                <img src="http://tp1.sinaimg.cn/1241679004/180/5743814375/0"/>
                <cite>罗玉凤<i>2016-11-01 11:40:23</i></cite>            
            </div>
            <div class="im-chat-text">不错呀 <img src="__STATIC__/chat/images/face/72.gif"></div>
        </li>        
-->
    </ul>
</div>
    <script>
        function scrollToBottom(){
            //滚动条到最底部(还有其他方法吗？)
            var msgList = document.getElementById("msg_list");
            document.getElementById("msg_list").scrollTop = msgList.scrollHeight + msgList.offsetHeight;
        }
    </script>
<script>
    /*
        window.onload = function(){
            var iScroll = new MyScroll('.im-chat-main', {})
 
            iScroll.on('beforestart', function(){
                console.log('beforestart');
            })
            iScroll.on('scroll', function(){
                console.log('scroll');
            })
            iScroll.on('scrollend', function(){
                console.log('scrollend');
            })
        }

    ;(function(){
        function MyScroll(selector, options){
            if(options == undefined){
                options = {}
            }
            this.options = {}
            this.eventQueue = [];       //MyScroll对象绑定事件队列
            //默认参数，暂时没用到
            this.options.bounce = options.bounce || true;
            this.options.scrollX = options.scrollX || false;
            this.options.scrollY = options.scrollY || true;
            
            var wrapper = document.querySelector(selector);     //外包元素，overflow样式值要为auto
            var slider = wrapper.children[0];       //滑块元素
            var startY = 0, top = 0, disY = 0;      //一些初始值，top为滑块移动距离            
            var that = this;
            
            slider.addEventListener('touchstart', start, false);
            slider.addEventListener('touchmove', move, false);
            slider.addEventListener('touchend', end, false);
 
            function start(e){
                // e.preventDefault();
                that.eventQueue.forEach(function(json){
                    if(json.type == 'beforestart'){
                        json.fn();
                    }
                })
                slider.style.transition = '';       //先清除滑块上的transition
                startY = e.targetTouches[0].clientY;    //该效果只写了纵向滑动的情况
                disY = startY - top;
            }
 
            function move(e){
                // e.preventDefault();
                that.eventQueue.forEach(function(json){
                    if(json.type == 'scroll'){
                        json.fn();
                    }
                })
                // console.log(wrapper.scrollTop)
                //当外包元素的scrollTop值为0时才有下拉效果
                if(wrapper.scrollTop == 0 && e.targetTouches[0].clientY - disY > 0){
                    top = e.targetTouches[0].clientY - disY;
                    slider.style.transform = 'translateY('+top+'px)';
                //当外包元素的scrollTop值为滑块元素的高减去外包元素的高时才有上拉效果
                }else if(wrapper.scrollTop == slider.offsetHeight-wrapper.offsetHeight &&  e.targetTouches[0].clientY - disY < 0){
                    top = e.targetTouches[0].clientY - disY;
                    slider.style.transform = 'translateY('+top+'px)';
                }
            }
 
            function end(){
                that.eventQueue.forEach(function(json){
                    if(json.type == 'scrollend'){
                        json.fn();
                    }
                })
                top = 0;
                slider.style.transition = '500ms';
                slider.style.transform = 'translateY('+top+'px)';
            }
        }
        //MyScroll对象绑定事件函数
        MyScroll.prototype.on = function(name, fn){
            this.eventQueue.push({type: name, fn: fn});
        }
 
        window.MyScroll = MyScroll;
    })();
     * 
         */
</script>
