<!--脚标-->
<template id="webChatInput{$tmpVueAppId}">
    <footer>
        <div class="footer-left">
            <i class="mui-icon chat-icon chat-icon-voice"></i>
        </div>
        <div class="footer-center">
            <textarea id="msg_text" type="text" class="input-text" v-model="message"></textarea>
            <div class="mui-btn mui-btn-outlined voice-btn">按住 说话</div>
        </div>
        <div class="footer-right">
            <i class="mui-icon chat-icon chat-icon-face" style="margin-right: 0.2rem; padding-left: 10px;"></i>
            <block v-if="!message">
                <i class="mui-icon chat-icon chat-icon-add-more" style="width: 46px;"></i>
            </block>
            <div class="mui-btn mui-btn-success" @click="messageSend()" v-if="message">发送</div>
        </div>
    </footer>    
</template>

<script>
    //组件
    Vue.component('xjr-chat-input', {
        //chat_with_socket_id：聊天对象socket连接id
        props: { chat_with_socket_id : String },
        template: '#webChatInput{$tmpVueAppId}',
        data: function () {
            return {
                //聊天记录列表
                chatLog : [],
                //输入框的消息内容
                message : '',
                //消息类型
                'msg_type':'text'
            }
        },
        methods :{
            afterChat: function( chatData ){
                //父组件接收消息
                this.$emit( "new_chat_message" , chatData );
            },
            messageSend : function(){
                console.log('聊天框组件xjr-chat-input：messageSend()执行开始');
                //没有发消息的情况
                if(!this.msg_type || !this.message){
                    return false;
                }
                //聊天消息发送
                var that = this;
                //聊天消息拼接
                var chatData = { "msg_type": this.msg_type, "message": this.message ,"from_user_id" :"{$userId}","receiver_id":"{$chatWithUserId}" };
                //socket在线则发socekt，不在线则发http离线消息
                if( that.chat_with_socket_id ){
                    //发送聊天消息
                    socketChatSend( chatData );
                    //聊天消息前端处理
                    that.afterChat ( chatData );
                } else {
                    //http发送聊天消息
                    that.chatMessageSend( chatData ,function( data ){
                        that.afterChat( data );
                    })
                }
            },
            //聊天消息发送
            {include file="xjryanse/common/vuejs/chatMessageSend"/}
        },
        watch :{
            
        },
        created : function(){
            //拉取聊天记录
            console.log('聊天框组件xjr-chat-input执行开始');
        }        
    });
</script>
