    <script>
        var App = new Vue({
            el: '#{$tmpVueAppId}',
            data: {
                //输入数据
                'chatLog': [],
                'userLists' :{:json_encode($userLists,JSON_UNESCAPED_UNICODE)},
                //消息类型
                'msg_type':'text',
                //消息内容
                'message' : '',
                //表情面板显示
                'faceShow' : true,
                //发送图片，视频，定位的面板显示
                'addShow' : true,
            },
            methods: {
                //获取聊天记录
                chatChatLogs : function(){
                    var that = this;
                    //弹层
                    $.ajax({
                        url: "{:url('webapi/chat/chatLogs',$paramInherit)}",
                        type: 'POST',
                        data: {"receiver_id":"{$chatWithUserId}"} ,
                        success: function (data) {
                            $('.loading').hide();
                            if(data.code == 0){
                                $.each( data.data.data ,function (index, element) {
                                    that.chatLog.unshift(element);
                                })
                                console.log(that.chatLog);
                                that.$nextTick(function () {
                                    //主聊天框滚动到最底部
                                    scrollToBottom();                                                          
                                })
                            } else {
                                console.log( data.message );
                            }
                        }
                    });
                },
                //聊天消息发送
                messageSend : function(){
                    //没有发消息的情况
                    if(!this.msg_type || !this.message){
                        return false;
                    }
                    //聊天消息发送
                    var that = this;
                    //聊天消息拼接
                    var chatData = { "msg_type": this.msg_type, "message": this.message ,"from_user_id" :"{$userId}","receiver_id":"{$chatWithUserId}" };
                    //socket在线则发socekt，不在线则发http离线消息
                    if( chatWithConnectId ){
                        //发送聊天消息
                        socketChatSend( chatData );
                        //聊天消息前端处理
                        that.afterChat ( chatData );
                    } else {
                        //http发送聊天消息
                        chatMessageSend( chatData ,function( data ){
                            that.afterChat( data.data );
                        })
                    }
                },
                /**
                 * 聊天后处理
                 */
                afterChat : function ( chatData ){
                    console.log(chatData);
                    //聊天记录拼到底部
                    this.chatLog.push( chatData );
                    //清空输入框
                    this.message = "";
                    this.$nextTick(function () {
                        //主聊天框滚动到最底部
                        scrollToBottom();
                    })
                },
                //http发送聊天消息
                {include file="_block/vuejs/chatMessageSend"/}
            },
            created: function () {
                this.chatChatLogs();
            },
        })
    </script>