<!--消息列表组件：pc和web通用-->
<template id="msglist{$tmpVueAppId}">
    <div class="im-chat-main" >
        <ul id="msg_list">
             <block v-for="(item,i) in chatLog" >
                <p class="gray f12" style="text-align: center;">{{item.msg_time}}</p> 
                <li :class=" item.from_user_id == user_id ? 'im-chat-mine' : '' ">
                    <div class="im-chat-user">
                        <img :src="user_lists[item.from_user_id].headimg.file_path" v-if="user_lists[item.from_user_id] && user_lists[item.from_user_id].headimg"/>
                        <img src="__STATIC__/defaultHeader.jpg" v-else/>
                        <cite v-if="user_lists[item.from_user_id]">{{user_lists[item.from_user_id].nickname}}</cite>
                        <cite v-if="!user_lists[item.from_user_id]">游客</cite>
                    </div>
                    <div class="im-chat-text">{{item.message}}</div>
                </li>
            </block>
        </ul>
    </div>
</template>
<script>
    //组件
    Vue.component('xjr-msglist', {
        //activeUserId:聊天用户id；user_lists聊天双方用户信息；new_chat_data新消息,user_id:主用戶id
        props: { active_user_id : String ,user_lists : Array, new_chat_message : Array ,user_id : String},
        template: '#msglist{$tmpVueAppId}',
        data: function () {
            return {
                //聊天记录列表
                chatLog : [],
            }
        },
        methods :{
            //获取聊天记录接口
            {include file="xjryanse/common/vuejs/chatChatLogs"/}
            //获取聊天记录，并进行数据处理
            getChatLogs : function(){
                var that = this;
                if(!that.active_user_id){
                    return false;
                }
                that.chatChatLogs( that.active_user_id ,function( data ){
                    //聊天记录写到数组中
                    $.each( data.data ,function (index, element) {
                        that.chatLog.unshift(element);
                    });
                    console.log(that.chatLog);
                    that.$nextTick(function () {
                        //主聊天框滚动到最底部
                        scrollToBottom();                                                          
                    });
                })
            },
            setLastRead : function(){
                var lastMsg = this.chatLog.slice(-1);
                if(!lastMsg.length){
                    return false;
                }
                console.log( '末条消息' );
                console.log( lastMsg[0] );
                //上报最后一条已读消息
                if( ws.readyState == 1 ){
                    //发送聊天消息
                    socketChatLastRead( this.user_id, this.active_user_id, lastMsg[0].id.toString() );
                } else {
                    //TODO http处理
                }
            }
        },
        watch :{
            active_user_id :function (newData,oldData){
                //清空聊天记录
                this.chatLog = [];
                //拉取聊天记录
                this.getChatLogs();
            },
            //监听新消息到达
            new_chat_message :function (newData,oldData){
                console.log( '-------msglist--------' );
                console.log(newData);
                //推入消息列表
                this.chatLog.push( newData );
                this.$nextTick(function () {
                    //主聊天框滚动到最底部
                    scrollToBottom();
                })
                //设定末条已读消息
                this.setLastRead();
            }
        },
        created : function(){
            //拉取聊天记录
            console.log('组件执行开始');
            this.getChatLogs();
            //设定末条已读消息
            this.setLastRead();
        }
    });
</script>
<script>
    function scrollToBottom(){
        //滚动条到最底部(还有其他方法吗？)
        var msglist = document.getElementById("msg_list");
        document.getElementById("msg_list").scrollTop = msglist.scrollHeight + msglist.offsetHeight;
    }
</script>