    {volist name = 'tmpDataField' id="vo"}
        {php} 
            $tmpVoId    = str_replace(['[',']'],'_',$vo['field']);
            $tmpVoField = str_replace(['[',']'],['["','"]'],$vo['field']);
        {/php}
        <!--隐藏域赋值-->
        {if $vo.type== 'hidden'}
            App.inputData.{$tmpVoField|raw}= "{$vo.default}";
        {/if}        
        <!--大数据量复选框-->
        {if $vo.type== 'multiSelect'}
            $("#{$tmpVoId}").select({
                  title: "{$vo.label}",
                  multi: true,
                  items: {:json_encode($vo.option,JSON_UNESCAPED_UNICODE)}
              });
        {/if}
        <!--单选框-->
        {if $vo.type== 'singleSelect'}
            $("#{$tmpVoId}").select({
                  title: "{$vo.label}",
                  items: {:json_encode($vo.option,JSON_UNESCAPED_UNICODE)}
              });
        {/if}
    {/volist}