ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
header {
  z-index: 1200;
  position: relative;
}
body::-webkit-scrollbar {
    display: none;
}
.page-container {
    position: fixed;
    width: 100%;
    height: 100vh;
    bottom:0px;
    right:0px;
}
.tpl-header-logo {
  width: 240px;
  height: 57px;
  display: table;
  text-align: center;
  position: relative;
  z-index: 1300;
}
.tpl-header-logo a {
  display: table-cell;
  vertical-align: middle;
}
.tpl-header-logo img {
  width: 170px;
}
.tpl-header-fluid {
  margin-left: 240px;
  height: 56px;
  padding-left: 20px;
  padding-right: 20px;
}
.tpl-header-switch-button {
  margin-top: 0px;
  margin-bottom: 0px;
  float: left;
  color: #cfcfcf;
  margin-left: -20px;
  margin-right: 0;
  border: 0;
  border-radius: 0;
  padding: 0px 22px;
  font-size: 22px;
  line-height: 55px;
}
.tpl-header-switch-button:hover {
  outline: none;
}
.tpl-header-search-form {
  height: 54px;
  line-height: 52px;
  margin-left: 10px;
}
.tpl-header-search-box,
.tpl-header-search-btn {
  transition: all 0.4s ease-in-out;
  color: #848c90;
  background: none;
  border: none;
  outline: none;
}
.tpl-header-search-box {
  font-size: 14px;
}
.tpl-header-search-box:hover,
.tpl-header-search-box:active {
  color: #fff;
}
.tpl-header-search-btn {
  font-size: 15px;
}
.tpl-header-search-btn:hover,
.tpl-header-search-btn:active {
  color: #fff;
}
.tpl-header-navbar {
  color: #fff;
}
.tpl-header-navbar li {
  float: left;
}
.tpl-header-navbar a {
  line-height: 56px;
  display: block;
  padding: 0 16px;
  position: relative;
}
.tpl-header-navbar a .item-feed-badge {
  position: absolute;
  top: 9px;
  left: 25px;
}
ul.tpl-dropdown-content {
  padding: 10px;
  margin-top: 0;
  width: 300px;
  background-color: #2f3638;
  border: 1px solid #525e62;
  border-radius: 0;
}
ul.tpl-dropdown-content li {
  float: none;
}
ul.tpl-dropdown-content:before,
ul.tpl-dropdown-content:after {
  display: none;
}
ul.tpl-dropdown-content .tpl-dropdown-menu-notifications-title {
  font-size: 12px;
  float: left;
  color: rgba(255, 255, 255, 0.7);
}
ul.tpl-dropdown-content .tpl-dropdown-menu-notifications-time {
  float: right;
  text-align: right;
  color: rgba(255, 255, 255, 0.7);
  font-size: 11px;
  width: 50px;
  margin-left: 10px;
}
ul.tpl-dropdown-content .tpl-dropdown-menu-notifications:last-child .tpl-dropdown-menu-notifications-item {
  text-align: center;
  border: none;
  font-size: 12px;
}
ul.tpl-dropdown-content .tpl-dropdown-menu-notifications:last-child .tpl-dropdown-menu-notifications-item i {
  margin-left: -6px;
}
ul.tpl-dropdown-content .tpl-dropdown-menu-messages:last-child .tpl-dropdown-menu-messages-item {
  text-align: center;
  border: none;
  font-size: 12px;
}
ul.tpl-dropdown-content .tpl-dropdown-menu-messages:last-child .tpl-dropdown-menu-messages-item i {
  margin-left: -6px;
}
ul.tpl-dropdown-content .tpl-dropdown-menu-notifications-item,
ul.tpl-dropdown-content .tpl-dropdown-menu-messages-item {
  padding: 12px;
  color: #fff;
  line-height: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
ul.tpl-dropdown-content .tpl-dropdown-menu-notifications-item:hover,
ul.tpl-dropdown-content .tpl-dropdown-menu-messages-item:hover,
ul.tpl-dropdown-content .tpl-dropdown-menu-notifications-item:focus,
ul.tpl-dropdown-content .tpl-dropdown-menu-messages-item:focus {
  background-color: #465154;
  color: #fff;
}
ul.tpl-dropdown-content .tpl-dropdown-menu-notifications-item .menu-messages-ico,
ul.tpl-dropdown-content .tpl-dropdown-menu-messages-item .menu-messages-ico {
  line-height: initial;
  float: left;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 6px;
  overflow: hidden;
}
ul.tpl-dropdown-content .tpl-dropdown-menu-notifications-item .menu-messages-ico img,
ul.tpl-dropdown-content .tpl-dropdown-menu-messages-item .menu-messages-ico img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}
ul.tpl-dropdown-content .tpl-dropdown-menu-notifications-item .menu-messages-time,
ul.tpl-dropdown-content .tpl-dropdown-menu-messages-item .menu-messages-time {
  float: right;
  text-align: right;
  color: rgba(255, 255, 255, 0.7);
  font-size: 11px;
  width: 40px;
  margin-left: 10px;
}
ul.tpl-dropdown-content .tpl-dropdown-menu-notifications-item .menu-messages-content,
ul.tpl-dropdown-content .tpl-dropdown-menu-messages-item .menu-messages-content {
  display: block;
  font-size: 13px;
  margin-left: 45px;
  margin-right: 50px;
}
ul.tpl-dropdown-content .tpl-dropdown-menu-notifications-item .menu-messages-content .menu-messages-content-time,
ul.tpl-dropdown-content .tpl-dropdown-menu-messages-item .menu-messages-content .menu-messages-content-time {
  margin-top: 3px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 11px;
}
.am-dimmer {
  z-index: 1200;
}
.am-modal {
  z-index: 1300;
}
.am-datepicker-dropdown {
  z-index: 1400;
}
.tpl-skiner {
  transition: all 0.4s ease-in-out;
  position: fixed;
  z-index: 10000;
  right: -130px;
  top: 65px;
}
.tpl-skiner.active {
  right: 0px;
}
.tpl-skiner-content {
  background: rgba(0, 0, 0, 0.7);
  width: 130px;
  padding: 15px;
  border-radius: 4px 0 0 4px;
  overflow: hidden;
}
.fc-content .am-icon-close {
  position: absolute;
  right: 0;
  top: 0px;
}
.tpl-skiner-toggle {
  position: absolute;
  top: 5px;
  left: -40px;
  width: 40px;
  color: #969a9b;
  font-size: 20px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.tpl-skiner-content-title {
  margin: 0;
  margin-bottom: 4px;
  padding-bottom: 4px;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.tpl-skiner-content-bar {
  padding-top: 10px;
}
.tpl-skiner-content-bar .skiner-color {
  transition: all 0.4s ease-in-out;
  float: left;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  cursor: pointer;
}
.tpl-skiner-content-bar .skiner-white {
  background: #fff;
  border: 2px solid #eee;
}
.tpl-skiner-content-bar .skiner-black {
  background: #000;
  border: 2px solid #222;
}
.sub-active {
  color: #fff!important;
}
.left-sidebar {
    transition: all 0.4s ease-in-out;
    width: 240px;
    padding-top: 57px;  
    z-index: 1104;
    top: 0;
    left: 0px;
    position: fixed;
    overflow: hidden;
    height: 100vh;
}
.left-menu{
    bottom:0px;
    top:0px;
    width:257px;    /**加了一个滚动条的宽度**/
    overflow: auto;
    height:calc(100vh - 225px );
}
.left-sidebar.xs-active {
  left: 0px;
}
.left-sidebar.active {
  left: -240px;
}
.tpl-sidebar-user-panel {
  padding: 22px;
  padding-top: 28px;
}
.tpl-user-panel-profile-picture {
  border-radius: 50%;
  width: 82px;
  height: 82px;
  margin-bottom: 10px;
  overflow: hidden;
}
.tpl-user-panel-profile-picture img {
  width: auto;
  height: 82px;
  vertical-align: middle;
}
.tpl-user-panel-status-icon {
  margin-right: 2px;
}
.user-panel-logged-in-text {
  display: block;
  color: #cfcfcf;
  font-size: 14px;
}
.tpl-user-panel-action-link {
  color: #6d787c;
  font-size: 12px;
}
.tpl-user-panel-action-link:hover {
  color: #a2aaad;
}
.sidebar-nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.sidebar-nav-sub {
  display: none;
}
.sidebar-nav-sub .sidebar-nav-link {
  font-size: 12px;
  padding-left: 30px;
}
.sidebar-nav-sub .sidebar-nav-link a {
  font-size: 12px;
  padding-left: 0;
}
.sidebar-nav-sub .sidebar-nav-link-logo {
  margin-right: 8px;
  width: 20px;
  font-size: 16px;
}
.sidebar-nav-sub-ico-rotate {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
.sidebar-nav-link-logo-ico {
  margin-top: 5px;
}
.sidebar-nav-heading {
  padding: 24px 17px;
  font-size: 15px;
  font-weight: 500;
}
.sidebar-nav-heading-info {
  font-size: 12px;
  color: #868E8E;
  padding-left: 10px;
}
.sidebar-nav-link-logo {
  margin-right: 8px;
  width: 20px;
  font-size: 16px;
}
.sidebar-nav-link {
  color: #fff;
}
.sidebar-nav-link a {
  display: block;
  color: #868E8E;
  padding: 10px 17px;
  border-left: #282d2f 3px solid;
  font-size: 14px;
  cursor: pointer;
}
.sidebar-nav-link a.active {
  cursor: pointer;
  border-left: #1CA2CE 3px solid;
  color: #fff;
}
.sidebar-nav-link a:hover {
  color: #fff;
}
.tpl-content-wrapper {
  transition: all 0.4s ease-in-out;
  position: relative;
  margin-left: 240px;
  z-index: 1101;
  min-height: 922px;
  border-bottom-left-radius: 3px;
}
.tpl-content-wrapper.xs-active {
  margin-left: 240px;
}
.tpl-content-wrapper.active {
  margin-left: 0;
}
.page-header {
  background: #424b4f;
  margin-top: 0;
  margin-bottom: 0;
  padding: 40px 0;
  border-bottom: 0;
}
.container-fluid {
  margin-top: 0;
  margin-bottom: 0;
  padding: 40px 0;
  border-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
}
.row {
  margin-right: -10px;
  margin-left: -10px;
}
.page-header-description {
  margin-top: 4px;
  margin-bottom: 0;
  font-size: 14px;
  color: #e6e6e6;
}
.page-header-heading {
  font-size: 20px;
  font-weight: 400;
}
.page-header-heading .page-header-heading-ico {
  font-size: 28px;
  position: relative;
  top: 3px;
}
.page-header-heading small {
  font-weight: normal;
  line-height: 1;
  color: #B3B3B3;
}
.page-header-button {
  transition: all 0.4s ease-in-out;
  opacity: 0.3;
  float: right;
  outline: none;
  border: 1px solid #fff;
  padding: 16px 36px;
  font-size: 23px;
  line-height: 23px;
  border-radius: 0;
  padding-top: 14px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  font-weight: 500;
}
.page-header-button:hover {
  background-color: #ffffff;
  color: #333;
  opacity: 1;
}
.widget {
  width: 100%;
  min-height: 148px;
  border-radius: 0;
  position: relative;
}
/**主窗口**/
.widget-main {
    height:calc(100vh - 100px );
    overflow:auto;
}
.widget-head {
  width: 100%;
  padding: 15px;
}
.widget-title {
  font-size: 14px;
}
.widget-fluctuation-period-text {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 9px;
}
.widget-body {
  padding: 13px 15px;
  width: 100%;
}
.row-content {
  padding: 10px;
}
.widget-fluctuation-description-text {
  margin-top: 4px;
  display: block;
  font-size: 12px;
  line-height: 13px;
}
.widget-fluctuation-description-amount {
  display: block;
  font-size: 20px;
  line-height: 22px;
}
.widget-statistic-header {
  position: relative;
  z-index: 35;
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.widget-body-md {
  height: 200px;
}
.widget-body-lg {
  min-height: 330px;
}
.widget-margin-bottom-lg {
  margin-bottom: 20px;
}
.tpl-table-black-operation a {
  display: inline-block;
  padding: 5px 6px;
  font-size: 12px;
  line-height: 12px;
}
.tpl-switch input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  width: 50px;
  height: 20px;
}
.tpl-switch input[type="checkbox"].ios-switch + div {
  vertical-align: middle;
  width: 40px;
  height: 20px;
  border-radius: 999px;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: .4s;
  -webkit-transition-property: background-color, box-shadow;
  margin-top: 6px;
}
.tpl-switch input[type="checkbox"].ios-switch:checked + div {
  width: 40px;
  background-position: 0 0;
  background-color: #36c6d3;
}
.tpl-switch input[type="checkbox"].tinyswitch.ios-switch + div {
  width: 34px;
  height: 18px;
}
.tpl-switch input[type="checkbox"].bigswitch.ios-switch + div {
  width: 50px;
  height: 25px;
}
.tpl-switch input[type="checkbox"].green.ios-switch:checked + div {
  background-color: #00e359;
  border: 1px solid #00a23f;
  box-shadow: inset 0 0 0 10px #00e359;
}
.tpl-switch input[type="checkbox"].ios-switch + div > div {
  float: left;
  width: 18px;
  height: 18px;
  border-radius: inherit;
  background: #ffffff;
  -webkit-transition-timing-function: cubic-bezier(0.54, 1.85, 0.5, 1);
  -webkit-transition-duration: 0.4s;
  -webkit-transition-property: transform, background-color, box-shadow;
  -moz-transition-timing-function: cubic-bezier(0.54, 1.85, 0.5, 1);
  -moz-transition-duration: 0.4s;
  -moz-transition-property: transform, background-color;
  pointer-events: none;
  margin-top: 1px;
  margin-left: 1px;
}
.tpl-switch input[type="checkbox"].ios-switch:checked + div > div {
  -webkit-transform: translate3d(20px, 0, 0);
  -moz-transform: translate3d(20px, 0, 0);
  background-color: #ffffff;
}
.tpl-switch input[type="checkbox"].tinyswitch.ios-switch + div > div {
  width: 16px;
  height: 16px;
  margin-top: 1px;
}
.tpl-switch input[type="checkbox"].tinyswitch.ios-switch:checked + div > div {
  -webkit-transform: translate3d(16px, 0, 0);
  -moz-transform: translate3d(16px, 0, 0);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px #0850ac;
}
.tpl-switch input[type="checkbox"].bigswitch.ios-switch + div > div {
  width: 23px;
  height: 23px;
  margin-top: 1px;
}
.tpl-switch input[type="checkbox"].bigswitch.ios-switch:checked + div > div {
  -webkit-transform: translate3d(25px, 0, 0);
  -moz-transform: translate3d(16px, 0, 0);
}
.tpl-switch input[type="checkbox"].green.ios-switch:checked + div > div {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0 0 0 1px #00a23f;
}
.tpl-page-state {
  width: 100%;
}
.tpl-page-state-title {
  font-size: 40px;
  font-weight: bold;
}
.tpl-page-state-content {
  padding: 10px 0;
}
.tpl-login {
  width: 100%;
}
.tpl-login-logo {
  max-width: 159px;
  height: 205px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.tpl-login-title {
  width: 100%;
  font-size: 24px;
}
.tpl-login-content {
  width: 300px;
  margin: 12% auto 0;
}
.tpl-login-remember-me {
  color: #B3B3B3;
  font-size: 14px;
}
.tpl-login-remember-me label {
  position: relative;
  top: -2px;
}
.tpl-login-content-info {
  color: #B3B3B3;
  font-size: 14px;
}
.cl-p {
  padding: 0!important;
}
.tpl-table-line-img {
  max-width: 100px;
  padding: 2px;
}
.tpl-table-list-select {
  text-align: right;
}
.fc-button-group,
.fc button {
  display: block;
}

.daohang{position:fixed;right:0;bottom:0;top:50px;left:210px; overflow:auto;width: 100%; height: 35px; background-color: #35404d;}
.daohang ul{ padding: 0px; margin: 2px 0 0 5px;list-style-type: none; }
.daohang li{ float: left; margin-right: 5px;}
.daohang .am-btn-xs{ padding: 0px 3px 0px 6px; line-height: 22px; overflow: hidden; font-size: 12px; margin: 0px;}
.daohang .am-close{ height: 14px; overflow: hidden; line-height: 14px; opacity: 0.3; color: #aaaaaa;}
.daohang .am-close:hover{ opacity: 1;}
.daohang .am-btn-default{ color:#a2abb6;background-color:#415164;border-color:#415164 }
.daohang .am-btn-default a{ color: #fff; }
.daohang .am-btn-default:hover,.daohang .am-btn-default:focus,.daohang .am-btn-default:active,.daohang .am-btn-default .am-active, .daohang .am-active .daohang .am-btn-default .am-dropdown-toggle{color:#fff;background-color:#ff6c60;border-color:#ff6c60;}

@media screen and (max-width: 1024px) {
  .tpl-index-settings-button {
    display: none;
  }
  .theme-black .left-sidebar {
    padding-top: 111px;
  }
  .left-sidebar {
    padding-top: 111px;
  }
  .tpl-content-wrapper {
    margin-left: 0;
  }
  .tpl-header-logo {
    float: none;
    width: 100%;
  }
  .tpl-header-navbar-welcome {
    display: none;
  }
  .tpl-sidebar-user-panel {
    border-top: 1px solid #eee;
  }
  .tpl-header-fluid {
    border-top: none;
    margin-left: 0;
  }
  .theme-white .tpl-header-fluid {
    border-top: none;
  }
  .theme-black .tpl-sidebar-user-panel {
    border-top: 1px solid #1f2224;
  }
}
@media screen and (min-width: 641px) {
  [class*=am-u-] {
      padding:10px;
/*    padding-left: 10px;
    padding-right: 10px;*/
  }
}
@media screen and (max-width: 641px) {
  .theme-white .tpl-error-title,
  .theme-black .tpl-error-title {
    font-size: 130px;
    line-height: 140px;
  }
  .theme-white .tpl-login-title {
    font-size: 20px;
  }
  .theme-white .tpl-login-content {
    width: 86%;
    padding: 22px 30px 25px;
  }
  .tpl-header-search {
    display: none;
  }
  ul.tpl-dropdown-content {
    position: fixed;
    width: 100%;
    left: 0;
    top: 112px;
    right: 0;
  }
}
