<!-- 首页用户信息模板 -->
<template id="huser">
    <div class="am-u-sm-12 am-u-md-12 am-u-lg-4 widget-margin-bottom-lg ">
        <div class="tpl-user-card am-text-center widget-body-lg">
            <div class="tpl-user-card-title">
                {{user_info.nickname}}
            </div>
            <div class="achievement-subheading">
                月度最佳员工
            </div>
            <img class="headimg" v-bind:src="user_info.headimg.file_path" v-if="user_info.headimg" >
            <img class="headimg" src="__STATIC__/defaultHeader.jpg" v-else>            
            <div class="achievement-description">
                禁言小张在
                <strong>30天内</strong> 禁言了
                <strong>200多</strong>人。
            </div>
        </div>
    </div>
</template>

<script>
    //定义hblock组件
    Vue.component('huser', {
        props: { user_info : Array },
        template: '#huser',
        data: function(){
            return {
                
            };
        },
        created :function(){
            console.log('huser开始执行');
        }
    });

</script>

<style>
    .headimg{
        height:100px;
        width:100px;
        border-radius:50%;
    }    
</style>