<!-- 内容区域 -->
<div class="tpl-content-wrapper" style="margin-left: 0px;" id="vue_add{:request()->module()}{:request()->controller()}{:request()->param('admKey')}">
    <div class="row-content am-cf">
        <div class="row" >
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget widget-main am-cf" >
                    <div class="widget-head am-cf">
                        <div class="widget-title am-fl"></div>
                        <div class="widget-function am-fr">
                            <a href="javascript:;" class="am-icon-cog"></a>
                        </div>
                    </div>
                    <div class="widget-body am-fr">
                        <form class="am-form tpl-form-border-form tpl-form-border-br" @submit.prevent="submit" id="myForm">
                            <!--只显示is_add字段；按后台配置宽度显示-->
                            <block v-for="(field,i) in columnHeader.listInfo" v-if="(field.is_add && formType == 'add') || (field.is_edit && formType == 'edit')">
                                <div class="am-form-group" :class=" 'am-u-sm-' + field.form_col"  v-if="field.type !='hidden' && field.type !='union'">
                                    <label for="user-name" class="am-form-label">{{field.label}}</label>
                                    <div>                                        
                                        <!--添加字段区-->
                                        {php} $tmpValueName = "inputData";{/php}
                                        {include file="xjryanse/amazeui/add/field" fieldName="field" /}
                                    </div>
                                </div>
                                <!--联表类型数据：union-->
                                <div class="am-form-group" :class=" 'am-u-sm-' + field.form_col"  v-if="field.type =='union'">
                                     <hr>
                                    <label for="user-name" class="am-form-label">{{field.label}}</label>
                                    <div>
                                        <!--子级表的循环-->
                                        <block v-for="(subField,j) in field.table_info.listInfo">
                                            <div class="am-form-group" :class=" 'am-u-sm-' + subField.form_col"  v-if="subField.type !='hidden' && subField.type !='union'">
                                                <label for="user-name" class="am-form-label">{{subField.label}}</label>
                                                <!--子级表的字段-->
<!--                                                    <cfield v-bind:type="subField.type" v-model="inputData.[ subField.name ]" v-bind:remark=" subField.remark"></cfield>-->
                                                    <cfield v-bind:type="subField.type" v-model="inputData[field.name][subField.name]" v-bind:remark=" subField.remark"></cfield>
                                            </div>
                                        </block>
                                        <!--子级表的循环结束-->
                                    </div>
                                </div>
                                <!--联表类型数据结束：union-->
                                <!--隐藏域-->
                                <input v-if="field.type =='hidden'" type="hidden" v-model="inputData[field.name]">
                            </block>
                            <div class="am-form-group" v-if="!isDetail">
                                <div class="am-u-sm-9 am-u-sm-push-3">
                                    <input type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success ">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 字段模板 -->
{include file="xjryanse/amazeui/component/cfield"/}
<script>
    var UEdit = [];    //ueditor对象实例
    //模块加载时的时间戳
    var LoadTimeStamp = parseInt((new Date).getTime());
    
    var app = new Vue({
        el: '#vue_add{:request()->module()}{:request()->controller()}{:request()->param('admKey')}',
        data: {
            'columnHeader' : {:json_encode($header)},
            'inputData':{:json_encode($row)},
            'formType':"{$formType}",
            //是否详情，非详情才可编辑
            'isDetail':"{$isDetail|default=''}"
        },
        methods: {
            //表单提交
            submit : function () {
                //参数刷新
                this.paramRefresh();
                //表单参数赋值
                let formData = JSON.stringify(this.inputData);
                console.log(formData);
                layer.confirm('确认提交？', function (index) {
                    //弹层
                    var layerIndex = layer.load(2);
                    $.ajax({
                        url: '{$formUrl}',
                        type: 'POST',
                        data: JSON.parse(formData) ,
                        success: function (data) {
                            //关闭弹层
                            layer.close(layerIndex);                            
                            if(data.code == 0){
                                layer.msg(data.message, {icon: 1, time: 1000});
                            } else {
                                layer.msg(data.message, {icon: 2});
                            }
                        }
                    });
                });
            },
            //上传图片
            uplPic : function ( e,name ){
                var that = this;
                var formData = new FormData();
                formData.append('file', $(e.target)[0].files[0]); // 文件数据
                if(!$(e.target)[0].files[0]){
                    return false;
                }
                $.ajax({
                    url: '{:config("xiesemi.picUplApiUrl")}',
                    type: 'POST',
                    cache: false,
                    data: formData,
                    processData: false,
                    contentType: false
                }).done(function(result) {
                    Vue.set(that.inputData, name, result.data);
                    console.log('上传完成');
                });
            },
            //参数刷新
            paramRefresh(){
                var that = this;
                that.columnHeader.listInfo.forEach(function(item,index){
                    //动态树
                    if(item.type=="dyntree" && ((item.is_add && that.formType == 'add') || (item.is_edit && that.formType == 'edit'))){
                        var tmpData = $("#"+item.name).attr('checks');    
                        //TODO寻求直接绑定到dom上的方法20201104
                        that.inputData[ item.name ] = tmpData.split( ',' );
                    }
                });
            },
            //模板设定，计算总价：data格式
//            {
//                "keyName": "商标租用价",
//                "plate": {
//                        "id": "5143732902235736157",
//                        "app_id": "5116224059889159898",
//                        "company_id": "5116226883423308145",
//                        "pid": "",
//                        "goods_id": "5136132095000709267",
//                        "prize_type": "",
//                        "prize_key": "plateTmRentPrize",
//                        "prize_name": "",
//                        "belong_role": "",
//                        "belong_user_id": "",
//                        "prize": "11",
//                        "sort": 1000,
//                        "status": 1,
//                        "has_used": 0,
//                        "is_lock": 0,
//                        "is_delete": 0,
//                        "remark": "",
//                        "creater": "5116456681068300574",
//                        "updater": "",
//                        "create_time": "2020-11-26 17:35:31",
//                        "update_time": "2020-11-28 09:30:59"
//                },
//                "seller": {
//                        "id": "5136132095084594594",
//                        "app_id": "5116224059889159898",
//                        "company_id": "5116226883423308145",
//                        "pid": "",
//                        "goods_id": "5136132095000709267",
//                        "prize_type": "",
//                        "prize_key": "sellerTmRentPrize",
//                        "prize_name": "卖家商标租用报价",
//                        "belong_role": "buyer",
//                        "belong_user_id": "",
//                        "prize": "2",
//                        "sort": 1000,
//                        "status": 1,
//                        "has_used": 0,
//                        "is_lock": 0,
//                        "is_delete": 0,
//                        "remark": "",
//                        "creater": "5135631036092253709",
//                        "updater": "",
//                        "create_time": "2020-11-05 18:12:38",
//                        "update_time": "2020-11-28 09:31:25"
//                },
//                "total": []
//        }
            //模板设定计算值
            tplSetCalTotal( data ,field ){
                var calValue = 0 ;
                $.each(data,function(index,item ){
                    if(index != 'total' && item[field]){
                        calValue = Number(calValue) + Number(item[field]);
                    }
                });
                return calValue;
            },
            /**
             * 模板设定计算单列合计值
             * data:二维数组（表格）
             */
            tplSetCalColTotal( data , key ,field ){
                var calValue = 0 ;
                $.each(data,function(indexInfo,itemInfo ){
                    $.each(itemInfo,function(index,item ){
                        if(index ==  key  && item[field]){
                            calValue = Number(calValue) + Number(item[field]);
                        }
                    });
                });
                return calValue;
            },
            /**
             * 模板设定计算全部合计值
             * data:二维数组（表格）
             */
            tplSetCalAllTotal( data , field ){
                var calValue = 0 ;
                $.each(data,function(indexInfo,itemInfo ){
                    $.each(itemInfo,function(index,item ){
                        if(item[field]){
                            calValue = Number(calValue) + Number(item[field]);
                        }
                    });
                });
                return calValue;
            },
            
            //模板字段设定
            {include file="xjryanse/amazeui/vuejs/SColumnTplset"/}
            //子数据项更新
            {include file="xjryanse/amazeui/vuejs/subUpdate"/}
        },
        computed : {
            
        },
        created: function () {
            var that = this;
            that.columnHeader.listInfo.forEach(function(item,index){
                //动态树
                if(item.type=="dyntree"){
                    that.$nextTick(function () {
                        console.log(item);
                        var defaults = {
                            zNodes: item.option.option,
                            height: 300
                        };
                        console.log( defaults );
//                        $("#"+item.name).drawMultipleTree(defaults);         
                        $("#"+item.name).treeSelect(defaults);    
                        $("#"+item.name).bind('input propertychange',function(){
                            console.log('text changed!!!');
                        });
                    })
                }
                //tplset模板set
                if(item.type=="tplset"){
                    console.log(item);
                    //获取
                    that.SColumnTplset( that.columnHeader.table_name, item.id, that.inputData.id, function( data ){
                        console.log(data);
                        var tmpOption = that.columnHeader.listInfo[index];
                        //解决不生效问题
                        tmpOption.option.option = data;
                        //解决不生效问题
                        that.$set( that.columnHeader.listInfo,index, tmpOption );
                    });
                }
                //编辑器
                if(item.type=="editor"){
                    that.$nextTick(function () {
                        //临时名称：字段名+时间戳
                        var tmpName = item.name + LoadTimeStamp;
                        UEdit[ tmpName ] = UE.getEditor( tmpName );
                        //限制固定高度，比较美观
                        UEdit[ tmpName ].ready(function() {
                            this.setHeight(500);
                        });
                        UEdit[ tmpName ].addListener("blur",function(){
                            //赋值到绑定数据
                            that.inputData[item.name] = UEdit[ tmpName ].getContent();
                        })
                    });
                }
            })
        }
    });
</script>