<!-- 用于包含组件的文件 -->
<!-- typeTab -->
{include file="xjryanse/amazeui/component/xjr-type-tab"/}
<!-- 按钮 -->
{include file="xjryanse/amazeui/component/xjr-button"/}
<!-- 数据块 -->
{include file="xjryanse/amazeui/component/xjr-block"/}
<!-- 表格 -->
{include file="xjryanse/amazeui/component/xjr-table"/}
<!-- 表名表格 -->
{include file="xjryanse/amazeui/component/xjr-table-table"/}
<!-- 简单表格 -->
{include file="xjryanse/amazeui/component/xjr-table-simple"/}
<!-- 表格字段 -->
{include file="xjryanse/amazeui/component/xjr-table-td"/}
<!-- 详细字段 -->
{include file="xjryanse/amazeui/component/xjr-detail"/}
<!-- 字段布局 -->
{include file="xjryanse/amazeui/component/xjr-field-flex"/}
<!-- 字段布局 -->
{include file="xjryanse/amazeui/component/xjr-field-table"/}
<!-- 字段混合 -->
{include file="xjryanse/amazeui/component/xjr-field-mix"/}
<!-- 字段 -->
{include file="xjryanse/amazeui/component/xjr-field"/}

<!-- ok字段模板 -->
{include file="xjryanse/amazeui/component/cfield"/}
<!-- 选择框 -->
{include file="xjryanse/amazeui/component/cselect"/}
<!-- ok树状选择模板 -->
{include file="xjryanse/amazeui/component/cdyntree"/}
<!-- ok价格模板 -->
{include file="xjryanse/amazeui/component/ctplset"/}
<!-- 编辑器模板 -->
{include file="xjryanse/amazeui/component/ceditor"/}
<!-- 上传图片模板 -->
{include file="xjryanse/amazeui/component/cuplimage"/}
<!-- 上传文件模板 -->
{include file="xjryanse/amazeui/component/cuplfile"/}

{include file="xjryanse/amazeui/component/cdatetime"/}
{include file="xjryanse/amazeui/component/cbigimage"/}
