{php}$tmpVueAppId = request()->module().request()->controller().request()->action().time();{/php}
{php}$tmpTime = time();{/php}
<body style="height:100%;">
    <div id="{$tmpVueAppId}">
        <!-- 内容区域 -->
        <!-- 内容区域 -->
        <div class="main-background">
            <div class="row-content am-cf">
                <!--主模块区域-->
                <div v-bind:class="'am-u-sm-12 am-u-md-' + columnInfo.block_width" v-if="columnInfo">
                    <div class="widget widget-main am-cf">
                        <div class="widget-head am-cf pd5">
                            <div class="widget-title  am-cf" v-if="title">{{title}}</div>
                            <div class="widget-title  am-cf" v-else>{{columnInfo.name}}</div>
                        </div>
                        <form class="am-form tpl-form-border-form tpl-form-border-br">
                            <div class="am-u-sm-12 am-u-md-6 am-u-lg-9">
                                <!--操作按钮区-->
                                {include file="xjryanse/amazeui/list/operate"/}
                            </div>
                            <div class="am-u-sm-12 am-u-md-12 am-u-lg-3" style="float:right;">
                                <!--工具按钮-->
                                {include file="xjryanse/amazeui/list/tool"/}
                            </div>
                            <div v-if="columnInfo.remark" class="f-orange f15 pd5" v-html="'说明：<br>'+ columnInfo.remark"></div>
                            <!--搜索选择框-->
                            <div class="am-u-sm-12" id='search{$tmpTime}' style="display:none" ref="getheight">
                                <list-search v-bind:list_info="columnInfo.listInfo" v-model="queryData" v-bind:fixed_data="fixedData" @search_list = "searchList()"></list-search>
                            </div>
                            <!--数据表格区-->
                            <div class="am-u-sm-12" style="overflow: hidden;">
                                <!--选项卡 根据请求参数是否有typeTab进行判断 @search_data="searchData" -->
                                <xjr-type-tab v-bind:type_tab="typeTab"  
                                              v-bind:list_info="columnInfo.listInfo"
                                              v-model="typeTabValue"
                                              v-if="typeTab"></xjr-type-tab>
                                <!--表格-->
                                <xjr-table ref="xjr_table" 
                                           list_url   = "{:url('',$paramInherit)}"
                                           edit_url   = "{:url('edit',$paramInherit)}"
                                           copy_url   = "{:url('copy',$paramInherit)}"
                                           delete_url = "{:url('del',$paramInherit)}"
                                           update_url = "{:url('update',$paramInherit)}"
                                           v-bind:query_data="queryData"
                                           v-model="selectItems"
                                           @on_item_select="onItemSelect"
                                           v-bind:height = "{height}"
                                    ></xjr-table>
                            </div>
                        </form>
                    </div>
                </div>                
                <!--子模块区域-->
                <xjr-block v-for="(block,k) in columnInfo.blockInfo" 
                           v-bind:block_info="block"
                           v-bind:main_data="currentSelectItem"
                           @get_lists          =   "getLists"
                        ></xjr-block>
            </div>
        </div>
    </div>
    
    <!-- 组件列表 -->
    {include file="xjryanse/amazeui/list/list-search"/}
    
    
    <script>
        /**
         * 列表编辑框不可见
         */
        $('.listEditInput').addClass('borderHide');
        
        var app = new Vue({
            el: '#{$tmpVueAppId}',
            data: {
                'columnInfo': {:json_encode($columnInfo)},
                'queryData' : {:json_encode(request()->param())},
                //固定值，清空不变
                'fixedData' : {:json_encode(request()->param())},
                'typeTab'   : '{:request()->param('typeTab','')}',
                'isDetail'  : true,
                //主表当前选中字段
                'currentSelectItem' : [],
                'selectItems' : [],
                'typeTabValue': "",
                'height': "0",
                //表头
                'title' :'{:request()->param('title','')}'                
            },
            watch:{
                //主数据变化即触发
                selectItems : {
                    handler :function(newName, oldName) {
                        //复选框和单选框选中数据作为绑定值
                        console.log('heheheheheheheh');
                        console.log( newName );
                    },
                    // 代表在wacth里声明了firstName这个方法之后立即先去执行handler方法
                    immediate: true
                },            
                //主数据变化即触发
                queryData : {
                    handler :function(newName, oldName) {
                        if( this.$refs.xjr_table ){
                            this.$refs.xjr_table.searchList(newName);
                        }
                    },
                    // 代表在wacth里声明了firstName这个方法之后立即先去执行handler方法
                    immediate: true
                },
                typeTabValue : {
                    handler :function(newName, oldName) {
                        if(this.$refs.xjr_table){
                            this.$refs.xjr_table.searchData(this.typeTab,newName);
                        }
                    },
                    // 代表在wacth里声明了firstName这个方法之后立即先去执行handler方法
                    immediate: true
                },
            },
            mounted : function(){
                this.$nextTick(()=>{ // 页面渲染完成后的回调
                    console.log(this.$refs.getheight.offsetHeight+"我在这")
                })
            },
            methods: {
                //用于触发主表数据刷新
                getLists :function(){
                    this.$refs.xjr_table.getLists();
                },
                /**
                 * 单选中事件的搜索
                 */
                onItemSelect :function( item ){
                    this.currentSelectItem = item;
                },
//                //搜索数据
//                searchData : function (key,value)
//                {
//                    this.$refs.xjr_table.searchData(key,value);
//                },
                //全局搜索数据
                searchList : function (){
                    this.$refs.xjr_table.searchList(this.queryData);
                },                
                //搜索更多的选框
                searchMore :function() {
                    //慢慢地切入和淡出
                    $("#search{$tmpTime}").slideToggle("normal");
                    let timer = setTimeout(()=>{   //设置延迟执行
                        console.log(this.$refs.getheight.offsetHeight+"我在这")
                        this.height = this.$refs.getheight.offsetHeight
                        clearTimeout(timer);
                    },500);
                    
                },
                //全屏
                fullScreen :function(){
                    var fullscreenElement = document.fullscreenElement ||
                                            document.mozFullScreenElement ||
                                            document.webkitFullscreenElement;
                    if (fullscreenElement == null) {
                        fullscreen();
                    } else {
                        exitFullscreen();
                    }
                }
            },
            created: function () {
                console.log('12121');
                //typeTab类型字段
                if(this.fixedData['typeTab']){
                    this.typeTabValue = this.fixedData[ this.fixedData['typeTab'] ];
                }
            }
        });
    </script>

</body>

