{php}$tmpVueAppId = request()->module().request()->controller().request()->action().time();{/php}
{php}$tmpTime = time();{/php}
<body style="height:100%;">
    <div id="{$tmpVueAppId}">
        <!-- 内容区域 -->
        <!-- 内容区域 -->
        <div class="main-background">
            <div class="row-content am-cf">
                <!--主模块区域-->
                <div v-bind:class="'am-u-sm-12 am-u-md-' + columnInfo.block_width" v-if="columnInfo">
                    <div class="widget widget-main am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title  am-cf">{{columnInfo.name}}</div>
                        </div>
                        <form class="am-form tpl-form-border-form tpl-form-border-br">
                            <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                                <!--操作按钮区-->
                                {include file="xjryanse/amazeui/list/operate"/}
                            </div>
                            <div class="am-u-sm-12 am-u-md-12 am-u-lg-3" style="float:right;">
                                <!--工具按钮-->
                                {include file="xjryanse/amazeui/list/tool"/}
                            </div>
                            <!--搜索选择框-->
                            <div class="am-u-sm-12" id='search{$tmpTime}' style="display:none">
                                {include file="xjryanse/amazeui/list/search"/}
                            </div>
                            <!--数据表格区-->
                            <div class="am-u-sm-12" style="overflow: hidden;">
                                <!--选项卡 根据请求参数是否有typeTab进行判断-->
                                <xjr-type-tab type_tab="{:request()->param('typeTab','')}" 
                                              v-bind:list_info="columnInfo.listInfo"
                                              @search_data="searchData" v-if="'{:request()->param('typeTab','')}'"></xjr-type-tab>
                                <!--表格-->
                                <xjr-table ref="xjr_table" 
                                           edit_url   = "{:url('edit',$paramInherit)}"
                                           copy_url   = "{:url('copy',$paramInherit)}"
                                           delete_url = "{:url('del',$paramInherit)}"
                                           v-bind:query_data="queryData"
                                    @on_item_select="onItemSelect"></xjr-table>
                            </div>
                        </form>
                    </div>
                </div>                
                <!--子模块区域-->
                <xjr-block v-for="(block,k) in columnInfo.blockInfo" 
                           v-bind:block_info="block"
                           v-bind:main_data="currentSelectItem"
                           @get_lists="getLists"></xjr-block>
            </div>
        </div>
    </div>
    
    <!-- 组件列表 -->
    {include file="xjryanse/amazeui/components"/}
    
    
    <script>
        /**
         * 列表编辑框不可见
         */
        $('.listEditInput').addClass('borderHide');
        
        var app = new Vue({
            el: '#{$tmpVueAppId}',
            data: {
                'columnInfo' : {:json_encode($columnInfo)},
                'queryData': {:json_encode(request()->param())},
                'isDetail' : true,
                //主表当前选中字段
                'currentSelectItem' : [],
            },
            methods: {
                //用于触发主表数据刷新
                getLists(){
                    this.$refs.xjr_table.getLists();                    
                },                
                /**
                 * 单选中事件的搜索
                 */
                onItemSelect :function( item ){
                    this.currentSelectItem = item;
                },
                //搜索数据
                searchData : function (key,value)
                {
                    this.$refs.xjr_table.searchData(key,value);
                },
                //全局搜索数据
                searchList : function (){
                    this.$refs.xjr_table.searchList(this.queryData);
                },                
                //搜索更多的选框
                searchMore() {
                    //慢慢地切入和淡出
                    $("#search{$tmpTime}").slideToggle("normal");
                },
                //全屏
                fullScreen(){
                    var fullscreenElement = document.fullscreenElement ||
                                            document.mozFullScreenElement ||
                                            document.webkitFullscreenElement;
                    if (fullscreenElement == null) {
                        fullscreen();
                    } else {
                        exitFullscreen();
                    }
                },
            },
            created: function () {

            }
        });
    </script>

</body>

