{php} $tmpValueName = $tmpListKey.".data";{/php}
<block v-if="{$tmpListKey}.columnInfo && {$tmpListKey.'.data'}" >
    {notempty name="tmpListTablesInfo"}
        <!--动态的表信息ydzb_system_column_block_table_fields-->
        {volist name="tmpListTablesInfo" id="tmpListTables"}
            {php}$tmpListFields = explode(',',$tmpListTables['fields']);{/php}
                <block v-if="{$tmpTableNameKey}.table_name == '{$tmpListTables['table_name']}'">
                    {volist name="tmpListFields" id="tmpListField"}
                        <div class="am-form-group am-u-sm-12" v-for="(field,i) in {$tmpTableNameKey}.listInfo" v-if="field.name == '{$tmpListField}'">
                            <label class="am-u-sm-3 am-form-label">{{field.label}}</label>
                            <!--用详情-->
                            {include file="xjryanse/amazeui/add/detail" fieldName="field"  /}
                        </div>
                    {/volist}
                    {:json_encode($tmpListFields)}
                    <xjr-detail v-bind:list_info="{$tmpTableNameKey}.listInfo" 
                                fields={:json_encode($tmpListFields)}
                                v-bind:data="{$tmpValueName}"
                            ></xjr-detail>
                </block>
        {/volist}
    {else /}
        <!--写死的表信息-->
        {volist name="tmpListFields" id="tmpListField"}
            <div class="am-form-group am-u-sm-12" v-for="(field,i) in {$tmpListKey}.columnInfo.listInfo" v-if="field.name == '{$tmpListField}'">
                <label class="am-u-sm-3 am-form-label">{{field.label}}</label>
                <!--用详情-->
                {include file="xjryanse/amazeui/add/detail" fieldName="field"  /}
            </div>        
        {/volist}
        {{{$tmpListKey}.columnInfo.listInfo}}
        <xjr-detail v-bind:list_info="{$tmpListKey}.columnInfo.listInfo" 
                    fields={:json_encode($tmpListFields)}
                    v-bind:data="{$tmpValueName}"
                ></xjr-detail>        
        
    {/notempty}
</block>
