<div style="overflow:hidden;">
    <table width="100%" class="tpl-table-black am-table-bordered" 
           id ="mainTableHeader"
           v-if="{$tmpListKey}.columnInfo" style="font-size:12px;">
        <thead>
            <tr>
                <th style="min-width:10px;"></th>
                <th v-for="(field,i) in {$tmpListKey}.columnInfo.listInfo" v-if="field.is_list">{{field.label}}</th>
                <th>操作</th>
            </tr>
        </thead>
    </table>
</div>
<div style="overflow:auto;height:calc(70vh)">
    <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black am-table-bordered" 
           id ="main_table"
           v-if="{$tmpListKey}.columnInfo" style="font-size:12px;">      
        <tbody>
            <tr v-if="{$tmpListKey}.data.length == 0" >
                <td colspan=99 style="text-align:center;"> 暂无数据 </td>
            </tr>

            <tr class="gradeX" style="white-space: nowrap;" v-for="(item,i) in {$tmpListKey}.data" v-if="{$tmpListKey}.data.length">
                <!--必有的单选框-->
                <td>
                    <label class="am-radio">
                        <input type="radio" name="id" :value="item['id']" data-am-ucheck @click="onItemSelect(item)">
                    </label>
                </td>
                <!--数据-->
                {include file="xjryanse/amazeui/list/_block/field"/}
                <!--操作按钮-->
                <td>
                    <div class="tpl-table-black-operation" style="float:right;">
                        <!--操作-->
                        <block v-for="(operate,k) in {$tmpListKey}.columnInfo.operateInfo">
                            <!--编辑-->
                            <cbutton v-if="operate.operate_key == 'edit'" type="tableOperate"
                                icon='pencil' width = "90%"  height = "90%" 
                                v-bind:button_name="operate['operate_name']" 
                                v-bind:url= "'{:url('edit',$paramInherit)}?id='+item.id" 
                            ></cbutton>
                            <!--删除-->
                            <a href="javascript:;" class="tpl-table-black-operation-del" v-if="operate.operate_key == 'delete'" v-on:click="deleteItem(item)">
                                <i class="am-icon-trash"></i> {{operate['operate_name']}}
                            </a>
                            <!--复制-->
                            <a href="javascript:;" v-if="operate.operate_key == 'copy'" v-on:click="copyItem(item)">
                                <i class="am-icon-copy"></i> {{operate['operate_name']}}
                            </a>
                        </block>
                        <!--按钮-->
                        {php} $tmpBtnColumnInfoName = $tmpListKey.".columnInfo"; {/php}
                        {php} $tmpItemValueName     = "item";  {/php}
                        {include file="xjryanse/amazeui/list/operate/btn"/}
                    </div>
                </td>
            </tr>
        </tbody>
    </table>    
</div>
<!--页码-->
{include file="xjryanse/amazeui/list/_block/paginate"/}

<script>


</script>