<!-- 列表的字段组件 -->
<template id="list-search">
    <block>
        <div class="am-u-sm-12 am-u-md-6 pd1" style="float:left;min-height:40px;" 
                v-for="(field,i) in list_info" 
                v-if="field.search_type != -1 && field.is_list == 1"
                v-if="field.type=='text' || field.type=='enum' || field.type=='dynenum'"
                v-bind:class=" field.type == 'date' ? 'am-u-lg-4' : 'am-u-lg-2'"
           >
            <div class="am-u-md-4 f14 pd1" style="line-height: 35px;min-height:40px;text-align:right;">
               {{field.label}}
            </div>
            <div class="am-u-md-8 pd1" style="min-height:40px;">
                <!--输入框{{field}}-->
                <div class="am-form-group " v-if = "field.type=='text' || field.type=='listedit' || field.type=='textarea'" >
                    <input type="text" class="am-form-field f14" placeholder="请输入" v-model="value[field.name]">
                </div>
                <!--枚举框-->
                <div class="am-form-group " v-if = "field.type=='enum'">
                    <cselect v-bind:option="field.option" v-model="value[field.name]" v-bind:multiple="field.search_type == 'in' ? 1 : null"></cselect>
                </div>
                <!--动态枚举框-->
                <div class="am-form-group " v-if = "field.type=='dynenum'">
                    <cselect v-bind:option="field.option.option" v-model="value[field.name]" v-bind:multiple="field.search_type == 'in' ? 1 : null"></cselect>
                </div>
                <!--开关-->
                <div class="am-form-group " v-if = "field.type=='switch'">
                    <cselect option="关开" v-model="value[field.name]"></cselect>
                </div>    
                <div class="am-form-group " v-if = "field.type=='date'">
                    <cdatetime v-model="value[field.name]" range="1"></cdatetime>
                </div>               
            </div>
       </div>

       <div class="am-u-sm-12 am-u-md-6 am-u-lg-4" style="float:left;min-height:40px;position:relative" >
           <div>
               <button class="am-btn am-btn-success am-icon-search pd5" type="button" v-on:click="$emit('search_list')"><span class="f14">搜索</span></button>
               <button class="am-btn am-btn-success am-icon-repeat pd5" type="button" v-on:click="resetValue()"><span class="f14">清空</span></button>
           </div>
       </div>
    </block>
</template>

<script>
    //定义hblock组件
    Vue.component('list-search', {
        //列表信息:列表编辑：项目
        //table_name:tplset的表名
        //list_info：字段信息；value :请求数据；fixed_data ：固定数据，清空时不清
        props: { list_info : Array ,value :Array , fixed_data : Array},
        template: '#list-search',
        watch:{
            value : {
                handler(newName, oldName) {
                    console.log( newName );
                    this.$emit('input', newName );
                },
                // 代表在wacth里声明了firstName这个方法之后立即先去执行handler方法
                immediate: true
            },
        },
        methods : {
            //重置
            resetValue : function ( ){
                this.value = this.fixed_data;
                console.log( this.fixed_data );
                this.$emit('input', this.value );
            }
        },        
        created: function () {
            
        }
    });
</script>
