<div class="am-form-group">
    <div class="am-btn-toolbar">
        <div class="am-btn-group am-btn-group-xs" v-if="dataList.columnInfo">
            <block v-for="(operate,k) in dataList.columnInfo.operateInfo">
                <!--新增-->
                <cbutton v-if="operate.operate_key == 'add'" type='layerPage'  
                         icon='plus' width = "90%"  height = "90%" 
                         btn_style="primary" size="small" 
                         v-bind:button_name="operate['operate_name']" 
                         v-bind:url= "'{:url('/admin/system/edit',array_merge($paramInherit,['admKey'=>'column']))}?id=' + dataList.columnInfo.id" 
                    ></cbutton>
                <!--导入-->
                <a href="javascript:;" v-if="operate.operate_key == 'import'">
                    <button type="button" class="am-btn am-btn-default am-btn-secondary">
                        <span class="am-icon-cloud-upload"></span> {{operate['operate_name']}}
                    </button>
                </a>
                <!--导出-->
                <a href="{:url('export',$paramInherit)}" target="_blank" v-if="operate.operate_key == 'export'">
                    <button type="button" class="am-btn am-btn-default am-btn-warning">
                        <span class="am-icon-cloud-download"></span> {{operate['operate_name']}}
                    </button>
                </a>
            </block>
            <!--数据：表信息-->
            <cbutton type='layerPage'  button_name='表' icon='reddit' width = "90%"  height = "90%" btn_style="primary" size="small" 
                     v-bind:url= "'{:url('/admin/system/edit',array_merge($paramInherit,['admKey'=>'column']))}?id=' + dataList.columnInfo.id" 
                ></cbutton>
            <!--数据：字段信息-->
            <cbutton type='layerPage'  button_name='字段' icon='reddit' width = "90%"  height = "90%" btn_style="primary" size="small" 
                     url= '{:url('/admin/system/list',array_merge($paramInherit,['admKey'=>'columnList']))}' 
                     v-bind:form_data = {column_id:dataList.columnInfo.id} 
                ></cbutton>
            <!--数据：按钮信息-->
            <cbutton type='layerPage'  button_name='按钮' icon='reddit' width = "90%"  height = "90%" btn_style="success"
                     url= '{:url('/admin/system/list',array_merge($paramInherit,['admKey'=>'columnBtn']))}' 
                     v-bind:form_data = {column_id:dataList.columnInfo.id} 
                ></cbutton>
            <!--数据：块信息-->
            <cbutton type='layerPage'  button_name='数据块' icon='reddit' width = "90%"  height = "90%" btn_style="success"
                     url= '{:url('/admin/system/list',array_merge($paramInherit,['admKey'=>'columnBlock']))}' 
                     v-bind:form_data = {column_id:dataList.columnInfo.id} 
                ></cbutton>
        </div>
    </div>
</div>