<div class="am-form-group">
    <div class="am-btn-toolbar">
        <div class="am-btn-group am-btn-group-xs" v-if="columnInfo">
            <!--按钮的循环显示-->
            <xjr-button show_name="true"
                        v-for="(btn,k) in columnInfo.btnInfo" 
                        v-if="btn.place == 'head'"
                        v-bind:width        =   "btn.layer_width"
                        v-bind:height       =   "btn.layer_height"
                        v-bind:operate      =   "btn.o_type" 
                        v-bind:icon         =   "btn.icon" 
                        v-bind:button_cate  =   "btn.btn_cate" 
                        v-bind:btn_style    =   "btn.btn_style" 
                        v-bind:button_name  =   "btn.name"
                        v-bind:url          =   "btn.url" 
                        v-bind:title        =   "btn.title" 
                        v-bind:confirm      =   "btn.confirm"
                        v-bind:prompt       =   "btn.prompt"
                        v-bind:prompt_default=   "btn.prompt_default"
                        v-bind:data         =   "fixedData" 
                        v-bind:form_data    =   "{'id':selectItems}"
                        v-bind:show_condition= 'btn.show_condition'
                        v-bind:no_match_style= "btn.no_match_style"
                        @get_lists          =   "getLists"
                    ></xjr-button>

            <block v-for="(operate,k) in columnInfo.operateInfo">
                <!--新增-->
                <xjr-button operate="layerIframePage" icon="plus" width = "90%"  height = "90%" button_cate="button" 
                            btn_style="primary" size="small" 
                            url          = "{:url('add',array_merge($paramInherit,request()->param()))}" 
                            v-if="operate.operate_key == 'add'"
                            v-bind:button_name  ="operate['operate_name']"
                            @get_lists ="getLists"
                        ></xjr-button>
                <!--导入-->
                <xjr-button icon="cloud-upload" width = "90%"  height = "90%" button_cate="import"
                            btn_style="secondary" size="small" 
                            v-bind:url          = "[operate['ajax_url'] ? operate['ajax_url'] : '{:url('import',array_merge($paramInherit,request()->param()))}']" 
                            v-if="operate.operate_key == 'import'"
                            v-bind:button_name  ="operate['operate_name']"
                            @get_lists ="getLists"
                        ></xjr-button>
                <!--导出-->
                <xjr-button operate="newPage" icon="cloud-download" width = "90%"  height = "90%" button_cate="button" 
                            btn_style="warning" size="small" 
                            url          = "{:url('export',$paramInherit)}" 
                            v-if="operate.operate_key == 'export'"
                            v-bind:button_name  ="operate['operate_name']"
                        ></xjr-button>
                <!--模板-->
                <xjr-button operate="newPage" icon="cloud-download" width = "90%"  height = "90%" button_cate="button" 
                            btn_style="primary" size="small" 
                            url          = "{:url('template',$paramInherit)}" 
                            v-if="operate.operate_key == 'template'"
                            v-bind:button_name  ="operate['operate_name']"
                        ></xjr-button>
            </block>
            {if $admUser['admin_type'] == 'super' && $sysConfigs['isDevMode']}
                <!--数据：表信息-->
                <xjr-button operate="layerIframePage" icon="" width = "90%"  height = "90%" button_cate="button" 
                            btn_style="primary" size="small" 
                            button_name  ="表"
                            v-bind:url= "'{:url('/admin/system/edit',array_merge($paramInherit,['admKey'=>'column']))}?id=' + columnInfo.id"
                        ></xjr-button>
                <!--数据：字段信息-->
                <xjr-button operate="layerPage" icon="" width = "90%"  height = "90%" button_cate="button" 
                            btn_style="primary" size="small" 
                            url     = "{:url('/admin/system/list',array_merge($paramInherit,['admKey'=>'columnList','per_page'=>1000]))}"
                            button_name  ="字段"
                            v-bind:form_data = {column_id:columnInfo.id} 
                        ></xjr-button>
                <!--数据：按钮信息-->
                <xjr-button operate="layerPage" icon="" width = "90%"  height = "90%" button_cate="button" 
                            btn_style="success" size="small" 
                            url     = "{:url('/admin/system/list',array_merge($paramInherit,['admKey'=>'columnBtn']))}"
                            button_name  ="按钮"
                            v-bind:form_data = {column_id:columnInfo.id} 
                        ></xjr-button>
                <!--数据：操作信息-->
                <xjr-button operate="layerPage" icon="" width = "90%"  height = "90%" button_cate="button" 
                            btn_style="primary" size="small" 
                            url     = "{:url('/admin/system/list',array_merge($paramInherit,['admKey'=>'columnOperate']))}"
                            button_name  ="操作"
                            v-bind:form_data = {column_id:columnInfo.id} 
                        ></xjr-button>                
                <!--数据：块信息-->
                <xjr-button operate="layerPage" icon="" width = "90%"  height = "90%" button_cate="button" 
                            btn_style="success" size="small" 
                            url     = "{:url('/admin/system/list',array_merge($paramInherit,['admKey'=>'columnBlock']))}"
                            button_name  ="数据块"
                            v-bind:form_data = {column_id:columnInfo.id} 
                        ></xjr-button>
                <!--数据：按钮信息-->
                <xjr-button operate="layerPage" icon="" width = "90%"  height = "90%" button_cate="button" 
                            btn_style="success" size="small" 
                            url     = "{:url('/admin/system/list',array_merge($paramInherit,['admKey'=>'fieldsInfo']))}"
                            button_name  ="关联"
                            v-bind:form_data = {table_name:columnInfo.table_name} 
                        ></xjr-button>
                <!--数据：对多信息-->
                <xjr-button operate="layerPage" icon="" width = "90%"  height = "90%" button_cate="button" 
                            btn_style="success" size="small" 
                            url     = "{:url('/admin/system/list',array_merge($paramInherit,['admKey'=>'fieldsMany']))}"
                            button_name  ="对多"
                            v-bind:form_data = {table_name:columnInfo.table_name} 
                        ></xjr-button>                
            {/if}
        </div>
    </div>
</div>