<!--工具按钮-->
<!--筛选-->
<div class="am-btn-group">
    <button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-shield" type="button" 
            v-on:click="searchMore()"
            >筛选</button>
</div>
<!--刷新-->
<div class="am-btn-group">
    <button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-repeat" type="button" 
            v-on:click="myContentChange('{:request()->url()}')"
            >刷新</button>
</div>
<!--全屏-->
<div class="am-btn-group">
    <button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-facebook" type="button" 
            v-on:click="fullScreen()"
            >全屏</button>
</div>