<!--工具按钮-->
<!--筛选-->
<div class="am-btn-group">
    <button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-shield" type="button" 
            v-on:click="searchMore()"
            >筛选</button>
</div>
<!--刷新 数据-->
<div class="am-btn-group">
    <button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-repeat" type="button" 
            v-on:click="getLists()"
            >刷新</button>
</div>
<!--全屏-->
<div class="am-btn-group">
    <xjr-button operate="fullScreen" icon="facebook" width = "90%"  height = "90%" button_cate="button" 
                btn_style="success"
                button_name  ="全屏"
            ></xjr-button>
</div>