<!--链接tab-->
<!--
    $linkTab['label'] = '标签';
    $linkTab['is_current'] = true;
    $linkTab['url'] = '……';
-->
{if request()->param('typeTab','') }
    {php}$typeTab = request()->param('typeTab','');{/php}
    <ul class="am-tabs-nav am-nav am-nav-tabs" v-for="(field,i) in dataList.columnInfo.listInfo" v-if="field.name == '{$typeTab}'">
        <li><a href="javascript:;" @click="searchData('{$typeTab}','')">全部</a></li>
        <li v-for="(item,j) in field.option"><a href="javascript:;" @click="searchData('{$typeTab}',j)">{{item}}</a></li>
    </ul>
{/if}

