<!-- 字段组件 -->
<template id="we-cell-sms">
    <div class="weui-cell">
        <div class="weui-cell__hd"><we-label v-bind:label="label"></we-label></div>
        <div class="weui-cell__bd">
            <we-field type="number" v-model="value" v-bind:remark="'请输入'+ label" maxlength="6"></we-field>
        </div>
        <div class="weui-btn weui-btn_mini"
             v-bind:class="{ 'bg-gray f-black': isSmsCodeLocked == false, 'bg-orange f-white': isSmsCodeLocked }"
             @click.stop="smsCodeSend()">{{verifyText}}</div>
    </div>
</template>

<script>
    //定义hblock组件
    Vue.component('we-cell-sms', {
        //smsPhone:短信发送的手机，smsKey：短信key
        props: { value : Array, type :String, label:String, max_length :String, sms_phone : String, sms_key :String  },
        template: '#we-cell-sms',
        data: function(){
            return {
                "isSmsCodeLocked": true,
                "verifyText":"获取验证码",            
                "smsSeconds":60,                
            };
        },
        methods : {
            //短信验证码发送
            smsCodeSend : function ( ) {
                var that = this;
                console.log(that.sms_phone);
                console.log(that.isSmsCodeLocked);
                if(! that.sms_phone ){
                    $.toast("请先输入手机号码", "cancel");
                    return false;
                }

                if(that.isSmsCodeLocked){
                    //此处获取验证码
                     $.ajax({
                        url:"{:url('webapi/sms_code/send',$paramInherit)}",
                        type:'POST',
                        data: {"phone": that.sms_phone,"key": that.sms_key },
                        success:function(data){
                            //关闭弹层
                            if(data.code == 0){
                                //验证码锁定逻辑  
                                that.verifyText = that.smsSeconds + 's'
                                let time = setInterval(function(){
                                    that.verifyText = parseFloat(that.verifyText) -1 +'s'
                                    if(that.verifyText=='0s'){
                                        clearInterval(time);
                                        that.verifyText = "获取验证码";
                                        that.isSmsCodeLocked = true;
                                    }
                                },1000);
                                that.isSmsCodeLocked = false;
                                console.log('test11');
                                //短信发送后弹窗
                                $.toast(data.message);
                            } else {
                                $.toast(data.message,"cancel");
                            }
                        }
                    });
                }else{
                    return false;
                }
            },
        },
        watch : {
            //主数据变化即触发
            value : {
                handler(newData, oldData ){
                    //v-model语法糖
                    this.$emit( "input" , newData );
                },
                // 代表在wacth里声明了firstName这个方法之后立即先去执行handler方法
                immediate: true
            }
        },
        created :function(){

        }
    });
</script>
<style>
    .myImg{
        width: 100%; height: 100%;
    }
</style>

