<!-- 客户添加 -->
<template id="we-comm-add">
    <!--layerPage-->
    <div class="bg-gray">
        <div class="weui-panel">
            <we-form-item v-bind:item="item" v-model="data[item.field]" v-for="(item,i) in data_field"></we-form-item>
        </div>
        <!-- 按钮 -->
        <div class="pd10" >
            <a href="javascript:" class="weui-btn weui-btn_mini weui-btn_primary mg0-t" v-if="!is_detail" @click="is_detail = 1">浏览</a>
            <a href="javascript:" class="weui-btn weui-btn_primary" v-if="!is_detail" @click="addData()">提交</a>
            
            <a href="javascript:" class="weui-btn weui-btn_mini weui-btn_primary mg0-t" v-if="is_detail" @click="preData()">上一条</a>
            <a href="javascript:" class="weui-btn weui-btn_mini weui-btn_primary mg0-t" v-if="is_detail" @click="nextData()">下一条</a>
            <a href="javascript:" class="weui-btn weui-btn_mini weui-btn_primary mg0-t" v-if="is_detail" @click="randData()">随机</a>
            <a href="javascript:" class="weui-btn weui-btn_mini weui-btn_primary mg0-t" v-if="is_detail" @click="is_detail = ''">修改</a>
<!--            <a href="javascript:" class="weui-btn f-black" @click="$emit( 'after_add' )">返回</a>-->
        </div>
    </div>
</template>

<script>
    //定义hblock组件
    Vue.component('we-comm-add', {
        //customer_id：客户id
        props: { data_id : String, data_field : Array ,table_name : String,title : String,is_detail : String },
        template: '#we-comm-add',
        data: function(){
            return {
                //客户信息
                'data':{},
                //定时任务
                "timer":""
            };
        },        
        methods: {
            //添加，或更新客户
            addData (){
                var that = this;
                $.ajax({
                    url: "{:url('webapi/Comm/add',$paramInherit)}",
                    data: { table_name:that.table_name, table_data: that.data },
                    type: 'POST',
                    success: function (data) {
                        $('.loading').hide();
                        //关闭弹层
                        if (data.code == 0) {
                            $.toast(data.message ,function(){
                                that.$emit( "after_add" ,data.data );
                            });
                        } else {
                            $.toast(data.message ,"cancel");
                        }
                    }
                });
            }, 
            //获取客户信息
            getData(){
                var that = this;
                $.ajax({
                    url: "{:url('webapi/Comm/get',$paramInherit)}",
                    data: { table_name:that.table_name, table_data: that.data },
                    type: 'POST',
                    success: function (data) {
                        $('.loading').hide();
                        //关闭弹层
                        if (data.code == 0) {
                            that.data = data.data;
                        } else {
                            $.toast( data.message ,"cancel");
                        }
                    }
                });
            },
            //上一条
            preData(){
                var that = this;
                $.ajax({
                    url: "{:url('webapi/Comm/preGet',$paramInherit)}",
                    data: { table_name:that.table_name, table_data: that.data },
                    type: 'POST',
                    success: function (data) {
                        $('.loading').hide();
                        //关闭弹层
                        if (data.code == 0) {
                            that.data = data.data;
                        } else {
                            $.toast( data.message ,"cancel");
                        }
                    }
                });
            },
            //下一条
            nextData(){
                var that = this;
                $.ajax({
                    url: "{:url('webapi/Comm/nextGet',$paramInherit)}",
                    data: { table_name:that.table_name, table_data: that.data },
                    type: 'POST',
                    success: function (data) {
                        $('.loading').hide();
                        //关闭弹层
                        if (data.code == 0) {
                            that.data = data.data;
                        } else {
                            $.toast( data.message ,"cancel");
                        }
                    }
                });
            },
            //随机
            randData(){
                //非详情状态不执行
                if(!this.is_detail){
                    return false;
                }                
                
                var that = this;
                $.ajax({
                    url: "{:url('webapi/Comm/randGet',$paramInherit)}",
                    data: { table_name:that.table_name, table_data: that.data },
                    type: 'POST',
                    success: function (data) {
                        $('.loading').hide();
                        //关闭弹层
                        if (data.code == 0) {
                            that.data = data.data;
                        } else {
                            $.toast( data.message ,"cancel");
                        }
                    }
                });
            },
        },
        watch:{
            // 新数据；老数据
            data_id : {
                handler(newData, oldData) {
                    var that = this;
                    if( newData ){
                        that.data.id = newData;
                        //获取信息
                        that.getData();
                    } else{
                        //清空
                        that.data = {};
                    }
                },
                // 代表在wacth里声明了firstName这个方法之后立即先去执行handler方法
                immediate: true
            },
        },
        created(){
            var that = this;
//            if(this.is_detail){
//                //定时初始化
//                this.timer = setInterval(() => {
//                    console.log("1111");
//                    that.randData(); //加载数据函数
//                }, 5000);                
//            }
        },
        beforeDestroy(){
            console.log('we-comm-add的beforeDestroy');
//            // 在页面销毁后，清除计时器
//            clearInterval(this.timer);
        }
    });
</script>
