<!-- 字段组件 -->
<template id="we-cell-field">
    <div class="weui-cell" v-if="type=='text' || type=='number' || type=='prize'|| type=='phone' || type=='idno' || type=='date' || type=='citypicker' || type=='switch'" >
        <div class="weui-cell__hd"><we-label v-bind:label="label"></we-label></div>
        <div class="weui-cell__bd">
            <we-field v-bind:type="type" v-model="value" v-bind:remark="'请输入'+ label" 
                      v-bind:maxlength="max_length"
                      v-bind:is_edit="is_edit"></we-field>
        </div>
    </div>
<!--    
    <div class="weui-cell" v-if="item.type=='text' || item.type=='number' || item.type=='prize'|| item.type=='phone' || item.type=='idno' || item.type=='date' || item.type=='citypicker'" >
        <div class="weui-cell__hd"><we-label v-bind:label="item.label"></we-label></div>
        <div class="weui-cell__bd">
            <we-field v-bind:type="item.type" v-model="value" v-bind:remark="'请输入'+item.label" 
                      v-bind:maxlength="item.maxLength"></we-field>
        </div>
    </div>    
-->
</template>

<script>
    //定义hblock组件
    Vue.component('we-cell-field', {
        props: { value : Array, type :String, label:String, max_length :String ,is_edit :String},
        template: '#we-cell-field',
        data: function(){
            return {};
        },
        methods : {

        },
        watch : {
            //主数据变化即触发
            value : {
                handler(newData, oldData ){
                    //v-model语法糖
                    this.$emit( "input" , newData );
                },
                // 代表在wacth里声明了firstName这个方法之后立即先去执行handler方法
                immediate: true
            }
        },
        created :function(){

        }
    });
</script>
<style>
    .myImg{
        width: 100%; height: 100%;
    }
</style>

