<!-- 字段组件 -->
<template id="we-datetime">
    <!--layerPage-->
    <block>
        <input class="weui-input txtright picker-input dateinput"  ref="birthday" id="birthday" type="text" value="2019-02-01" >
    </block>
</template>

<script>
    //定义hblock组件
    Vue.component('we-datetime', {
        props: {},
        template: '#we-datetime',
        data: function(){
            return {};
        },
        methods : {},
        created :function(){
            this.$nextTick(function () {
                console.log( $(this.$refs.birthday) );
                $( this.$refs.birthday ).datetimePicker({
                    times:function(){ return [];}
                });
            });
        }
    });
</script>
