<!-- 字段组件 -->
<template id="we-select">
    <!--layerPage-->
    <block>
        <input class="weui-input" v-bind:data-values="value" ref="select" style="width:100%;" placeholder="请选择">
    </block>
</template>

<script>
    //定义hblock组件
    Vue.component('we-select', {
//        props: ['type','value','remark','maxlength'],
        props: { label : String, type:String, value:Array, remark:String, option : Array },
        template: '#we-select',
        data: function(){
            return {};
        },
        created :function(){
            var that = this;
            that.$nextTick(function () {
                //日期时间
                var tmpOption = {};
                tmpOption.title = that.lable;
                tmpOption.items = that.option;
                if( that.type == 'multiSelect'){
                    tmpOption.multi = true;
                }
                tmpOption.onChange = function(data){
                    that.$emit( "input" , data.values );
                }
                $( that.$refs.select ).select(tmpOption);
            });
        }
    });
</script>
