<!-- 字段组件 -->
<template id="we-tabs">
    <!--layerPage-->
    <div class="tbflex fixtabs">
        <a href="javascript:;"
           v-bind:class="[value==item.id ? 'on' : '']"
           v-for="(item,i) in tabs" @click="value = item.id">
            <span>{{item.label}}</span>
        </a>
    </div>
</template>

<script>
    //定义hblock组件
    Vue.component('we-tabs', {
        props: { tabs : Array, value : String },
        template: '#we-tabs',
        watch : {
            //主数据变化即触发
            value : {
                handler(newData, oldData ){
                    //v-model语法糖
                    this.$emit( "input" , newData );
                },
                // 代表在wacth里声明了firstName这个方法之后立即先去执行handler方法
                immediate: true
            }
        },
    });
</script>
