<!-- 字段组件 -->
<template id="we-uplimage">
    <!--layerPage-->
    <block>
        <div class="weui-cell__bd" v-if="is_edit == 1">
            <!-- 文件 -->
            <a v-bind:href="value.file_path" v-if="value && value.file_path && value.file_path.indexOf('.pdf')">下载</a>
            <!--有图 test.indexOf("test")!=-1  -->
            <img v-bind:src="value.file_path" v-else-if="value && value.file_path" style="max-width:100%;max-height:150px;">
            <!--无图-->
            <img src="__STATIC__/web/images/home/321.png" v-else style="height:35px;width:35px;">
            <!--注：上传事件固定为uplPic-->
            <input class="weui-uploader__input" accept="image/*" multiple="" type="file" @change="uplPic($event )">
        </div>
        <div class="weui-cell" style="height:auto;min-height:30px;" v-else>
            <!--有图-->
            <img v-bind:src="value.file_path" v-if="value && value.file_path" style="max-width:100%;max-height:150px;">
            <span style="text-align: center; width: 100%;" v-else>无</span>
        </div>

    </block>
</template>

<script>
    //定义hblock组件
    Vue.component('we-uplimage', {
        props: {is_edit:String ,value:Array,},   //is_edit:可编辑
        template: '#we-uplimage',
        data: function(){
            return {};
        },
        watch : {
            //主数据变化即触发
            value : {
                handler(newData, oldData ){
                    //v-model语法糖
                    this.$emit( "input" , newData );
                },
                // 代表在wacth里声明了firstName这个方法之后立即先去执行handler方法
                immediate: true
            }
        },
        methods : {
            //上传图片
            uplPic : function ( event ){
                var that        = this;
                var formData    = new FormData();
                formData.append('file', $(event.target)[0].files[0]); // 文件数据
                if(!$(event.target)[0].files[0]){
                    return false;
                }
                //在scripts中定义了压缩图片
                compressImg( $(event.target)[0].files[0],function(files){
                    formData.append('file', files);
                    //遮罩开启
                    $('.loading').show();
                    return $.ajax({
                        url: '{:config("xiesemi.picUplApiUrl")}',
                        type: 'POST',
                        cache: false,
                        data: formData,
                        processData: false,
                        contentType: false
                    }).done(function(data) {
                        if (data.code == 0) {
                            that.value = data.data;
                        } else {
                            $.toast(data.message ,"cancel");
                        }
                        //遮罩关闭
                        $('.loading').hide();
                    });
                });
            },
        },
    });
</script>
