<!-- 字段组件 -->
<template id="cdatetime">
    <!--layerPage-->
    <!--需要用js赋值一下，没有绑定。不知道为啥-->
    <div>
        <input type="text" class="tpl-form-input bd-r5" ref="datetime" v-model="value" v-if="!range">
        <div v-else>
            <input type="text" class="tpl-form-input bd-r5" ref="datetime0" v-model="startDate" placeholder="开始时间"
                   style="float:left;display:inline-block;width:48%;min-width:130px;">
            <span style="float:left">-</span>
            <input type="text" class="tpl-form-input bd-r5" ref="datetime1" v-model="endDate" placeholder="结束时间" 
                   style="float:left;display:inline-block;width:48%;min-width:130px;">
            
        </div>
        <div v-if="range">
            <button type="button" class="am-btn am-btn-default pd5 am-btn-primary f12" @click="setToday()">今天</button>
            <button type="button" class="am-btn am-btn-default pd5 am-btn-primary f12" @click="setThisWeek()">本周</button>
            <button type="button" class="am-btn am-btn-default pd5 am-btn-primary f12" @click="setLastWeek()">上周</button>
            <button type="button" class="am-btn am-btn-default pd5 am-btn-primary f12" @click="setThisMonth()">本月</button>
            <button type="button" class="am-btn am-btn-default pd5 am-btn-primary f12" @click="setLastMonth()">上月</button>
            <button type="button" class="am-btn am-btn-default pd5 am-btn-primary f12" @click="setThisYear()">今年</button>
        </div>
    </div>
</template>

<script>
    //定义hblock组件
    //range:是否范围
    Vue.component('cdatetime', {
        props: { value : Array, is_detail : String, range: String},
        template: '#cdatetime',
        data: function(){
            return {
                //日期:单值或范围
                value   : {},
            };
        },
        methods : {
            //按比例计算，一般用于获取佣金
            setToday : function( ){
                this.value = {};
                this.value[0] = "{:date('Y-m-d 00:00')}";
                this.value[1] = "{:date('Y-m-d 00:00',strtotime('+1 day'))}";
            },
            setThisWeek : function( ){
                this.value = {};
                this.value[0] = "{:date('Y-m-01 00:00',strtotime('this week'))}";
                this.value[1] = "{:date('Y-m-d 00:00',strtotime('+1 day'))}";
            },
            setLastWeek : function( ){
                this.value = {};
                this.value[0] = "{:date('Y-m-01 00:00',strtotime('last week'))}";
                this.value[1] = "{:date('Y-m-d 00:00',strtotime('this week'))}";
            },
            setLastMonth : function( ){
                this.value = {};
                this.value[0] = "{:date('Y-m-01 00:00',strtotime('-1 month'))}";
                this.value[1] = "{:date('Y-m-d 00:00',strtotime('this month'))}";
            },
            setThisMonth : function( ){
                this.value = {};
                this.value[0] = "{:date('Y-m-01 00:00')}";
                this.value[1] = "{:date('Y-m-d 00:00',strtotime('+1 day'))}";
            },
            setThisYear : function( ){
                this.value = {};
                this.value[0] = "{:date('Y-01-01 00:00')}";
                this.value[1] = "{:date('Y-m-d 00:00',strtotime('+1 day'))}";
            }
        },
        
        computed: {
            // 计算属性的 getter
            startDate : function(){
                return this.value ? this.value[0] : '';
            },
            endDate : function() {
                return this.value ? this.value[1] : '';
            }
        },
        watch:{
            value : {
                handler :function(newName, oldName) {
                    this.$emit('input', newName );
                },
                // 代表在wacth里声明了firstName这个方法之后立即先去执行handler方法
                immediate: true
            },
        },
        created :function(){
            //重新渲染树状
            var that = this;
            that.$nextTick(function () {
                if(!that.range){
                    //单值
                    $( that.$refs.datetime ).datetimepicker({
                        format:"Y-m-d H:i",
                        language:'zh-CN',
                        onChangeDateTime: function() {
                            //绑定
                            that.value = $(that.$refs.datetime).val();
                        }
                    });                    
                } else {
                    //范围
                    $( that.$refs.datetime0 ).datetimepicker({
                        format:"Y-m-d H:i",
                        language:'zh-CN',
                        onChangeDateTime: function() {
                            if(!that.value){
                                that.value = {};
                            }
                            //绑定
                            that.value[0] = $(that.$refs.datetime0).val();
                        }
                    });
                    $( that.$refs.datetime1 ).datetimepicker({
                        format:"Y-m-d H:i",
                        language:'zh-CN',
                        onChangeDateTime: function() {
                            if(!that.value){
                                that.value = {};
                            }
                            //绑定
                            that.value[1] = $(that.$refs.datetime1).val();
                        }
                    });
                }
            });
        }
    });
</script>
