<!-- 动态树组件 -->
<template id="cdyntree">
    <!--layerPage-->
    <textarea style="width: 100%;overflow:hidden;" rows=5 type="text" readonly
            ref="dyntree"
            v-bind:checks="value" 
        ></textarea>
</template>

<script>
    //定义hblock组件
    Vue.component('cdyntree', {
        //value已选中列表，lists：全部列表 pid:父级id过滤
        props: { value : Array ,lists : Array, pid : String},
        template: '#cdyntree',
        data: function(){
            return {
                lastTreeId :''
            };
        },
        watch:{
            //主数据变化即触发
            pid : {
                handler(newName, oldName) {
                    console.log(this.pid);
                    this.treeInit();
                },
                // 代表在wacth里声明了firstName这个方法之后立即先去执行handler方法
                immediate: true
            }
        },
        methods : {
            getChilds( lists, pid ){
                var tmpArr = [];
                var that = this;
                $.each( lists ,function (index, element) {
                    if(element.pId == pid){
                        tmpArr.push(element); 
                        //递归取子项
                        var subTmpArr = that.getChilds( lists, element.id);
                        tmpArr.push.apply(tmpArr,subTmpArr);
                    }
                })
                return tmpArr;
            },
            //树状初始化
            treeInit( ){
                var that = this;
                console.log( $(that.$refs.dyntree));
                //移除原有元素，重新渲染树状
                if(that.lastTreeId){
                    $("#"+that.lastTreeId).remove();
                }
                //重新渲染树状
                that.$nextTick(function () {
                    var defaults = {
                        zNodes: that.getChilds( that.lists, that.pid ),
                        height: 300,
                        callback:{
                            onCheck:function(treeSelectObj, treeNode){
                                var tmpData = $(that.$refs.dyntree).attr('checks');    
                                that.$emit('input', tmpData.split( ',' ));                            
                            }
                        }
                    };
                    //创建select框
                    var res = $(that.$refs.dyntree).treeSelect(defaults);
                    //便于下次移除元素
                    that.lastTreeId = res.id;
                });
            }
        },
        created :function(){
            
        }
    });
</script>
