<!-- 字段组件 -->
<template id="cfield">
    <!--layerPage-->
    <block>
        <!--文本text-->
        <!--文本listedit-->
        <input v-if="type == 'text' || type == 'listedit' "
                   type="text" class="tpl-form-input bd-r5" v-model="value" v-on:change="$emit('input', $event.target.value)" 
                   v-bind:disabled ="is_detail == 1"
                   v-bind:class="is_detail == 1 ? 'vague' : ''"
                >
        <!--密码password-->
        <input v-if="type == 'password'"
                type="password" class="tpl-form-input bd-r5" v-model="value" v-on:change="$emit('input', $event.target.value)" 
                v-bind:class="is_detail == 1 ? 'vague' : ''"
                v-bind:disabled ="is_detail == 1">
        <!--文本框textarea-->
        <textarea v-if="type == 'textarea'"
                class="bd-r5" placeholder="请输入" v-model="value" v-on:change="$emit('input', $event.target.value)" 
                v-bind:rows='option.rows'
                v-bind:class="is_detail == 1 ? 'vague' : ''"
                v-bind:disabled ="is_detail == 1"></textarea>
        <!--开关switch-->
        <div class="tpl-switch" v-if="type == 'switch'">
            <input type="checkbox" 
                class="ios-switch bigswitch tpl-switch-btn" 
                v-model="value" 
                v-on:click="$emit('input', Number(!value))" v-bind:disabled ="is_detail == 1">
            <div class="tpl-switch-btn-view"><div></div></div>
        </div>
        <small>{{remark}}</small>
    </block>
</template>

<script>
    //定义hblock组件
    Vue.component('cfield', {
        //rows:行数
//        props: ['type','value','remark','is_detail','rows'],
        props: {type:String,value:String,remark:String,is_detail:String,option:Array},
        template: '#cfield',
        data: function(){
            return {
            };
        },
        methods : {
            
        },
        created :function(){

        }
    });
</script>
