<!-- 上传图片组件 -->
<link href="__STATIC__/xjryanse/common/multiimg/css/common.css" type="text/css" rel="stylesheet"/>
<link href="__STATIC__/xjryanse/common/multiimg/css/index.css" type="text/css" rel="stylesheet"/>
<template id="cmultiimg">
    <div class="full">
        <section class=" img-section">
            <div class="z_photo upimg-div clear" >               
                <section class="up-section fl" v-for="(item,index) in value">
                    <img class="close-upimg" src="__STATIC__/xjryanse/common/multiimg/img/a7.png" @click="removeImg(item.id)">
                    <img class="up-img" v-bind:src="item.file_path" ref="cuplimage">
                </section>
                <section class="z_file fl">
                    <img src="__STATIC__/xjryanse/common/multiimg/img/a11.png" class="add-img">
                    <input type="file" name="file" id="file" class="file" value="" accept="image/jpg,image/jpeg,image/png,image/bmp" multiple @change="uplPic($event,name)"/>
                </section>
            </div>
        </section>
    </div>
</template>

<script>
    //多图上传
    Vue.component('cmultiimg', {
        //名称，值
        props: {name: String, value : Array, is_detail: String},
        template: '#cmultiimg',
        data: function () {
            return {
                //全选
                "showBtn": false,
            };
        },
        methods: {
            //上传图片
            uplPic: function (e, name) {
                var that = this;
                var formData = new FormData();
                formData.append('file', $(e.target)[0].files[0]); // 文件数据
                if (!$(e.target)[0].files[0]) {
                    return false;
                }
                var layerIndex = layer.load(2);
                $.ajax({
                    url: '{:config("xiesemi.picUplApiUrl")}',
                    type: 'POST',
                    cache: false,
                    data: formData,
                    processData: false,
                    contentType: false
                }).done(function (data) {
                    //关闭弹层
                    layer.close(layerIndex);
                    if (data.code == 0) {
                        if(!that.value){
                            that.value = [];
                        }
                        that.value.push( data.data );
                        console.log( 'cmultiimg的上传' );
                        console.log( that.value );
                        that.$emit('input', that.value);
                        that.$nextTick(function () {
                            //viewer 图片浏览
                            $(that.$refs.cuplimage).viewer();
                            ;
                        });                        
                    } else {
                        layer.msg(data.message, {icon: 2});
                    }
                });
            },
            //移除图片
            removeImg : function( id ){
                var that = this;
                $.each( that.value ,function (index, element) {
                    //删除指定id的图片
                    if( element && element.id == id){
                        that.value.splice( index,1);
                    }
                });
            },
        },
        created: function () {
            var that = this;
            if(!that.value){
                that.value = [];
            }
            that.$nextTick(function () {
                //viewer 图片浏览
                $(that.$refs.cuplimage).viewer();
                ;
            });
        }
    });
</script>
