<!-- 字段组件 -->
<template id="cselect">
    <!--layerPage-->
    <!--需要用js赋值一下，没有绑定。不知道为啥-->
    <select v-model="value" ref="mySelect" style="width:100%;height:50px;" v-bind:disabled ="is_detail == 1"> 
        <option value="" >请选择</option> 
        <option v-for="(tmpOption,k) in option" v-bind:value="k">{{tmpOption}}</option> 
    </select>
</template>

<script>
    //定义hblock组件
    Vue.component('cselect', {
        props: { value : String, option : Array ,is_detail : String, multiple : String},//multiple复选
        template: '#cselect',
        watch:{
            //主数据变化即触发
            value : {
                handler(newName, oldName) {
                    if(this.multiple && typeof(newName)=='string'){
                        //按逗号分隔成数组
                        this.value = newName.split(',');
                        $(this.$refs.mySelect).val( this.value ).select2();
                        console.log('多值');
                    } else {
                        $(this.$refs.mySelect).val(newName).select2();
                        console.log('单值');
                    }
                },
                // 代表在wacth里声明了firstName这个方法之后立即先去执行handler方法
                immediate: true
            }
        },        
        created :function(){
            //重新渲染树状
            var that = this;
            var selectParam = {};
            if(that.multiple){
                selectParam.multiple = true;
            }
            that.$nextTick(function () {
                $( that.$refs.mySelect ).select2(selectParam);
                $(that.$refs.mySelect).on("select2:select",function(e){
                    that.$emit('input', e.target.value );
                    console.log("that.$emit('linkage');");
                    //联动触发
                    that.$emit('linkage');
                })
            });
        }
    });
</script>
