<!-- 模板设定组件 
//            {
//                "keyName": "商标租用价",
//                "plate": {
//                        "id": "5143732902235736157",
//                        "app_id": "5116224059889159898",
//                        "company_id": "5116226883423308145",
//                        "pid": "",
//                        "goods_id": "5136132095000709267",
//                        "prize_type": "",
//                        "prize_key": "plateTmRentPrize",
//                        "prize_name": "",
//                        "belong_role": "",
//                        "belong_user_id": "",
//                        "prize": "11",
//                        "sort": 1000,
//                        "status": 1,
//                        "has_used": 0,
//                        "is_lock": 0,
//                        "is_delete": 0,
//                        "remark": "",
//                        "creater": "5116456681068300574",
//                        "updater": "",
//                        "create_time": "2020-11-26 17:35:31",
//                        "update_time": "2020-11-28 09:30:59"
//                },
//                "seller": {
//                        "id": "5136132095084594594",
//                        "app_id": "5116224059889159898",
//                        "company_id": "5116226883423308145",
//                        "pid": "",
//                        "goods_id": "5136132095000709267",
//                        "prize_type": "",
//                        "prize_key": "sellerTmRentPrize",
//                        "prize_name": "卖家商标租用报价",
//                        "belong_role": "buyer",
//                        "belong_user_id": "",
//                        "prize": "2",
//                        "sort": 1000,
//                        "status": 1,
//                        "has_used": 0,
//                        "is_lock": 0,
//                        "is_delete": 0,
//                        "remark": "",
//                        "creater": "5135631036092253709",
//                        "updater": "",
//                        "create_time": "2020-11-05 18:12:38",
//                        "update_time": "2020-11-28 09:31:25"
//                },
//                "total": []
//        }
-->
<template id="ctplset">
    <!--layerPage-->
    <block>
        <table width="100%" class="am-table am-table-compact am-text-nowrap tpl-table-black " id="example-r" v-if="data_id">
            <thead>
                <tr class="gradeX" v-if="option.option">
                    <!--根据option_cov的键值结果进行替换-->
                    <!--为了排顺序，多了一次循环-->
                    <th v-for="(optionCov,optKey) in option.option_cov">
                        <span v-for="(tmpOption,k) in option.option[0]" v-if="k == optKey">{{optionCov}}</span>
                    </th>
                </tr>
            </thead>
            <tbody v-if="option.option">
                <tr class="gradeX"  v-for="(tmpOption,k) in option.option">
                    <!--为了排顺序，多了一次循环-->
                    <td v-for="(optionCov,optKey) in option.option_cov" >
                        <block v-for="(subData,key) in tmpOption" v-if="key == optKey">
                            <!--主名称-->
                            <span v-if="key=='keyName'">{{subData}}</span>
                            <span v-else-if="key=='total'">{{tplSetCalTotal(tmpOption,'prize')}}</span>
                            <input v-else-if="subData.length !=0" type="text" placeholder="" 
                                    v-model="tmpOption[key][option.to_field]"
                                    v-bind:disabled ="is_detail == 1"
                                    onmouseover="$('.listEditInput').addClass('borderHide');$(this).removeClass('borderHide')" 
                                    @blur="subUpdate(option.to_table, tmpOption[key] );"
                                    class="tpl-form-input listEditInput" style="width: 100%;">
                            <span v-else>——</span>
                        </block>
                    </td>
                </tr>
                <tr class="gradeX">
                    <!--为了排顺序，多了一次循环-->
                    <td v-for="(optionCov,optKey) in option.option_cov">
                        <block v-for="(items,key) in option.option[0]" v-if="key == optKey">
                            <!--主名称-->
                            <span v-if="key=='keyName'">合计</span>
                            <span v-else-if="key=='total'">{{tplSetCalAllTotal(option.option ,'prize' )}}</span>
                            <span v-else>{{tplSetCalColTotal(option.option , key ,'prize' )}}</span>
                        </block>
                    </td>
                </tr>
                <!-- more data -->
            </tbody>
        </table>
        <span v-else>请先保存信息再进行编辑</span>
    </block>
</template>

<script>
    //定义hblock组件
    Vue.component('ctplset', {
        //选项；字段名
        props: { option : Array, table_name : String, column_list_id : String, data_id : String ,is_detail : String },
        template: '#ctplset',
        data: function(){
            return {
            };
        },
        methods : {
            //模板设定计算值
            tplSetCalTotal( data ,field ){
                var calValue = 0 ;
                $.each(data,function(index,item ){
                    if(index != 'total' && item[field]){
                        calValue = Number(calValue) + Number(item[field]);
                    }
                });
                return calValue;
            },
            /**
             * 模板设定计算全部合计值
             * data:二维数组（表格）
             */
            tplSetCalAllTotal( data , field ){
                var calValue = 0 ;
                $.each(data,function(indexInfo,itemInfo ){
                    $.each(itemInfo,function(index,item ){
                        if(item[field]){
                            calValue = Number(calValue) + Number(item[field]);
                        }
                    });
                });
                return calValue.toFixed(2);
            },            
            /**
             * 模板设定计算单列合计值
             * data:二维数组（表格）
             */
            tplSetCalColTotal( data , key ,field ){
                var calValue = 0 ;
                $.each(data,function(indexInfo,itemInfo ){
                    $.each(itemInfo,function(index,item ){
                        if(index ==  key  && item[field]){
                            calValue = Number(calValue) + Number(item[field]);
                        }
                    });
                });
                return calValue;
            },
            //表格数据块
            SColumnTplset : function( tableName, columnListId, dataId, callback ){
                var that= this;
                //弹层
                var layerIndex = layer.load(2);
                //发异步删除数据
                $.ajax({
                    url : "{:url('admin/SColumn/tplset',$paramInherit)}",
                    type: 'POST',
                    data: {"tableName":tableName,"columnListId":columnListId,"dataId":dataId},
                    success:function(data){
                        //关闭弹层
                        layer.close( layerIndex );
                        if(data.code == 0){
                            //回调函数
                            callback( data.data ); 
                        } else {
                            layer.msg(data.message, {icon: 2});
                        }
                    }
                });
            },
            //表格数据块
            subUpdate : function( tableName, itemData ){
                console.log(tableName);
                console.log(itemData);
                
                var that= this;
                //弹层
                var layerIndex = layer.load(2);
                //发异步更新
                $.ajax({
                    url : "{:url('subUpdate',$paramInherit)}",
                    type: 'POST',
                    data: {"tableName":tableName,"data": itemData},
                    success:function(data){
                        //关闭弹层
                        layer.close( layerIndex );
                        if(data.code == 0){
                            //强制刷新
                            that.$forceUpdate();
                            layer.msg(data.message, {icon: 1, time: 1000});
                            //回调函数
                        } else {
                            layer.msg(data.message, {icon: 2});
                        }
                    }
                });
            },
        },
        created :function(){
            var that = this;
            that.SColumnTplset( that.table_name, that.column_list_id, that.data_id, function( data ){
                //拿option
                that.option.option = data;
                //强制刷新
                that.$forceUpdate();
            });
        }
    });
</script>
