<!-- 上传图片组件 -->
<template id="cuplimage">
    <!--layerPage-->
    <block>
        <div class="am-form-group pd5"  style="width:100%;max-width:300px;float:left">
            <div class="tpl-form-file-img" v-if="value">
                <img v-bind:src="value.file_path" style="max-width:100%; max-height:100px;" class="bd-r5" >
            </div>
        </div>
        <div class='pd2'>
            <a v-bind:href="value.file_path" class="am-btn am-btn-danger am-btn-sm" 
                style="background-color:#ff693f;float:left"
                download v-if="value">
                 <i class="am-icon-cloud-download"></i> 下载
            </a>
        </div>
        <div class="am-form-file pd3-l"  style="float:left" v-if='is_detail != 1'>
            <button type="button" class="am-btn am-btn-danger am-btn-sm">
                <i class="am-icon-cloud-upload"></i> 上传
            </button>
            <input id="doc-form-file" type="file" multiple="" @change="uplPic($event,name)"
                   v-bind:disabled ="is_detail == 1">
        </div>
    </block>
</template>

<script>
    //定义hblock组件
    Vue.component('cuplimage', {
        //名称，值
        props: { name : String, value : Array ,is_detail : String},
        template: '#cuplimage',
        methods : {
            //上传图片
            uplPic : function ( e,name ){
                var that = this;
                var formData = new FormData();
                formData.append('file', $(e.target)[0].files[0]); // 文件数据
                if(!$(e.target)[0].files[0]){
                    return false;
                }
                $.ajax({
                    url: '{:config("xiesemi.picUplApiUrl")}',
                    type: 'POST',
                    cache: false,
                    data: formData,
                    processData: false,
                    contentType: false
                }).done(function(result) {
                    that.$emit('input', result.data);
                });
            }
        },
        created :function(){
            
        }
    });
</script>
