<!-- 上传图片组件 -->
<template id="cuplimage">
    <!--layerPage-->
    <div @mouseover = "showBtn = true" @mouseout = "showBtn = false">
        <div class="am-form-group pd5"  style="width:100%;">
            <div class="tpl-form-file-img" v-if="value" style="min-height:100px;justify-content:center;align-items:center;display:-webkit-flex;">
                <a v-bind:href="value.file_path" v-if="value.file_path && value.file_path.indexOf('.pdf') != -1" target="_blank">查看</a>
                <img v-bind:src="value.file_path" ref="cuplimage" v-else style="max-width:100%; max-height:100px;max-width:300px;" class="bd-r5" >
            </div>
        </div>
        <div class='pd2' v-show="showBtn || !value">
            <div style="text-align: center;justify-content: center;display:flex">
                <a v-bind:href="value.file_path" class="am-btn am-btn-danger am-btn-sm pd5" 
                    style="background-color:#ff693f;float:left"
                    download v-if="value">
    <!--                 <i class="am-icon-cloud-download"></i> 下载-->
                    下载
                </a>
                <div class="am-form-file pd3-l"  style="float:left" v-if='is_detail != 1'>
                    <button type="button" class="am-btn am-btn-danger am-btn-sm pd5">
        <!--                <i class="am-icon-cloud-upload"></i> 上传-->
                        上传
                    </button>
                    <input id="doc-form-file" type="file" multiple="" @change="uplPic($event,name)"
                           v-bind:disabled ="is_detail == 1">
                </div>                
            </div>
        </div>
    </div>
</template>

<script>
    //定义hblock组件
    Vue.component('cuplimage', {
        //名称，值
        props: { name : String, value : Array ,is_detail : String},
        template: '#cuplimage',
        data: function(){
            return {
                //全选
                "showBtn" : false,
            };
        },        
        methods : {
            //上传图片
            uplPic : function ( e,name ){
                var that = this;
                var formData = new FormData();
                formData.append('file', $(e.target)[0].files[0]); // 文件数据
                if(!$(e.target)[0].files[0]){
                    return false;
                }
                var layerIndex = layer.load(2);
                $.ajax({
                    url: '{:config("xiesemi.picUplApiUrl")}',
                    type: 'POST',
                    cache: false,
                    data: formData,
                    processData: false,
                    contentType: false
                }).done(function(data) {
                    //关闭弹层
                     layer.close(layerIndex);                            
                     if(data.code == 0){
                        that.$emit('input', data.data);                         
                     } else {
                         layer.msg(data.message, {icon: 2});
                     }
                });
            }
        },
        created :function(){
            var that = this;
            that.$nextTick(function () {
                //viewer 图片浏览
                $( that.$refs.cuplimage ).viewer();;
            });
        }
    });
</script>
