<!-- 列表的字段组件 -->

<style>
    .fixedThead{
        display: block;
        width: 100%;
    }
    .scrollTbody{
        display: block;
        overflow: auto;
        width: 100%;
    }
</style>
<template id="xjr-table">
    <!--layerPage-->
    <!--字段明细-->
    <block>
        <!--表头-->
<!--        
        <div style="overflow:hidden;">
            <table class="tpl-table-black am-table-bordered"
                   ref="mainTableHeader"
                   v-if="column_info" style="font-size:12px;min-width:98%;background-color:#ececec">
                <thead>
                    <tr>
                        <th v-if="column_info.list_select == 'radio' || column_info.list_select == 'checkbox'">
                            <input type="checkbox" name="id" data-am-ucheck v-model="allSelect" v-if="column_info.list_select == 'checkbox'">
                        </th>
                        <th style="height:40px;" v-for="(field,i) in column_info.listInfo" v-if="field.is_list && isConditionMatch(field.show_condition)" >{{field.label}}</th>
                        <th v-if="column_info.operateInfo.length > 0 || column_info.btnInfo.length > 0">操作</th>
                    </tr>
                </thead>
            </table>
        </div>
        -->
        <!--表体-->
        <div style="overflow:auto;" v-if="list_data">
            <table class="am-table am-table-compact am-table-striped tpl-table-black am-table-bordered am-table-hover" 
                   v-if="column_info" style="font-size:12px;">
                <thead class="fixedThead" style="background-color:#ececec" ref="mainTableHeader">
                    <tr>
                        <th v-if="column_info.list_select == 'radio' || column_info.list_select == 'checkbox'">
                            <input type="checkbox" name="id" data-am-ucheck v-model="allSelect" v-if="column_info.list_select == 'checkbox'">
                        </th>
                        <th>序号</th>
                        <!--字段可设条件进行过滤：20210125-->
                        <th style="height:40px;text-overflow:ellipsis;overflow:hidden;display:table-cell;vertical-align:middle;" v-for="(field,i) in column_info.listInfo" v-if="field.is_list && isConditionMatch(field.show_condition)" >{{field.label}}</th>
                        <th style="height:40px;text-overflow:ellipsis;overflow:hidden;display:table-cell;vertical-align:middle;" v-if="column_info.operateInfo.length > 0 || column_info.btnInfo.length > 0">操作</th>
                    </tr>
                </thead>                
                <tbody class="scrollTbody" ref="mainTable" v-bind:style = "'max-height:'+ reduce">
                    <tr v-if="list_data.length == 0" >
                        <td colspan=99 style="text-align:center;"> 暂无数据 </td>
                    </tr>
                    <tr class="gradeX" style="white-space: nowrap;" v-for="(item,i) in list_data">
                        <!--【1】必有的单选框-->
                        <td style="width:20px;text-overflow: ellipsis; overflow: hidden; display: table-cell; vertical-align: middle; min-width: 30px; max-width: 100px; text-align: center;"
                            v-bind:class="selectItems.includes(item.id) ? 'bg-lightblue' : ''" 
                            v-if="column_info.list_select == 'radio' || column_info.list_select == 'checkbox'">
                            <!--单选-->
                            <input type="radio" name="id" v-bind:value="item['id']" data-am-ucheck @click="onItemSelect(item)"  v-if="column_info.list_select == 'radio'">
                            <!--复选-->
                            <input type="checkbox" name="id" v-bind:value="item['id']" data-am-ucheck v-model="selectItems" v-if="column_info.list_select == 'checkbox'">
                        </td>
                        <td style="text-overflow:ellipsis;overflow:hidden;display:table-cell;vertical-align:middle;min-width:30px;text-align:center;">{{i+1}}</td>
                        <!--【2】字段明细-->
                        <td v-for="(field,j) in column_info.listInfo" v-if="field.is_list && isConditionMatch(field.show_condition)" 
                            v-bind:class="selectItems.includes(item.id) ? 'bg-lightblue' : ''" 
                            style="text-overflow:ellipsis;overflow:hidden;display:table-cell;vertical-align:middle;"
                            v-bind:style="{ 'min-width' : field.min_width + 'px', 'max-width': field.width + 'px', 'text-align': field.list_style }"
                        >
                            <xjr-table-td v-bind:field="field" v-bind:item="item" 
                                          v-bind:update_url ="update_url"
                                          @search_data="searchData" 
                                          @get_lists="getLists" 
                                          @big_img_url = "bigImgUrl"></xjr-table-td>
                        </td>
                        <!--【3】操作按钮-->
<!--                        <td style="text-overflow: ellipsis; overflow: hidden; display: table-cell; vertical-align: middle; min-width: 30px;text-align: center;"
-->
                        <td style="text-overflow:ellipsis;overflow:hidden;display:table-cell;vertical-align:middle;"
                            v-bind:class="selectItems.includes(item.id) ? 'bg-lightblue' : ''" 
                            v-if="column_info.operateInfo.length > 0 || column_info.btnInfo.length > 0" >
                            <div class="tpl-table-black-operation" style="float:right;">
<!--                                <xjr-table-btns v-bind:btn_info     = "column_info.btnInfo" 
                                        v-bind:item          = "item"
                                        v-bind:query_data    = "query_data"
                                        @get_lists="getLists"                                    
                                    ></xjr-table-btn>-->
                                 <!--按钮-->
                                <!--【有点笨重：20210304】列表弹窗 v-bind:form_data    =   "item" -->
<!--                                <xjr-button-id v-for="(btn,k) in column_info.btnInfo" 
                                               v-if="btn.place=='list'" 
                                               v-bind:btn_id="btn.id" 
                                               v-bind:query_data="btn.param"
                                               v-bind:item="item"></xjr-button-id>-->
                                
                                <xjr-button icon="pencil" button_cate="ahref" show_name="true"
                                            v-for="(btn,k) in column_info.btnInfo"
                                            v-if="btn.place=='list'"
                                            v-bind:width        =   "btn.layer_width"
                                            v-bind:height       =   "btn.layer_height"
                                            v-bind:operate      =   "btn.o_type" 
                                            v-bind:icon         =   "btn.icon" 
                                            v-bind:button_cate  =   "btn.btn_cate" 
                                            v-bind:btn_style    =   "btn.btn_style" 
                                            v-bind:btn_class    =   "btn.btn_class" 
                                            v-bind:button_name  =   "btn.name"
                                            v-bind:url          =   "btn.url" 
                                            v-bind:title        =   "btn.title" 
                                            v-bind:confirm      =   "btn.confirm"
                                            v-bind:prompt       =   "btn.prompt"
                                            v-bind:prompt_default=   "btn.prompt_default"
                                            v-bind:data         =   "item" 
                                            v-bind:form_data    =   "btn.param" 
                                            v-bind:show_condition= 'btn.show_condition'
                                            v-bind:no_match_style= "btn.no_match_style"
                                            @get_lists="getLists"
                                        ></xjr-button>
                                <!--操作                                            v-bind:form_data    =   "query_data" -->
                                <block v-for="(operate,k) in column_info.operateInfo">
                                    <!--编辑-->
                                    <xjr-button operate="layerIframePage" icon="pencil" width = "95%"  height = "95%" button_cate="ahref"
                                                v-if="operate.operate_key == 'edit'"
                                                v-bind:button_name  ="operate['operate_name']"
                                                v-bind:url          = "edit_url + '?id=' + item.id" 
                                                v-bind:data         = "item" 
                                                @get_lists ="getLists"
                                            ></xjr-button>
                                    <!--删除-->
                                    <xjr-button operate="deleteItem" icon="trash" width = "95%"  height = "95%" button_cate="ahref"
                                                btn_class   = "tpl-table-black-operation-del" 
                                                v-bind:url          = "delete_url" 
                                                v-if="operate.operate_key == 'delete'" 
                                                v-bind:button_name  ="operate['operate_name']"
                                                v-bind:data         = "item" 
                                                @get_lists="getLists"
                                            ></xjr-button>
                                    <!--复制-->
                                    <xjr-button operate="copyItem" icon="copy" width = "95%"  height = "95%" button_cate="ahref"
                                                v-bind:url          = "copy_url" 
                                                v-if="operate.operate_key == 'copy'" 
                                                v-bind:button_name  ="operate['operate_name']"
                                                v-bind:data         = "item" 
                                                @get_lists="getLists"
                                            ></xjr-button>                                    
                                </block>
                            </div>
                        </td>                        
                    </tr>
                </tbody>
            </table>
        </div>    
        <div style="display:flex">
            <!--查询结果描述-->
            <div v-if="paginate_data.staticsDescribe" style="flex:1">{{paginate_data.staticsDescribe}}</div>
            <!--【页码】-->
            <div style="flex:1" v-if="paginate_data && paginate_data.current_page">
                <ul class="am-pagination tpl-pagination" style="float:right;">
                    <!--前一页:当前页码大于1显示-->
                    <li v-if="paginate_data.current_page > 1"><a href="javascript:;" v-on:click="getPageLists(paginate_data.current_page *1 -1)">«</a></li>
                    <!--第一页:当前页码大于1显示-->
                    <li v-if="paginate_data.current_page > 1"><a href="javascript:;" v-on:click="getPageLists(1)" >1</a></li>
                    <!--……-->
                    <li v-if="paginate_data.current_page > 3"><a href="javascript:;">…</a></li>
                    <!--上一页:当前页码-1后大于1显示-->
                    <li v-if="paginate_data.current_page * 1 -1 >1"><a href="javascript:;" v-on:click="getPageLists(paginate_data.current_page *1 -1)">{{paginate_data.current_page-1}}</a></li>
                    <!--当前页-->
                    <li class="am-active"><a href="javascript:;">{{paginate_data.current_page}}</a></li>
                    <!--下一页: 当前页码+1后，小于最后一页码显示-->
                    <li v-if="paginate_data.current_page * 1 + 1 < paginate_data.last_page * 1 "><a href="javascript:;" v-on:click="getPageLists(paginate_data.current_page * 1 + 1 )">{{paginate_data.current_page *1+1}}</a></li>
                    <!--……-->
                    <li v-if="paginate_data.current_page * 1 + 2 < paginate_data.last_page"><a href="javascript:;">…</a></li>
                    <!--末页: 当前页码小于末页码显示-->
                    <li v-if="paginate_data.current_page < paginate_data.last_page * 1 "><a href="javascript:;" v-on:click="getPageLists(paginate_data.last_page )">{{paginate_data.last_page}}</a></li>
                    <!--下一页-->
                    <li v-if="paginate_data.current_page < paginate_data.last_page * 1 "><a href="javascript:;" v-on:click="getPageLists(paginate_data.current_page * 1 + 1 )">»</a></li>
                    <li>共{{paginate_data.total}}条</li>
                    <li v-if="query_data.per_page"><select v-model="query_data.per_page" >
                            <option value ="10">10</option>
                            <option value ="20">20</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </li>
                    <li>条/页</li>
                </ul>
            </div>            
        </div>
        <!--大图专用签-->
        <cbigimage v-bind:myurl="targetPicUrl"></cbigimage>
    </block>
</template>

<script>
    //定义hblock组件
    Vue.component('xjr-table', {
        //列表信息:列表编辑：项目 column_info列信息；data数据(不含分页的)；分页数据
        //edit_url编辑页面路径；copy_url复制接口路径；delete_url删除接口路径
        props: { query_data : Array,list_url : String , edit_url :String, update_url :String, copy_url :String,delete_url :String,height : String},
        template: '#xjr-table',
        data: function(){
            return {
                "paginate_data":{},
                //选中的项目
                "selectItems":[],
                //全选
                "allSelect" : false,
                "targetPicUrl" : "",
                "reduce" : "65vh"
            };
        },
        watch:{
            //主数据变化即触发
            allSelect : {
                handler :function(newData, oldData) {
                    if(newData){
                        //全选
                        var tmpData = [];
                        $.each( this.list_data ,function (index, element) {
                            //用户id一样，说明不是新用户
                            tmpData.push( element.id ); 
                        });
                        this.selectItems = tmpData;
                    } else {
                        //清空已选
                        this.selectItems = [];
                    }
                },
                // 代表在wacth里声明了firstName这个方法之后立即先去执行handler方法
                immediate: true
            },
            //主数据变化即触发
            query_data : {
                handler :function(newName, oldName) {
                   //请求页码设置为1，方便查询
                   console.log(newName);
                   if(!this.query_data.per_page){
                       this.$set(this.query_data,'per_page',20); //20条/页
                   }
                   this.query_data.page = 1;
//                   this.getLists();
                },
                // 代表在wacth里声明了firstName这个方法之后立即先去执行handler方法
                immediate: true,
                deep:true
            },
            selectItems : {
                handler :function(newName, oldName) {
//                    console.log(newName);
                    //复选框和单选框选中数据作为绑定值
                    this.$emit('input', newName);
                },
                // 代表在wacth里声明了firstName这个方法之后立即先去执行handler方法
                immediate: true
            }, 
            height:{
                handler :function(newName, oldName) {
//                    console.log(newName);
                    //复选框和单选框选中数据作为绑定值
                   this.reduce = "calc(65vh - " + newName.height+"px)"
//                   console.log(this.reduce)
                },
                // 代表在wacth里声明了firstName这个方法之后立即先去执行handler方法
                immediate: true
            }           
        },
        computed : {
            //字段信息
            column_info : function(){
                return this.paginate_data.columnInfo;
            },
            //列表数据
            list_data : function(){
                return this.paginate_data.data;
            },
        },
        methods : {
            //展示条件
            isConditionMatch( showCondition ){
                var that = this;
                if(!showCondition ){
                    return 1;
                }
//                console.log('展示条件');
//                console.log(showCondition);
                var isMatch = 1;
                $.each( showCondition ,function (key,value) {
                    if(that.query_data && that.query_data[key] != value){
                        isMatch = 0;
                    }
                });
                console.log(isMatch);
                return isMatch;
            },                        
            bigImgUrl : function( url ){
                this.targetPicUrl = url;
            },
            //获取数据
            getLists : function () {
//                console.log(this.query_data);
                console.log('xjr-table的getList方法');
                var that = this;
                //弹层
                var layerIndex = layer.load(2);
                $.ajax({
                    url: that.list_url,
                    type: 'POST',
                    data: that.query_data,
                    success: function (data) {
                        layer.close(layerIndex);
//                        console.log(data);
                        if (data.code != 0) {
                            layer.msg(data.message);
                        }
                        //已选数据清空:防止误操作20210115
                        that.allSelect   = false;
                        //数据清空
                        that.selectItems = [];
                        console.log( 'that.selectItems'  );
                        console.log( that.selectItems  );
                        that.paginate_data  = data.data;
                        //数据加载完成重设表格列宽
                        if( data.data.total ){
                            that.$nextTick(function () {
                                setTimeout(function () {
                                    var widths = that.getMainTableWidth();
                                    //表体和表头对齐
                                    $(that.$refs.mainTableHeader).find("th").attr('width',function(i,e){
//                                        console.log(widths[i]);
                                        return widths[i] ;
                                    });
                                },300);
                            });
                        }
                    }
                });
            },
            //获取表体动态宽度(用于表头表体分离)
            getMainTableWidth(){
                if(!this.$refs.mainTable){
                    return false;
                }
                var rows = this.$refs.mainTable.rows;
                var cols = rows[0].cells;
                var widths = [];
                $.each( cols ,function (index, element) {
                    widths.push(element.getBoundingClientRect().width);
                });               
                return widths;
            },
            //获取分页查询数据，common/list/data中使用
            getPageLists( page){
//                console.log(page);
                this.query_data.page = page;
                //获取菜单
                this.getLists();                
            },
            //单选框选中
            onItemSelect (value){
                this.$emit('on_item_select',value);                   
            },
            //搜索数据
            searchData : function (key,value)
            {
//                console.log('xjr-table searchData 开始');
                //添加搜索数据
                if(this.query_data[key] && this.query_data[key] == value){
                    //点一下搜索，再点一下恢复
                    delete this.query_data[key];
                } else {
                    this.query_data[key] = value;
                }
                //恢复第一页搜索
                this.query_data.page = 1;
                //搜索
                this.getLists();
            },
            //搜索按钮搜索
            searchList( query_data ){
                this.query_data = query_data;
                //搜索
                this.getLists();
            },
        },
        created :function(){
//            console.log('xjr-table组件开始');
            this.getLists();
        },
        mounted () {
            const that = this
            window.onresize = () => {
                return (() => {
                    setTimeout(function () {
                        var widths = that.getMainTableWidth();
                        //表体和表头对齐
                        $(that.$refs.mainTableHeader).find("th").attr('width',function(i,e){
//                                        console.log(widths[i]);
                            return widths[i] ;
                        });
                    },300);
                })()
            }
        }        
    });
</script>
