<!-- 按钮组件：三种类型：button普通按钮；import导入按钮；ahref:跳转a标签 -->
<template id="xjr-button">
    <!--layerPage-->
    <block>
        <!--按钮的-->
        <button type="button" class="am-btn am-btn-default" 
                v-if="button_cate=='button'"
                v-bind:class=" btn_style ? styles[btn_style] : ''"
                v-bind:class=" size ? sizes[size] : ''" 
                v-bind:class ="btn_class"
                @click="doBtnClick()">
            <span v-bind:class=" icon ? icons[icon] : 'am-icon-plus'"></span> {{button_name}}
        </button>
        <!--导入的-->
        <button type="button" class="am-btn am-btn-default am-form-file" 
                v-if="button_cate=='import'"
                v-bind:class=" btn_style ? styles[btn_style] : ''"
                v-bind:class=" size ? sizes[size] : ''" 
                v-bind:class ="btn_class"
            >
            <span v-bind:class=" icon ? icons[icon] : 'am-icon-plus'"></span> {{button_name}}
            <input id="doc-form-file" type="file" multiple="" @change="importFile($event)">
        </button>
        <!--a标签的-->
        <a href="javascript:;" @click="doBtnClick()"
                v-if="button_cate=='ahref'"
                v-bind:class ="btn_class"
                v-bind:title="button_name">
            <i v-bind:class=" icon ? icons[icon] : 'am-icon-plus'" v-if="icon"></i> <span v-if="show_name" class="f-blue">{{button_name}}</span>
        </a>
    </block>
</template>

<script>
    //定义hblock组件
    Vue.component('xjr-button', {
        props: {
            operate     : String,   //触发类型：layerPage单页页面弹窗；layerIframePage嵌套页弹窗
            show_name   : String,   //是否显示名称：0否1是
            button_cate : String,   //按钮类型：button, ahref
            button_name : String,   //按钮名称
            url         : String,   //url
            data        : Array,    //数据        【用于替换url】 
            form_data   : Array,    //外部表单数据【用于接口提交】
            btn_class   : String,   //样式
            confirm     : String,   //确认框信息，部分场景有效。
            //弹窗尺寸
            height      : String,   //弹窗高度
            width       : String,   //弹窗宽度
            //按钮样式
            btn_style   : String,   //按钮样式
            icon        : String,   //图标
            size        : String,   //尺寸
            //用于确认框输入简短信息
            prompt      : String,   //输入层字段名
            prompt_default : String,   //输入层字段默认值
        },
        template: '#xjr-button',
        data: function(){
            return {
                //按钮尺寸
                "sizes" :{
                    'normal' : '',
                    'small'  : 'am-btn-sm'
                },
                //按钮样式
                'styles':{
                    "default"   :"am-btn-default",
                    "primary"   :"am-btn-primary",
                    "secondary" :"am-btn-secondary",
                    "warning"   :"am-btn-warning",
                    "danger"    :"am-btn-danger",
                    "success"   :"am-btn-success",
                    "link"      :"am-btn-link",
                },
                //图标
                'icons':{
                    "slack"         :"am-icon-slack",           //#
                    "plus"          :"am-icon-plus",            //+
                    "cloud-download":"am-icon-cloud-download",  //下载
                    "cloud-upload"  :"am-icon-cloud-upload",  //上传
                    "wordpress"     :"am-icon-wordpress",
                    "openid"        :"am-icon-openid",
                    "yahoo"         :"am-icon-yahoo",
                    "google"        :"am-icon-google",
                    "reddit"        :"am-icon-reddit",
                    "stumbleupon"   :"am-icon-stumbleupon",
                    "pencil"        :"am-icon-pencil",          //铅笔
                    "trash"         :"am-icon-trash",           //垃圾桶，可用于删除
                    "copy"          :"am-icon-copy",            //复制
                    "facebook"      :"am-icon-facebook",        //facebook,也可以当全屏用
                    "laptop"        :"am-icon-laptop",
                }
            };
        },
        methods : {
            /*
             * 按钮点击触发事件
             */
            doBtnClick(){
                //iframe页面
                var reflects = {
                    "layerIframePage"   :"doLayerPageFull",
                    "layerPage"         :"doLayerPage",
                    "deleteItem"        :"deleteItem",
                    "copyItem"          :"copyItem",
                    "listOperate"       :"listOperate",
                    "newPage"           :"newPage",
                    "fullScreen"        :"doFullScreen"
                };
                //动态执行方法名
                eval("this." + reflects[this.operate] + "()"); 
            },
            /**
             * 新页面
             * @returns {undefined}
             */
            newPage(){
                window.open( this.getUrl() ); 
            },
            /**
             * 普通弹窗
             * @param {type} url        url
             * @param {type} formData   表单数据
             * @param {type} width      宽度
             * @param {type} height     高度
             * @param {type} refresh    刷新与否
             * @returns {undefined}
             */
            doLayerPage : function ( ){
                //弹层
                var layerIndex  = layer.load(2);                
                //url
                var url         = this.getUrl();
                //表单数据
                var formData    = this.form_data;
                //高度
                var width       = this.width;
                //宽度
                var height      = this.height;
                var that = this;
                $.ajax({
                    url:  url,
                    type: 'GET',
                    data :formData,
                    beforeSend: function( xhr ) { 
                        xhr.setRequestHeader('X-Requested-With', {toString: function(){ return ''; }}); 
                    }, 
                    success: function (data) {
                        console.log(data);
                        //关闭弹层
                        layer.close(layerIndex);
                        layer.open({
                            type: 1,
                            skin: 'layui-layer-rim', //加上边框
                            area: [width, height], //宽高
                            end : function () {
                                //需要刷新父页面时
                                that.$emit('get_lists');
                            },
                            content: data
                        });                            
                    }
                });
            },
            doFullScreen : function(){
                var fullscreenElement = document.fullscreenElement ||
                                        document.mozFullScreenElement ||
                                        document.webkitFullscreenElement;
                if (fullscreenElement == null) {
                    fullscreen();
                } else {
                    exitFullscreen();
                }                
            },
            doLayerPageFull : function(){
                console.log('doLayerPageFull开始执行');
                //url
                var url         = this.getUrl();
                //高度
                var width       = this.width;
                //宽度
                var height      = this.height;                
                var that = this;
                layer.open({
                    type: 2,
                    skin: 'layui-layer-rim', //加上边框
                    area: [width, height], //宽高
                    end : function () {
                        //刷新主界面数据
                        that.$emit('get_lists');
                    },
                    content: url
                });
            },
            //列表操作
            listOperate(){
                var that = this;
                //需要确认框信息
                if( that.confirm ){
                    if( that.prompt ){
                        //输入层
                        layer.prompt({title: that.confirm, formType: 2,value:that.prompt_default}, function(pass, index){
                            that.form_data[ that.prompt ] = pass;
                            console.log(that.form_data);
                            //调用公共异步请求函数
                            that.ajaxOperate( that.getUrl() , that.form_data ,function( data ){
                                console.log( data );
                                //调用父组件刷新方法
                                that.$emit('get_lists');
                            });
                            //关闭弹窗
                            layer.close(index);
                        });
                    } else{
                        //弹窗确认信息
                        layer.confirm( that.confirm , function (index) {
                            //调用公共异步请求函数
                            that.ajaxOperate( that.getUrl() , that.form_data ,function(){
                                //调用父组件刷新方法
                                that.$emit('get_lists');
                            });
                        });
                    }
                } else {
                    //调用公共异步请求函数
                    that.ajaxOperate( that.getUrl() , that.form_data ,function(){
                        //调用父组件刷新方法
                        that.$emit('get_lists');
                    });
                }
            },            
            deleteItem(){
                if(!this.data){
                    console.log('未指定数据data');
                }
                var that = this;
                layer.confirm('该操作不可恢复，确认要删除吗？', function (index) {
                    var data    = {'id': that.data.id};
                    //调用公共异步请求函数
                    that.ajaxOperate( that.getUrl() ,data,function(){
                        //调用父组件刷新方法
                        that.$emit('get_lists');
                    });
                });
            },
            //复制数据
            copyItem : function () {
                if(!this.data){
                    console.log('未指定数据data');
                }
                var that = this;
                layer.confirm('确认复制该条数据？', function (index) {
                    var data    = {'id': that.data.id};
                    //调用公共异步请求函数
                    that.ajaxOperate( that.getUrl() ,data,function(){
                        //调用父组件刷新方法
                        that.$emit('get_lists');
                    });
                });
            },            
            //异步操作
            ajaxOperate : function(url, data, callBack ){
                //弹层
                var layerIndex = layer.load(2);
                //发异步
                $.ajax({
                    url : url,
                    type: 'POST',
                    data: data,
                    success:function(data){
                        //关闭弹层
                        layer.close( layerIndex );
                        if(data.code == 0){
                            layer.msg(data.message, {icon: 1, time: 1000},function(){
                                callBack(data);
                            });
                        } else {
                            layer.msg(data.message, {icon: 2});
                        }
                    }
                });
            },
            //获取url
            getUrl (){
                //xjryanse.js:对形如{$event}的参数进行正则替换
                console.log(this.url);
                console.log(this.data);
                
                return urlDataReplace( this.url, this.data );
            },
            //导入文件
            importFile( event ){
                var that = this;
                var formData = new FormData();
                //弹层
                var layerIndex  = layer.load(2);                
                formData.append('file', $(event.target)[0].files[0]); // 文件数据
                if(!$(event.target)[0].files[0]){
                    return false;
                }
                $.ajax({
                    url: '{:config("xiesemi.fileUplApiUrl")}',
                    type: 'POST',
                    cache: false,
                    data: formData,
                    processData: false,
                    contentType: false
                }).done(function(data) {
                    //关闭弹层
                    layer.close(layerIndex);
                    if(data.code == 0){
                        //弹窗确认信息
                        //弹层
                        var layerIndex2  = layer.load(2);
                        layer.confirm( '确认导入？' , function (index) {
                            var formData2 = that.form_data ? that.form_data : {} ;
                            //importFieldId固定；
                            formData2.importFieldId = data.data.id;
                            //调用公共异步请求函数
                            that.ajaxOperate( that.getUrl() , formData2 ,function(){
                                //关闭弹层
                                layer.close(layerIndex2);
                                //调用父组件刷新方法
                                that.$emit('get_lists');
                            });
                        });
                    } else {
                        layer.msg(data.message, {icon: 2});
                    }
//                        that.$emit('input', result.data);
                });
            }            
            
        },
        created :function(){
//            console.log('xjr-button开始执行');
        }
    });
</script>
