<!-- 列表的字段组件 -->
<template id="xjr-field-flex">
    <div v-bind:class="'am-u-sm-' + item.flex_value">
        <hr v-if="item.has_line == 1" class="mg1-b">
        <!--只显示is_add字段；按后台配置宽度显示-->
        <block v-for="(field,i) in list_info" 
               v-if="((field.is_add && form_type == 'add') || (field.is_edit && form_type == 'edit')) && (item.id == field.flex_item_id)">
            <div class="hide">活动块编号{{field.flex_item_id}}</div>
            <!--字段混合-->
            <xjr-field-mix v-bind:field="field" 
                           v-bind:item_data="item_data"
                           v-bind:is_detail="is_detail"
                           v-bind:form_type="form_type"
                        ></xjr-field-mix>
        </block>
        <!--嵌套递归-->
        <xjr-field-flex v-bind:item="subItem" v-if="item.list" v-for="subItem in item.list"
                        v-bind:list_info="list_info"
                        v-bind:item_data="item_data"
                        v-bind:form_type="form_type"
                        v-bind:is_detail="is_detail"
                    ></xjr-field-flex>
    </div>
</template>

<script>
    //定义hblock组件
    Vue.component('xjr-field-flex', {
        //列表信息:列表编辑：项目
        props: { item : Array, list_info : Array ,item_data : Array , form_type : String ,is_detail : String },
        template: '#xjr-field-flex',
    });
</script>
