<!-- 列表的字段组件 -->
<template id="xjr-table-td">
    <!--layerPage-->
    <!--字段明细-->
    <block>
        <!--普通文本-->
        <block v-if = "field.type=='text' || field.type=='hidden' || field.type=='textarea'">
            <!--点击弹窗list_pop-->
            <xjr-button v-if="field.list_pop" 
                        v-bind:operate="field.list_pop_operate" width = "90%"  height = "90%" button_cate="ahref"
                        v-bind:button_name  ="item[field.name]"
                        v-bind:url          = "urlDataReplace(field.list_pop,item)" 
                        show_name           = "true"
                        v-bind:data         = "item" 
                        @get_lists          =   "getLists"
                    ></xjr-button>
            <!--点击直接搜索-->
            <a href="javascript:;" v-else-if="field.search_type == 'equal'" 
               v-bind:title="'点击搜索'+item[field.name]" 
               v-on:click="searchData(field.name,item[field.name])">{{item[field.name]}}</a>
            <!--鼠标上移显示-->
            <span v-else v-bind:title="item[field.name]">{{item[field.name]}}</span>
        </block>
        <!--编辑器-->
        <div v-if = "field.type=='editor'" v-html="item[field.name]"></div>
        <!--日期时间-->
        <block v-if = "field.type == 'date'">
            <span v-if = "item[field.name] && item[field.name] !='0000-00-00 00:00:00'">{{vGetDateTime(item[field.name],field.option)}}</span>
        </block>
        <!--普通枚举-->
        <block v-if = "field.type=='enum'">
            <!--可在列表编辑-->
            <block v-if = "field.is_list_edit">
                <!--可以在列表进行修改-->
                <select v-model="item[field.name]" class="listEditInput" 
                        v-on:change="listEditUpdate(item)" 
                        onmouseover="$('.listEditInput').addClass('borderHide');$(this).removeClass('borderHide')"> 
                    <option v-for="(tmpOption,k) in field.option" v-bind:value="k" >{{tmpOption}}</option> 
                </select>
            </block>
            <!--不可在列表编辑-->
            <block v-else>
                <!--点击直接搜索-->
                <a href="javascript:;" v-if="field.search_type == 'equal'" 
                   v-bind:title="'点击搜索'+ field.option[item[field.name]]" 
                   v-on:click="searchData(field.name,item[field.name])">{{field.option[item[field.name]]}}</a>
                <span v-else>{{field.option[item[field.name]]}}</span>
            </block>
        </block>
        <!--动态枚举-->
        <block v-if = "field.type=='dynenum' && field.option.option">
            <!--点击直接搜索-->
            <!--点击弹窗list_pop-->
            <xjr-button v-if="field.list_pop" 
                        v-bind:operate="field.list_pop_operate" 
                        width = "90%"  height = "90%" button_cate="ahref"
                        v-bind:button_name  ="field.option.option[item[field.name]]"
                        v-bind:url          = "urlDataReplace(field.list_pop,item)" 
                        show_name           = "true"
                        v-bind:data         = "item" 
                    ></xjr-button>
            <a href="javascript:;" v-else-if="field.search_type == 'equal'" 
               v-bind:title="'点击搜索'+ field.option.option[item[field.name]]" 
               v-on:click="searchData(field.name,item[field.name])">{{field.option.option[item[field.name]]}}</a>
            <span v-else>{{field.option.option[item[field.name]]}}</span>
        </block>
        <!--链接图片-->
        <a v-bind:href="item[field.name]" v-if = "field.type=='image'" target="_blank">
            <img v-bind:src="item[field.name]" width="field.min_width">
        </a>
        <!--上传图片-->
        <a v-bind:href="item[field.name]['file_path']" v-if = "field.type=='uplimage' && item[field.name]"  target="_blank">
            <img class="tableImage" v-bind:src="item[field.name]['file_path']" v-bind:width="field.min_width" @mouseover = "$emit('big_img_url',item[field.name]['file_path'])" @mouseout = "$emit('big_img_url','')">
        </a>
        <!--上传附件-->
        <a v-bind:href="item[field.name]['file_path']" v-if = "field.type=='uplfile' && item[field.name]"  target="_blank">附件</a>
        <!--开关-->
        <block v-if = "field.type=='switch'">
            <div class="tpl-switch" style="position:relative;">
                <input type="checkbox" class="ios-switch bigswitch tpl-switch-btn" v-model="item[field.name]" v-on:click="item[field.name] = Number(!item[field.name]);updateItem(item)">
                <div class="tpl-switch-btn-view" style="display:inline-block">
                    <div></div>
                </div>
            </div>
        </block>
        <!--listedit列表编辑-->
        <input v-if = "field.type=='listedit'" type="text" class="tpl-form-input listEditInput borderHide" placeholder="" 
                style="width:100%;"
               v-model="item[field.name]" v-on:change="listEditUpdate(item)" onmouseover="$('.listEditInput').addClass('borderHide');$(this).removeClass('borderHide')">
        <!--勾选框-->
        <block v-if = "field.type=='check'">
            <block v-for="(tmpOption,k) in field.option.option">
                <block v-for="(optionData,l) in item[field.name]">
                    <span v-if="optionData == tmpOption['id']" style="padding:2px;">{{tmpOption[field.option.value]}}</span>
                </block>
            </block>
        </block>
        <!--动态树：name值固定（tree组件所需的name）-->
        <block v-if = "field.type=='dyntree' ">
            <block v-for="(tmpOption,k) in field.option.option">
                <block v-for="(optionData,l) in item[field.name]">
                    <span v-if="optionData == tmpOption['id']" style="padding:2px;">{{tmpOption.name}}</span>
                </block>
            </block>
        </block>
        <!-- 流程：flow: node_key, node_name, flow_status -->
        <div v-if = "field.type=='flow'" >
            <!--点击弹窗list_pop-->
            <span v-if="item[field.name].flow_status == 'todo'" class="f-blue">等待</span>
            <xjr-button v-if="field.list_pop" 
                        v-bind:operate="field.list_pop_operate" width = "90%"  height = "90%" button_cate="ahref"
                        v-bind:button_name  ="item[field.name].node_name"
                        v-bind:url          = "urlDataReplace(field.list_pop,item)" 
                        show_name           = "true"
                        v-bind:data         = "item" 
                    ></xjr-button>
            <span v-else>{{item[field.name].node_name}}</span>
        </div>
    </block>
</template>

<script>
    //定义hblock组件
    Vue.component('xjr-table-td', {
        //列表信息:列表编辑：项目
        props: { field : Array ,item : Array},
        template: '#xjr-table-td',
        data: function(){
            return {};
        },
        methods : {
            getLists : function(){
                console.log('xjr-table-td的getLists方法');
                this.$emit('get_lists');
            },
            //获取日期时间
            vGetDateTime( value ,formatt){
                if(formatt == ''){
                    formatt = 'yyyy-MM-dd';
                }
                return getDateTime(value,formatt);
            },
            //搜索数据
            searchData (key,value){
                this.$emit('search_data',key,value);
            },
            //列表编辑
            listEditUpdate : function ( item ) {
                var that = this;
                console.log( item );
                //调用公共异步请求函数
                that.ajaxOperate( "{:url('update',$paramInherit)}",item,"");
            },    
            //更新数据
            updateItem : function (e) {
                var that = this;
                console.log(e);
                //弹层
                var layerIndex = layer.load(2);
                //发异步删除数据
                $.ajax({
                    url:"{:url('update',$paramInherit)}",
                    type:'POST',
                    data: e,
                    success:function(data){
                        //关闭弹层
                        layer.close(layerIndex);
                        if(data.code == 0){
                            layer.msg(data.message, {icon: 1, time: 1000});
                        } else {
                            layer.msg(data.message, {icon: 2});
                        }
                    }
                });
            },
            //异步操作
            ajaxOperate : function(url, data, functionName ){
                var that= this;
                //弹层
                var layerIndex = layer.load(2);
                //发异步删除数据
                $.ajax({
                    url : url,
                    type: 'POST',
                    data: data,
                    success:function(data){
                        //关闭弹层
                        layer.close( layerIndex );
                        if(data.code == 0){
                            layer.msg(data.message, {icon: 1, time: 1000},function(){
                                if( functionName ){
                                    that[functionName]();
                                }
                            });
                        } else {
                            layer.msg(data.message, {icon: 2});
                        }
                    }
                });
            },            
        },
        created :function(){

        }
    });
</script>

<style>
    .tableImage:hover img{
        width: 200px;
        height: 150px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        z-index: 1;
        padding: 2px;
        border: 2px solid black;
    }
</style>