<!-- 列表的字段组件 -->
<template id="xjr-field">
    <div>
        <!--需要$tmpValueName-->
        <!--字段类型：普通输入框-->
        <!--字段类型：密码输入框-->
        <!--字段类型：文本输入框-->
        <!--字段类型：开关-->
        <cfield v-bind:type="list_item.type" 
                v-model         ="item_data[list_item.name]" 
                v-bind:remark   ="list_item.remark" 
                v-bind:editable ="list_item.editable"
                v-bind:is_detail="is_detail"
                v-bind:option   ='list_item.option'
            ></cfield>
        <!--字段类型：多选框-->
        <div v-if="list_item.type == 'check'">
            <label class="am-checkbox-inline" v-for="(tmpOption,k) in list_item.option.option">
                <input type="checkbox" v-bind:value="tmpOption.id" v-bind:readonly="list_item.is_edit == 0" v-model="item_data[list_item.name]"> {{tmpOption[list_item.option.value]}}
            </label>
        </div>
        <!--字段类型：普通枚举-->
        <div v-if="list_item.type == 'enum'">
            <!--字段类型：普通枚举-->
            <cselect v-bind:option="list_item.option" 
                     v-model="item_data[list_item.name]"
                     v-bind:is_detail="is_detail"
                     @linkage="formLinkage()"></cselect>
        </div>
        <!--字段类型：动态枚举：从ajax接口取数据-->
        <div  v-if="list_item.type == 'dynenum'">
            <cselect v-if="list_item.option.data_ajax == 0"  
                     v-bind:option="list_item.option.option" 
                     v-model="item_data[list_item.name]"
                     v-bind:is_detail="is_detail"
                     @linkage="formLinkage()"></cselect>
            <cselect v-else
                     v-bind:option="list_item.option.option" 
                     v-model="item_data[list_item.name]"
                     v-bind:is_detail="is_detail"
                     v-bind:data_ajax="list_item.id"
                     @linkage="formLinkage()"></cselect>
        </div>
        <!--字段类型：动态树-->
        <div  v-if="list_item.type == 'dyntree'">
            <!--动态树-->
            <cdyntree v-bind:lists="list_item.option.option"
                      v-bind:pid ="item_data[list_item.option.linkage] ? item_data[list_item.option.linkage] : '' "
                      v-model="item_data[list_item.name]"
                      v-bind:is_detail="is_detail"
                    ></cdyntree>
        </div>

        <!--字段类型：date日期-->
        <cdatetime v-if="list_item.type == 'date'" v-model="item_data[list_item.name]" v-bind:is_detail="is_detail" type="date" v-bind:format="list_item.option"></cdatetime>
        <cdatetime v-if="list_item.type == 'datetime'" v-model="item_data[list_item.name]" v-bind:is_detail="is_detail" type="datetime" v-bind:format="list_item.option"></cdatetime>
        <!--字段类型：上传图片-->
        <!--上传图片框-->
        <cuplimage  v-bind:name="list_item.name" 
                    v-model="item_data[list_item.name]" 
                    v-if="list_item.type == 'uplimage'"
                    v-bind:is_detail="is_detail"></cuplimage>
        <!--上传多图框-->
        <cmultiimg  v-bind:name="list_item.name" 
                    v-model="item_data[list_item.name]" 
                    v-if="list_item.type == 'multiimg'"
                    v-bind:is_detail="is_detail"></cmultiimg>        
        <!--上传文件框-->
        <cuplfile   v-bind:name="list_item.name" 
                    v-model="item_data[list_item.name]" 
                    v-if="list_item.type == 'uplfile'" 
                    v-bind:is_detail="is_detail"></cuplfile>
        <!--字段类型：编辑器-->
        <ceditor    v-bind:name="list_item.name" 
                    v-model="item_data[list_item.name]" 
                    v-if="list_item.type == 'editor'"  
                    v-bind:is_detail="is_detail"></ceditor>
        <!--字段类型：块编辑-->
        <div v-if="list_item.type == 'tplset' && item_data">
            <ctplset v-bind:option="list_item.option" 
                v-bind:table_name="list_item.option.table_name" 
                v-bind:data_id="item_data.id" 
                v-bind:column_list_id="list_item.id"
                v-bind:is_detail="is_detail"></ctplset>
        </div>
        <iframe style="width:100%;overflow:auto;" ref="iframe" frameborder="0" 
                v-bind:style="{ height: list_item.option.height + 'vh' }"
            v-if="list_item.type == 'iframe'" v-bind:src="urlDataReplace(list_item.option.src,item_data)"></iframe>
        <!--iform:单页面嵌套表单-->
        {if $admUser['admin_type'] == 'super' && $sysConfigs['isDevMode']}
            <div v-if="list_item.type == 'iform'">{{list_item.option}}</div>
        {/if}        
        <xjr-field-table v-if="list_item.type == 'iform'"
                    v-bind:table_name   ="list_item.option.table_name" 
                    v-bind:form_type    ="list_item.option.form_type"
                    v-bind:method_key   ="list_item.option.method_key"
                    v-bind:data_id      ="item_data[list_item.name]"
                    v-bind:is_detail    ="list_item.option.is_detail"
                    @get_lists          =   "getLists"></xjr-field-table>     
        <!--ilist:单页面嵌套列表-->
        <xjr-table-table v-if="list_item.type == 'ilist'"
                         v-bind:table_name  ="list_item.option.table_name" 
                         v-bind:fields      ="list_item.option.fields" 
                         v-bind:query_field ="list_item.option.query_field" 
                         v-bind:query_data  ="item_data[list_item.name]" 
                         ></xjr-table-table>
    </div>
</template>

<script>
    //定义hdiv组件
    Vue.component('xjr-field', {
        //列表信息:列表编辑：项目
        //table_name:tplset的表名
        props: { list_item : Array ,item_data :Array ,is_detail : String, table_name :String },
        template: '#xjr-field',
        data: function(){
            return {
                "loaded"   : false,
            };
        },               
        methods : {
            //表单联动数据
            formLinkage : function(){
                //联动字段才触发执行
                //有id，且未加载完成
                if(!this.list_item.is_linkage || (this.item_data.id && !this.loaded)){
                    return false;
                }
                console.log( 'xjr-field formLinkage' );        
                console.log(this.list_item);
                var that = this;
                sessionStorage.setItem("formLinkageLoading","1");
                $.ajax({
                    url: "{:url('admin/SCommon/tableDataInit')}",
                    type: 'POST',
                    data: { table_name:that.list_item.table_name,table_data: that.item_data ,link_field: that.list_item.name },
                    success: function (data) {
                        if(data.code == 0){
                            //合并两个数组
                            Object.assign(that.item_data,data.data);
                        }
                        //延时一秒
                        setTimeout(function(){
                            sessionStorage.setItem("formLinkageLoading","0");
                        },1000);　　　　//延时10秒
                    }
                });                
            },
            getLists : function( data ){
                console.log('xjr-field 的 get_lists 方法');
                this.$emit('get_lists',data);
            }
        },
        mounted : function(){
            this.loaded = true; //已经加载过才能改
        },        
        created :function(){
            if(this.list_item.type == "ilist" ) {
                console.log('xjr-field 的 created');
                console.log( this.list_item );
                console.log( this.item_data );
            }
        }
    });
</script>
