<!-- 混合 -->
<template id="xjr-field-mix">
    <!--按不同的数据类型显示字段
    TODO，优化item_data[field.cate_field_name] == field.cate_field_value 到 isConditionMatch()中
    -->
    <block v-if="field && (!field.cate_field_value || !item_data || (item_data && item_data[field.cate_field_name] == field.cate_field_value)) && isConditionMatch()">
        <div v-if="item_data[field.cate_field_name]" class="hide">{{item_data[field.cate_field_name]}}</div>
        <div class="am-form-group pd1" style="min-height:45px;" v-bind:class=" 'am-u-sm-' + field.form_col"  v-if="field.type !='hidden' && field.type !='union'">
            <div v-if="field.label" v-bind:class="!['iframe','tplset','iform','ilist','uplimage'].includes(field.type) ? 'am-u-sm-3' : ''">
                <!--居中-->
                <label for="user-name" class="am-form-label" v-if="field.type == 'uplimage'" style="width:100%;text-align: center;">
                    <b v-if="['iframe','tplset','iform','ilist'].includes(field.type)" v-html="field.label"></b>
                    <span v-else v-html="field.label"></span>
                    <span v-if="field.is_must" class="f-red">*</span>
                </label>
                <!--靠右-->
                <label for="user-name" class="am-form-label" v-else-if="!['iframe','tplset','iform','ilist'].includes(field.type)" style="width:100%;">
                    <b v-if="['iframe','tplset','iform','ilist'].includes(field.type)" v-html="field.label"></b>
                    <span v-else v-html="field.label"></span>
                    <span v-if="field.is_must" class="f-red">*</span>
                </label>
                <!--靠左-->
                <label for="user-name" class="am-form-label" v-else>
                    <b v-if="['iframe','tplset','iform','ilist'].includes(field.type)" v-html="field.label"></b>
                    <span v-else v-html="field.label"></span>
                    <span v-if="field.is_must" class="f-red">*</span>
                </label>
            </div>
            <div v-bind:class="!['iframe','tplset','iform','ilist','uplimage'].includes(field.type) ? 'am-u-sm-9' : ''" style="display:flex">
                <xjr-field style="flex:1"
                           v-bind:list_item = "field" 
                           v-bind:item_data ="item_data" 
                           v-bind:is_detail ="is_detail"
                           v-bind:table_name="table_name"></xjr-field>
                <!--按钮  && !is_detail -->
                <xjr-button-id v-bind:btn_id="field.edit_btn_id" 
                               v-if="field.edit_btn_id"
                               v-bind:item  =   "item_data" 
                                @get_lists="getLists"                               
                            ></xjr-button-id>
            </div>
        </div>
        <!--联表类型数据：union：编辑框才有-->
        <div class="am-form-group" v-bind:class=" 'am-u-sm-' + field.form_col"  v-if="field.type =='union' && item_data">
             <hr class="mg1-b">
             <label for="user-name" class="am-form-label" v-if="field.label"><b>{{field.label}}</b></label>
            <div>
                <!--子级表的循环  && ((subField.is_add && form_type == 'add') || (subField.is_edit && form_type == 'edit')) -->
                <div class="am-form-group" 
                     v-for="(subField,j) in field.table_info.listInfo"
                     v-bind:class=" 'am-u-sm-' + subField.form_col"  
                     v-if="subField.type !='hidden'  && ((subField.is_add && form_type == 'add') || (subField.is_edit && form_type == 'edit'))
                        && (!subField.cate_field_value || !item_data[field.name] || (item_data[field.name][subField.cate_field_name] == subField.cate_field_value))
                     ">
                    <!--递归-->
                    <xjr-field-mix v-bind:field="subField" 
                        v-bind:item_data="item_data[field.name]"
                        v-bind:is_detail="is_detail"
                        v-bind:table_name ="field.table_info.table_name"
                    ></xjr-field-mix>
                </div>
                <!--子级表的循环结束-->
            </div>
        </div>
        <!--联表类型数据结束：union-->
        <!--隐藏域-->
        <input v-if="field.type =='hidden'" type="hidden" v-model="item_data[field.name]">     
    </block>
</template>

<script>
    //定义hblock组件
    Vue.component('xjr-field-mix', {
        //列表信息:列表编辑：项目
        props: { field : Array ,item_data :Array ,is_detail : String, table_name: String, form_type: String },
        template: '#xjr-field-mix',
        watch:{
            item_data : {
                handler :function(newName, oldName) {
                    console.log('监听');
                    console.log(newName);
                },
                // 代表在wacth里声明了firstName这个方法之后立即先去执行handler方法
                immediate: true
            },
        },
        methods:{
            //展示条件
            isConditionMatch : function( ){
                var showCondition = this.field.show_condition;
                var that = this;
                if(!showCondition ){
                    return 1;
                }
                console.log(showCondition);
                var isMatch = 1;
                $.each( showCondition ,function (key,value) {
                    if(that.item_data && that.item_data[key] != value){
                        isMatch = 0;
                    }
                });
                console.log(isMatch);
                return isMatch;
            },
            //重新加载数据
            getLists : function () {
                this.$emit('get_lists');
            },         
        }
    });
</script>
