<!-- 列表的字段组件 -->
<template id="xjr-field-table">
    <block>
        <!-- 有布局执行这边 -->
        <div class="am-cf" v-if="flexInfo && flexInfo.length > 0  && dataInfo">
            <xjr-field-flex v-bind:item="subItem" v-for="subItem in flexInfo"
                            v-bind:item_data="dataInfo"
                            v-bind:list_info="listInfo"
                            v-bind:form_type="form_type"
                            v-bind:is_detail="is_detail"
                        ></xjr-field-flex>
        </div>
        <!--只显示is_add字段；按后台配置宽度显示-->
        <!-- 没有布局执行这边 -->
        <div v-else>
            <block v-for="(field,i) in listInfo" v-if="((field.is_add && form_type == 'add') || (field.is_edit && form_type == 'edit')) && dataInfo">
                <!--字段混合-->
                <xjr-field-mix v-bind:field="field" 
                        v-bind:item_data="dataInfo"
                        v-bind:is_detail="field.only_detail ? field.only_detail : is_detail"
                        v-bind:form_type ="form_type"
                    ></xjr-field-mix>
            </block>
        </div>
        <div class="am-form-group" v-if='is_detail == 0'>
            <div class="am-u-sm-9">
                <button type="button" class="am-btn am-btn-primary" @click="mySubmit()">提交</button>
            </div>
        </div>
        <!--方便超级管理员配置-->
        {if $admUser['admin_type'] == 'super' && $sysConfigs['isDevMode']}
            <!--表-->
            <xjr-button-id btn_id="5166586801119887360" v-bind:item="{id:columnId}"></xjr-button-id>
            <!--布局-->
            <xjr-button-id btn_id="5166430270111895552" v-bind:query_data="{flex_id:flexId}"></xjr-button-id>
            <!--字段-->
            <xjr-button-id btn_id="5166430664964022272" v-bind:query_data="{column_id:columnId}"></xjr-button-id>
            <!--按钮-->
            <xjr-button-id btn_id="5166477854086787072" v-bind:query_data="{column_id:columnId}"></xjr-button-id>
        {/if}                
        
    </block>
</template>

<script>
    //定义hblock组件
    Vue.component('xjr-field-table', {
        //列表信息:列表编辑：项目
        //input_data : 预输入信息； is_detail : 只看不改; table_name ：表名, data_id: 数据id 
        props: { input_data :Array ,is_detail : String, table_name :String, data_id: String ,form_type: String ,method_key: String},
        template: '#xjr-field-table',
        data: function(){
            return {
                //数据信息
                "dataInfo"  :{},
                //布局信息
                "flexInfo"  :{},
                "columnId"  :'',       
                "flexId"    :"",
                //字段信息
                "listInfo"  :{},
                "loading"   : false,
            };
        },
        watch:{
            table_name : {
                handler :function(newName, oldName) {
                    this.tableNameColumn();
                },
                // 代表在wacth里声明了firstName这个方法之后立即先去执行handler方法
                immediate: true
            },
            data_id : {
                handler :function(newName, oldName) {
                    this.tableNameData();
                },
                // 代表在wacth里声明了firstName这个方法之后立即先去执行handler方法
                immediate: true
            },
            dataInfo : {
                handler :function(newName, oldName) {
//                    this.tableNameColumn();
                },
                // 代表在wacth里声明了firstName这个方法之后立即先去执行handler方法
                immediate: true
            },
        },
        methods : {
            //表单提交
            mySubmit : function () {
                //表单参数赋值
                var that = this;
                console.log( that.dataInfo );
                layer.confirm('确认提交吗？', function (index) {
                    //弹层
                    var layerIndex = layer.load(2);
                    $.ajax({
                        url: "{:url('admin/SCommon/tableNameSave')}",
//                        contentType:'application/json;charset=utf-8',
                        type: 'POST',
                        data: {table_name:that.table_name,table_data: that.dataInfo},
                        success: function (data) {
                            //关闭弹层
                            layer.close(layerIndex);                            
                            if(data.code == 0){
                                layer.msg(data.message, {icon: 1, time: 1000},function(){
                                    that.data_id    = data.data;
                                    that.form_type  = 'edit';
                                });
                            } else {
                                layer.msg(data.message, {icon: 2});
                            }
                        }
                    });
                });
            },            
            tableNameColumn : function(){
                var that = this;
                //弹层
                var layerIndex = layer.load(2);
                $.ajax({
                    url: "{:url('admin/SCommon/tableNameColumn')}",
                    type: 'POST',
                    data: {table_name:that.table_name,methodKey : that.method_key,data_id: that.data_id},
                    success: function (data) {
                        //关闭弹层
                        layer.close(layerIndex);                            
                        if(data.code == 0){
                            that.columnId = data.data.id;
                            that.flexId   = data.data.flex_id;
                            that.flexInfo = data.data.flexInfo;
                            that.listInfo = data.data.listInfo;
                        } else {
                            layer.msg(data.message, {icon: 2});
                        }
                    }
                });                
            },
            //表名取数据
            tableNameData : function(){
                var that = this;
                //弹层
                var layerIndex = layer.load(2);
                $.ajax({
                    url: "{:url('admin/SCommon/tableNameData')}",
                    type: 'POST',
                    data: {table_name:that.table_name,id:that.data_id},
                    success: function (data) {
                        //关闭弹层
                        layer.close(layerIndex);                            
                        if(data.code == 0){
                            console.log('that.dataInfo');
                            console.log( data.data );
                            that.dataInfo = data.data;
                        }
                    }
                });
            },
            getLists : function(){
                
            }
        },
        created :function(){
            console.log(this.table_name);
            this.dataInfo = this.input_data;
        }
    });
</script>
