<!-- 混合 -->
<template id="xjr-field-mix">
    <!--按不同的数据类型显示字段
    -->
    <block v-if="field && (!field.cate_field_value || !item_data || item_data[field.cate_field_name] == field.cate_field_value)">
        <div class="am-form-group" v-bind:class=" 'am-u-sm-' + field.form_col"  v-if="field.type !='hidden' && field.type !='union'">
            <div v-bind:class="field.type !='iframe' && field.type !='tplset' ? 'am-u-sm-3' : ''">
                <label for="user-name" class="am-form-label" >
                    <b v-if="field.type == 'iframe'">{{field.label}}</b>
                    <span v-else>{{field.label}}</span>
                </label>
            </div>
            <div v-bind:class="field.type !='iframe' && field.type !='tplset' ? 'am-u-sm-9' : ''">
                <xjr-field v-bind:list_item = "field" 
                           v-bind:item_data ="item_data" 
                           v-bind:is_detail ="is_detail"
                           v-bind:table_name="table_name"></xjr-field>
            </div>
        </div>
        <!--联表类型数据：union：编辑框才有-->
        <div class="am-form-group" v-bind:class=" 'am-u-sm-' + field.form_col"  v-if="field.type =='union'">
             <hr>
            <label for="user-name" class="am-form-label" v-if="field.label">{{field.label}}</label>
            <div>
                <!--子级表的循环  && ((subField.is_add && form_type == 'add') || (subField.is_edit && form_type == 'edit')) -->
                <div class="am-form-group" 
                     v-for="(subField,j) in field.table_info.listInfo"
                     v-bind:class=" 'am-u-sm-' + subField.form_col"  
                     v-if="subField.type !='hidden'  && ((subField.is_add && form_type == 'add') || (subField.is_edit && form_type == 'edit'))">
                    <!--递归-->
                    <xjr-field-mix v-bind:field="subField" 
                        v-bind:item_data="item_data[field.name]"
                        v-bind:is_detail="is_detail"
                        v-bind:table_name ="field.table_info.table_name"
                    ></xjr-field-mix>
                </div>
                <!--子级表的循环结束-->
            </div>
        </div>
        <!--联表类型数据结束：union-->
        <!--隐藏域-->
        <input v-if="field.type =='hidden'" type="hidden" v-model="item_data[field.name]">     
    </block>
</template>

<script>
    //定义hblock组件
    Vue.component('xjr-field-mix', {
        //列表信息:列表编辑：项目
        props: { field : Array ,item_data :Array ,is_detail : String, table_name: String, form_type: String },
        template: '#xjr-field-mix',
    });
</script>
