<!-- 简单的表格组件 -->
<template id="xjr-table-simple">
    <!--layerPage-->
    <!--字段明细  v-if="field.is_list && field.name == field_name" -->
    <block>
        <table width="100%" class="am-table am-table-compact am-table-bordered" v-if="column_info">
            <tr>
                <th v-for="(field,i) in column_info.listInfo" v-if="field.is_list && fields.indexOf(field.name) != -1">{{field.label}}</th>
                <th v-if="has_operate">操作</th>
            </tr>
            <tr v-if="data.length == 0" >
                <td colspan=99 style="text-align:center;"> 暂无数据 </td>
            </tr>
            <tr class="gradeX" v-for="(item,i) in data" v-if="data.length">
                <td v-for="(field,j) in column_info.listInfo" v-if="field.is_list && fields.indexOf(field.name) != -1" 
                    style="text-overflow:ellipsis;overflow:hidden;text-align:center;word-break: break-all;">
                    <!--普通文本-->
                    <block v-if = "field.type=='text' || field.type=='listedit'" >
                        <!--点击弹窗list_pop-->
                        <xjr-button v-if="field.list_pop" 
                                    v-bind:operate="field.list_pop_operate" width = "90%"  height = "90%" button_cate="ahref"
                                    v-bind:button_name  ="item[field.name]"
                                    v-bind:url          = "urlDataReplace(field.list_pop,item)" 
                                    show_name           = "true"
                                    v-bind:data         = "item" 
                                ></xjr-button>
                        <span v-else>{{item[field.name]}}</span>
                    </block>
                    <!--枚举-->
                    <block v-if = "field.type=='enum'">
                        <span v-if="field.option[item[field.name]] && field.option[item[field.name]]['label']">{{field.option[item[field.name]]['label']}}</span>
                        <span v-else>{{field.option[item[field.name]]}}</span>
                    </block>
                    <!--动态枚举-->
                    <block v-if = "field.type=='dynenum'">{{field.option.option[item[field.name]]}}</block>
                </td>
                <td v-if="has_operate">
                    <div style="float:right;">
                        <xjr-table-btns v-bind:btn_info     = "column_info.btnInfo" 
                                v-bind:item          = "item"
                                v-bind:query_data    = "query_data"
                                @get_lists="getLists"                                    
                            ></xjr-table-btn>
                    </div>
                </td>
            </tr>
        </table>
    </block>
</template>

<script>
    //定义hblock组件
    Vue.component('xjr-table-simple', {
        //列表信息:列表编辑：项目 column_info列信息；data数据(不含分页的)；分页数据；has_operate 有操作
        props: { 'column_info':Array,fields : Object ,'data':Array ,"query_data":Array, "has_operate" : String},
        template: '#xjr-table-simple',
        data: function(){
            return {
            };
        },
        computed : {
            
        },
        methods : {
            getLists : function(){
                this.$emit('get_lists');                        
            }
        },
        created :function(){
        }
    });
</script>
