<!-- 列表的字段组件 -->
<template id="xjr-table-btns">
    <!--按钮-->
    <!--列表弹窗 v-bind:form_data    =   "item" -->
    <div>
    <xjr-button icon="pencil" button_cate="ahref" show_name="true"
                v-for="(btn,k) in btn_info"
                v-if="btn.place=='list'"
                v-bind:width        =   "btn.layer_width"
                v-bind:height       =   "btn.layer_height"
                v-bind:operate      =   "btn.o_type" 
                v-bind:icon         =   "btn.icon" 
                v-bind:button_cate  =   "btn.btn_cate" 
                v-bind:btn_style    =   "btn.btn_style" 
                v-bind:btn_class    =   "btn.btn_class" 
                v-bind:button_name  =   "btn.name"
                v-bind:url          =   "btn.url" 
                v-bind:title        =   "btn.title" 
                v-bind:confirm      =   "btn.confirm"
                v-bind:prompt       =   "btn.prompt"
                v-bind:prompt_default=   "btn.prompt_default"
                v-bind:data         =   "item" 
                v-bind:form_data    =   "query_data" 
                v-bind:show_condition= 'btn.show_condition'
                v-bind:no_match_style= "btn.no_match_style"
                @get_lists="getLists"
            ></xjr-button></div>
</template>

<script>
    //定义hblock组件
    Vue.component('xjr-table-btns', {
        //列表信息:列表编辑：项目 column_info列信息；data数据(不含分页的)；分页数据
        //edit_url编辑页面路径；copy_url复制接口路径；delete_url删除接口路径
        props: { btn_info : Array, item : Array , query_data : Array },
        template: '#xjr-table-btns',
        methods : {
            //获取数据
            getLists : function () {
                this.$emit('get_lists');
            },
        },
        created :function(){

        }
    });
</script>
