<!--【页码】-->
<div class="am-fr" v-if="{$tmpListKey}.current_page">
    <ul class="am-pagination tpl-pagination">
        <!--前一页:当前页码大于1显示-->
        <li v-if="{$tmpListKey}.current_page > 1"><a href="javascript:;" v-on:click="getPageLists({$tmpListKey}.current_page *1 -1)">«</a></li>
        <!--第一页:当前页码大于1显示-->
        <li v-if="{$tmpListKey}.current_page > 1"><a href="javascript:;" v-on:click="getPageLists(1)" >1</a></li>
        <!--……-->
        <li v-if="{$tmpListKey}.current_page > 3"><a href="javascript:;">…</a></li>
        <!--上一页:当前页码-1后大于1显示-->
        <li v-if="{$tmpListKey}.current_page * 1 -1 >1"><a href="javascript:;" v-on:click="getPageLists({$tmpListKey}.current_page *1 -1)">{{{$tmpListKey}.current_page-1}}</a></li>
        <!--当前页-->
        <li class="am-active"><a href="javascript:;">{{{$tmpListKey}.current_page}}</a></li>
        <!--下一页: 当前页码+1后，小于最后一页码显示-->
        <li v-if="{$tmpListKey}.current_page * 1 + 1 < {$tmpListKey}.last_page * 1 "><a href="javascript:;" v-on:click="getPageLists({$tmpListKey}.current_page * 1 + 1 )">{{{$tmpListKey}.current_page *1+1}}</a></li>
        <!--……-->
        <li v-if="{$tmpListKey}.current_page * 1 + 2 < {$tmpListKey}.last_page"><a href="javascript:;">…</a></li>
        <!--末页: 当前页码小于末页码显示-->
        <li v-if="{$tmpListKey}.current_page < {$tmpListKey}.last_page * 1 "><a href="javascript:;" v-on:click="getPageLists({$tmpListKey}.last_page )">{{{$tmpListKey}.last_page}}</a></li>
        <!--下一页-->
        <li v-if="{$tmpListKey}.current_page < {$tmpListKey}.last_page * 1 "><a href="javascript:;" v-on:click="getPageLists({$tmpListKey}.current_page * 1 + 1 )">»</a></li>
        <li>共{{{$tmpListKey}.total}}条</li>
        <li>{{{$tmpListKey}.per_page}}条/页</li>
    </ul>
</div>