<!-- 用于包含组件的文件 -->
<!-- typeTab -->
{include file="xjryanse/weui/component/we-cell-describe"/}
{include file="xjryanse/weui/component/we-cell-field"/}
{include file="xjryanse/weui/component/we-cell-select"/}
{include file="xjryanse/weui/component/we-cell-textarea"/}
{include file="xjryanse/weui/component/we-cell-qrcode"/}
{include file="xjryanse/weui/component/we-cell-sms"/}
{include file="xjryanse/weui/component/we-cell-uplimage"/}
{include file="xjryanse/weui/component/we-comm-list"/}
{include file="xjryanse/weui/component/we-comm-add"/}
{include file="xjryanse/weui/component/we-uplimage"/}
{include file="xjryanse/weui/component/we-header"/}
{include file="xjryanse/weui/component/we-tabs"/}
{include file="xjryanse/weui/component/we-label"/}
{include file="xjryanse/weui/component/we-field"/}
{include file="xjryanse/weui/component/we-form-item"/}
{include file="xjryanse/weui/component/we-detail"/}
{include file="xjryanse/weui/component/we-datetime"/}
{include file="xjryanse/weui/component/we-select"/}
{include file="xjryanse/weui/component/we-listitem-simple"/}
{include file="xjryanse/weui/component/we-list-loadmore"/}
{include file="xjryanse/weui/component/we-nothing"/}
{include file="xjryanse/weui/component/we-qrcode"/}
{include file="xjryanse/weui/component/we-table"/}


