<!--脚本方法
参数：socket连接地址：$wssUrl;
$chatWithUserId：聊天对象id

-->
<script>
    //socket连接地址
    var wssUrl = '{$wssUrl|raw}';
    //聊天对象连接id
    var chatWithConnectId ;
    //聊天对象用户id
    var chatWithUserId = "{$chatWithUserId}";
    //socket实例
    var ws;
    
    //心跳检测
    var heartCheck = {
        timeout: 60000,//心跳检测60s
        timeoutObj: null,//定时变量
        serverTimeoutObj: null,
        reset: function(){
            clearTimeout(this.timeoutObj);
            clearTimeout(this.serverTimeoutObj);
            this.start();
        },//重置定时
        start: function(){
            var self = this;
            this.timeoutObj = setTimeout(function(){
                ws.send("ping");
                console.log(ws.send);
                self.serverTimeoutObj = setTimeout(function(){
                    //心跳时间内收不到消息，主动触发连接关闭，开始重连
                    // ws.close();//如果onclose会执行reconnect，我们执行ws.close()就行了，如果直接执行reconnect，会触发onclose导致重连两次
                },self.timeout)
            },this.timeout)
        }
    };    
    /**
     * 创建websocket连接
     * @param {type} wssUrl
     * @returns {undefined}
     */
    function createWebSocket(wssUrl){
        try{
            ws = new WebSocket(wssUrl);
            init();
        }catch (e) {
            console.log('catch');
            console.log(e);
        }
    }

    function init() {
        ws.onclose = function(){
            console.log('连接关闭');
        };
        ws.onerror = function(){
            console.log('发生异常了');
            if(ws.error){
                console.log("出事了")
            }
        };
        ws.onopen = function(){
            console.log('成功');
            //获取聊天用户连接id
            getChatWithConnectId();
            heartCheck.start();
        };

        ws.onmessage = function (event) {
            console.log(event);
            var data = event.data;
            if (data.match("^\{(.+:.+,*){1,}\}$")) {
                var message = eval("(" + data + ")");
                console.log( message );
                //
                dealSocketMessage( message.type,message );
                //重置心跳包
                heartCheck.reset();
            }
        };
    }
    /**
     * 获取聊天对象id
     */
    function getChatWithConnectId(){
        var message = "{\"type\":\"getConnectId\",\"message\":{\"user_id\":\""+ chatWithUserId + "\"}}";
        console.log( message );
        ws.send( message );
    }
    
    /**
     * 处理消息方法：type:消息类型；message:完整消息内容
     */
    function dealSocketMessage(type,message){
        //获取聊天连接id
        if(type == 'getConnectId'){
            chatWithConnectId = message.message;
        }
        //获取聊天消息
        if(type == 'chat'){
            //消息推送到前端
            App.afterChat( message.message );
        }

    }
    /*
     * socket聊天消息发送
     */
    function socketChatSend( message )
    {
        var _message = {"type":"chat","message":message};
        ws.send( JSON.stringify( _message ) );
    }
    //创建连接
    createWebSocket(wssUrl);
</script>
