    //表格数据块
    SColumnTplset : function( tableName, columnListId, dataId, callback ){
        var that= this;
        //弹层
        var layerIndex = layer.load(2);
        //发异步删除数据
        $.ajax({
            url : "{:url('admin/SColumn/tplset',$paramInherit)}",
            type: 'POST',
            data: {"tableName":tableName,"columnListId":columnListId,"dataId":dataId},
            success:function(data){
                //关闭弹层
                layer.close( layerIndex );
                if(data.code == 0){
                    //回调函数
                    callback( data.data ); 
                } else {
                    layer.msg(data.message, {icon: 2});
                }
            }
        });
    },
