    //表格数据块
    subUpdate : function( tableName, itemData ){
        var that= this;
        //弹层
        var layerIndex = layer.load(2);
        //发异步更新
        $.ajax({
            url : "{:url('subUpdate',$paramInherit)}",
            type: 'POST',
            data: {"tableName":tableName,"data": itemData},
            success:function(data){
                //关闭弹层
                layer.close( layerIndex );
                if(data.code == 0){
                    layer.msg(data.message, {icon: 1, time: 1000});
                    //回调函数
                } else {
                    layer.msg(data.message, {icon: 2});
                }
            }
        });
    },
