<!--需要$tmpValueName-->
<!--字段类型：普通输入框-->
<div v-if="[fieldName].type == 'text' || [fieldName].type == 'listedit' ">
    <input type="text" class="tpl-form-input" :readonly="[fieldName].is_edit == 0" placeholder="请输入" v-model="{$tmpValueName}[[fieldName].name]" v-if="!isDetail">
    <p v-if="isDetail">{{{$tmpValueName}[[fieldName].name]}}</p>
    <small>{{[fieldName].remark}}</small>
</div>
<!--字段类型：文本输入框-->
<!--                        <div v-if="[fieldName].type == 'textarea'">-->
<div v-if="[fieldName].type == 'textarea'">
    <textarea class="" rows="10" placeholder="请输入" :readonly="[fieldName].is_edit == 0" v-model="{$tmpValueName}[[fieldName].name]" v-if="!isDetail"></textarea>
    <p v-if="isDetail">{{{$tmpValueName}[[fieldName].name]}}</p>
</div>
<!--字段类型：多选框-->
<div v-if="[fieldName].type == 'check'">
    <label class="am-checkbox-inline" v-for="(tmpOption,k) in [fieldName].option.option">
        <input type="checkbox" :value="tmpOption.id" :readonly="[fieldName].is_edit == 0" v-model="{$tmpValueName}[[fieldName].name]"> {{tmpOption[[fieldName].option.value]}}
    </label>
</div>
<!--字段类型：普通枚举-->
<div  v-if="[fieldName].type == 'enum'">
    <select v-model="{$tmpValueName}[[fieldName].name]" :readonly="[fieldName].is_edit == 0" data-am-selected="{searchBox: 1}" style="display: none;">
        <option value="" >请选择</option> 
        <option v-for="(tmpOption,k) in [fieldName].option" :value="k" >{{tmpOption}}</option> 
    </select>
</div>                        
<!--字段类型：动态枚举-->
<div  v-if="[fieldName].type == 'dynenum'">
    <!--需要用js赋值一下，没有绑定。不知道为啥-->
    <select v-model="{$tmpValueName}[[fieldName].name]" :readonly="[fieldName].is_edit == 0" data-am-selected="{searchBox: 1}" :name="[fieldName].name" style="display: none;" onchange="app.{$tmpValueName}[this.name]=this.value;"> 
        <option value="" >请选择</option> 
        <option v-for="(tmpOption,k) in [fieldName].option.option" :value="k" >{{tmpOption}}</option> 
    </select>
</div>
<!--字段类型：动态树-->
<div  v-if="[fieldName].type == 'dyntree'">
    <textarea style="width: 100%;overflow:hidden;" rows=5 :checks="{$tmpValueName}[[fieldName].name]" :id="[fieldName].name" :name="[fieldName].name" type="text" readonly onchange="console.log('465465')"></textarea>
</div>

<!--字段类型：date日期-->
<div  v-if="[fieldName].type == 'date'">
    <input type="text" class="tpl-form-input" :readonly="[fieldName].is_edit == 0" placeholder="请输入" v-if="!isDetail"  v-model="{$tmpValueName}[[fieldName].name]" :name="[fieldName].name" data-am-datepicker 
           onchange="app.{$tmpValueName}[this.name]= $(this).attr('value')">
    <p v-if="isDetail">{{{$tmpValueName}[[fieldName].name]}}</p>
    <small>{{[fieldName].remark}}</small>
</div>

<!--字段类型：上传图片-->
<div  v-if="[fieldName].type == 'uplimage'">
    <div class="am-form-group am-form-file">
        <div class="tpl-form-file-img">
            <img :src="{$tmpValueName}[[fieldName].name]['file_path']" v-if="{$tmpValueName}[[fieldName].name]" style="max-width:100%;" >
        </div>
        <button type="button" class="am-btn am-btn-danger am-btn-sm" v-if="!{$tmpValueName}[[fieldName].name]">
            <i class="am-icon-cloud-upload"></i> 添加图片
        </button>
        <input id="doc-form-file" type="file" multiple="" @change="uplPic($event,[fieldName].name)" :readonly="[fieldName].is_edit == 0" >
    </div>
</div>
<!--字段类型：编辑器-->
<div  v-if="[fieldName].type == 'editor'">
    <script id="editor" type="text/plain" style="width:1024px;height:500px;"></script>
    <script>
//        var ue = UE.getEditor('editor');
    </script>
</div>
<!--字段类型：开关-->
<div  v-if="[fieldName].type == 'switch'">
    <div class="tpl-switch">
        <input type="checkbox" :readonly="[fieldName].is_edit == 0" class="ios-switch bigswitch tpl-switch-btn" v-model="{$tmpValueName}[[fieldName].name]" v-on:click="{$tmpValueName}[[fieldName].name] = Number(!{$tmpValueName}[[fieldName].name])">
        <div class="tpl-switch-btn-view">
            <div>
            </div>
        </div>
    </div>
</div>