/* 字体图标 */
@font-face {
  font-family: 'iconfont';  /* project id 1209339 */
  src: url('//at.alicdn.com/t/font_1209339_vj6zgmxd9u.eot');
  src: url('//at.alicdn.com/t/font_1209339_vj6zgmxd9u.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1209339_vj6zgmxd9u.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1209339_vj6zgmxd9u.woff') format('woff'),
  url('//at.alicdn.com/t/font_1209339_vj6zgmxd9u.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1209339_vj6zgmxd9u.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
/* 字体图标 */

body{background: #f2f2f2;}

/* WEUI主色调 */
.weui-tabbar__item.weui-bar__item--on .weui-tabbar__label, .weui-tabbar__item.weui-bar__item--on .weui-tabbar__icon i, .weui-vcode-btn, .weui-dialog__btn, .weui-cells_radio .weui-check:checked+.weui-icon-checked:before, .weui-cells_checkbox .weui-check:checked+.weui-icon-checked:before, .weui-agree__checkbox:checked:before, .toolbar .picker-button, .weui-search-bar__cancel-btn, .weui-form-preview__btn_primary{color: #FF2F30;}
.weui-btn_primary, .picker-calendar-day.picker-calendar-day-selected span, .swiper-pagination-bullet-active{background-color: #3eb4fa;}
.weui-btn_plain-primary:not(.weui-btn_plain-disabled):active{color:rgba(52, 170, 239, 0.6); border-color:rgba(52, 170, 239, 0.6);}
.weui-btn_primary:not(.weui-btn_disabled):active{background-color:#34aaef;}
i.icon.icon-next{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2015%2015'%3E%3Cg%3E%3Cpath%20fill%3D'%233eb4fa'%20d%3D'M1%2C1.6l11.8%2C5.8L1%2C13.4V1.6%20M0%2C0v15l15-7.6L0%2C0L0%2C0z'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")}
i.icon.icon-prev{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2015%2015'%3E%3Cg%3E%3Cpath%20fill%3D'%233eb4fa'%20d%3D'M14%2C1.6v11.8L2.2%2C7.6L14%2C1.6%20M15%2C0L0%2C7.6L15%2C15V0L15%2C0z'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")}
.weui-switch-cp__input:checked~.weui-switch-cp__box, .weui-switch:checked{border-color: #3eb4fa; background-color: #3eb4fa;}
/* WEUI主色调 */

/* WEUI重置 */
.weui-cells, .weui-vcode-btn{font-size: 14px;}
.weui-loadmore_line .weui-loadmore__tips{ background: #f2f2f2;}
ul, ul li{list-style: none;}
em{font-style: normal;}
.weui-photo-browser-modal{z-index: 10;}
.weui-popup__container{z-index: 10000;}
/* WEUI重置 */

/* 常用 */
.clearfix{zoom: 1;}
.clearfix:before,
.clearfix:after{content: '';display: table;}
.clearfix:after{clear: both;}
.loading{width: 100%; height: 100%; position: fixed; top:0; left: 0; background: rgba(0,0,0,0.3); z-index: 10000;box-sizing: border-box; display: flex; flex: 0 1 auto; flex-direction: column; flex-grow: 1; flex-shrink: 0; align-items: center; justify-content: center;}

.nothing{text-align: center; padding:40px 35px 0; font-size: 14px;}
.nothing img{ display: block; margin:auto; width: 140px;}
.nothing span{display: block; margin-top: 15px; line-height: 1.5; color: #cccccc; font-size: 18px;}

.codebtn{color: #cccccc;}
.codebtn:active{color:#cccccc;}
.codebtn.sendsms{color: #3eb4fa;}
.codebtn.sendsms:active{color:#34aaef;}

.fixbtn{ position: fixed; bottom:15px; right: 15px; background: rgba(0,0,0,0.5); color: #ffffff; width:50px; height: 50px; display: block; display: -webkit-box; display: -webkit-flex; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; align-items: center; line-height: 1.2; font-size: 14px; border-radius: 100%; z-index: 5; }

.mt00{margin-top: 0px !important;}
.mt10{margin-top: 10px !important;}
.mt15{margin-top: 15px !important;}
.mt05{margin-top: 5px !important;}
.mb00{margin-bottom: 0px !important;}
.mb10{margin-bottom: 10px !important;}
.mb05{margin-bottom: 5px !important;}

.w100{display: block; width: 100%;}

.border-title{display:flex;align-items: center; margin: 12px 15px; line-height: 1;}
.border-title .border{flex: 1 1 0%; min-width: 10%; height: 1px; background: #e3e3e3;}
.border-title span{font-size: 14px; color: #999999; margin:0 10px}

.weui-btn-area{margin-bottom: 25px;}
.noborder:after{height: 0; border-bottom: 0;}
.noborder:before{height: 0; border-top: 0;}
.txtright{text-align: right;}
/* 常用 */

/* 页脚 */
footer{position: fixed !important; bottom: 0; left: 0; width: 100%; background: #ffffff !important; overflow: hidden;}
footer i{display: block; height: 27px; width: 27px; margin:auto; line-height: 27px; font-size: 27px !important;}
.weui-tabbar__item .iconimg{display: block; width: 27px; height: 27px; overflow: hidden; background-repeat: no-repeat; background-position: center top; background-size: 27px auto;}
.weui-tabbar__item.weui-bar__item--on .iconimg{background-position: center bottom;}
/* 页脚 */

/* all */
.main{margin-bottom: 15px; overflow: hidden;}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{ color: #cccccc; }
.radiusbtn{border-radius: 46px; overflow: hidden;}
.radiusbtn:after{border-radius: 46px !important;}

/* login */
.lgtitle{position: absolute; top:12%; left:0; right: 0; text-align: center; color: #ffffff; font-size: 27px; text-shadow:2px 2px 5px rgba(0,0,0,0.5);}

.lgmain{margin:45px 10%;}
.lgmain .weui-cells:after{height: 0; border-bottom: 0;}
.lgmain .weui-cells:before{height: 0; border-top: 0;}
.lgmain .weui-cell{padding: 0; font-size: 16px;}
.lgmain .border{ padding-bottom: 5px; padding-top: 5px;}
.lgmain .codebtn{ position: absolute; right:0; bottom:6px;}
.lgmain input{color: #999999;}
.lgmain .icon{width:25px;margin-right:10px;display:block; margin-left: 3px;}
.lgmain .weui-cells{margin-top:30px; margin-right: 3px;}
.lgmain .weui-cells_checkbox{ color: #999999; margin-top: 20px;}
.lgmain .weui-check__label:active{background-color: transparent !important;}
.lgmain .weui-cells_checkbox a{color: #3eb4fa;}
.lgmain .radiusbtn{border-radius: 46px; overflow: hidden; margin:45px 3px 0;}
.lgmain .weui-btn.radiusbtn:after{border-radius: 46px !important;}
.lgmain .wxlogin{text-align: center; display: block; color: #cccccc; width:80px; margin: auto; margin-top: 60px; margin-bottom: 10px;}
.lgmain .wxlogin img{display: block; width:36px; margin: auto; margin-bottom: 5px;}

.rulebox{ max-height: 65vh; overflow: auto;}
.rulebox p+p{margin-top: 5px;}
.rulebox p{ font-size: 14px; color: #666666; text-align: left; }

/* index */
.fixnotice{ position: fixed; top:0; left: 0; right: 0; background: rgba(0,0,0,0.3); color: #f4fb3d; z-index: 5; padding: 4px 0; font-size: 14px;}
.fixnotice marquee{display: block; width: 100%;}
.fixnotice a{ color: #f4fb3d; margin:0 10px;}
.fullslide{width: 100%;}
.fullslide a{display: block; width: 100%;}
.fullslide a img{display: block; width:100%;}
.fullslide .swiper-pagination{ bottom: 7px; }

.nav{background: #ffffff;}
.nav li{float: left; width: 25%; text-align: center; line-height: 1; overflow: hidden;}
.nav li a{display: block; padding:15px 0;}
.nav li a img{display: block; width: 52px; height: 52px; margin: auto;}
.nav li a span{display: block; color: #333333; font-size: 13px; margin: 8px 5px 0; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}

.swiper-banner{width: 100%;background: #ffffff; padding:15px 0; border-top:1px solid #f1f1f1;}
.swiper-banner a{display: block; margin: 0 5px; border-radius: 5px; overflow: hidden;}
.swiper-banner a img{display: block; width:100%;}

.tabsbox{background: #ffffff; margin-top: 15px; overflow: hidden;}
.tabsbox h3{margin:10px 15px 5px; font-size: 17px; font-weight: normal; color: #333333;}
.tabsnav{overflow:hidden; border-bottom:1px solid #f1f1f1; }
.tabsnav .swiper-wrapper{}
.tabsnav .swiper-wrapper .swiper-slide{text-align: center; width:auto;}
.tabsnav .swiper-wrapper .swiper-slide a{display:block; margin:0 20px; font-size:14px; color:#666666; height: 33px; position: relative;}
.tabsnav .swiper-wrapper .swiper-slide a.on{color:#3eb4fa;}
.tabsnav .swiper-wrapper .swiper-slide a.on:after{ content: ""; position: absolute; height: 2px; width:30px; background: #3eb4fa; left: 50%; bottom: 0; margin-left: -15px;}
/* .tabsnav .swiper-wrapper .swiper-slide.swiper-slide-active a{color:#3eb4fa;}
.tabsnav .swiper-wrapper .swiper-slide.swiper-slide-active a:after{ content: ""; position: absolute; height: 2px; width:30px; background: #3eb4fa; left: 50%; bottom: 0; margin-left: -15px;} */

.tabsmain{background: #ffffff;}
.opico{ text-align: right;}
.opico a{ display: inline-block; width: auto; font-size: 12px; color: #3EB4FA; text-align: center; margin-left: 5px;}
.opico a img{display: block; width:26px; height: 26px; margin: auto; margin-bottom: 3px;}

.tabs-main .weui-media-box__thumb{border-radius: 5px;}
.picarr{}
.picarr li{float: left; width: 25%; text-align: center; line-height: 1; overflow: hidden;}
.picarr li a{display: block; padding:15px 0;}
.picarr li a img{display: block; width: 60px; height: 60px; margin: auto;}

.homeywlist:after{height: 0; border-bottom: 0;}
.homeywlist:before{height: 0; border-top: 0;}
.homeywlist .weui-media-box__title{font-size: 15px;}

.weui-popup__modal.nobg{background: none; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0);}
.weui-popup__container--visible .weui-popup__modal.nobg {-webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0);}

.popqrcode{position: fixed; width:80%; top:50%; left:50%; margin-left: -40%; margin-top: -65%;}
.popqrcode .qrcodemain{position: relative; margin: auto; overflow: hidden; border-radius: 15px; }
.popqrcode .qrcodemain .bg{display: block; width: 100%;}
.popqrcode .qrcodemain h5{position: absolute; top:14%; left: 0; right: 0; text-align: center; color: #3eb4fa; font-weight: normal; font-size: 19px;}
.popqrcode .qrcodemain p{position: absolute; top:23.5%; left: 13%; right: 13%; text-align: center; color: #333333; font-weight: normal; font-size: 14px;}
.popqrcode .qrcodemain .qrcode{position: absolute; top:39%; left:50%; width:46%; margin-left: -23%;}
.popqrcode .qrcodemain .caqrbtn{position: absolute; top:74%; left:50%; width:42%; margin-left: -21%; height: 32px; line-height: 32px; color: #ffffff; background: -webkit-gradient(linear,100% 100%, 0% 100%, from(#80CEFC), to(#25A9F7), color-stop(0.5,#50baf9)); text-align: center; font-size: 14px; border-radius: 32px;}
.popqrcode .popclose{display: block; background: url(../images/pic_24.png) no-repeat; background-size:100% 100%; width: 32px; height: 32px; text-indent: -10000px; margin: auto; margin-top: 25px;}

/* share */
.sharebg{background: url(../images/pic_28.png) repeat-y; background-size: 100% auto; position: relative;}
.sharebg .sharecode{background: #ffffff; width:60%; padding:10%; position: absolute; top:45%; left:50%; margin-left: -40%; overflow: hidden; border-radius: 12px; text-align:center;}
.sharebg .sharecode img{display: block; width: 84%; margin: auto;}
.sharebg .sharecode h2{font-size: 23px; font-weight: bold; color: #000000; margin: 15px 0;}
.sharebg .sharecode h2 span{color: #3EB4FA;}
.sharebg .sharecode .sharecbtn{display:block; height: 39px; line-height: 39px; color: #ffffff; background: -webkit-gradient(linear,0% 0%, 0% 100%, from(#80CEFC), to(#3EB4FA), color-stop(0.5,#5fc1fb)); text-align: center; font-size: 15px; border-radius: 39px; width:84%; margin: auto;}

/* order-list */
.tbflex{display: -webkit-box; display: -webkit-flex; display: flex; text-align: center;}
.tbflex a{display: block; -webkit-box-flex: 1; -webkit-flex: 1; flex: 1; }
.fixtabs{background: #ffffff; position: fixed; top:0; left: 0; right: 0; z-index: 10;}
.fixtabs a{color: #666666;}
.fixtabs a.on{color: #FF2F30;font-weight:bold}
.fixtabs a span{ position: relative; display: inline-block; height: 33px; line-height: 33px;}
.fixtabs a span em{display: block; width: 6px; height: 6px; border-radius: 100%; background: #ff0000; position: absolute; top:10px; right: -6px;}
.fixtabs a.on span:after{content:""; position: absolute; left:0; right: 0; bottom: 0; height: 2px; background: #FF2F30;}
.fixstate{background: #f8f8f8; position: fixed; top:45px; left: 0; right: 0; font-size: 0; padding: 12px 0; z-index: 10;}
.fixstate a{color: #666666;}
.fixstate a.on{color: #ffffff;}
.fixstate a span{ position: relative; display: inline-block; color: #999999; font-size: 14px; border:1px solid #999999; height: 25px; line-height: 25px; border-radius: 25px; overflow: hidden; width:65px;}
.fixstate a.on span{background: -webkit-gradient(linear,100% 100%, 0% 100%, from(#3eb4fa), to(#80cefc), color-stop(0.5,#4fbbfb)); border:0; padding:1px; color: #ffffff;}
.fixdate{/*background: #f8f8f8; position: fixed;*/ top:45px; left: 0; right: 0; font-size: 0; height: 46px; line-height: 46px; overflow: hidden; /*padding: 0 0 12px 0;*/ z-index: 10;}
.fixdate .ddnum{float: right; color: #999; font-size: 14px;}
.fixdate .datebox{background: #ffffff; float: left; height: 20px; line-height: 20px; padding:8px 15px; border-radius: 30px; font-size: 15px; margin-top: 10px;}
.fixdate .ssbtn{float: left; display: block; width: 36px; height: 36px; line-height: 36px; text-align: center; color: #ffffff; background: -webkit-gradient(linear,100% 100%, 0% 100%, from(#3eb4fa), to(#80cefc), color-stop(0.5,#4fbbfb)); border-radius: 100%; overflow: hidden; font-size: 17px; margin-top: 10px; border-width:0px;}
.fixdate .ssbtn:active{transform: scale(0.98);}
.fixdate .datebox input{width: calc(100vw - 110px); height: 20px; line-height: 20px; background: none; border: none;}

.orderli-item{margin:10px !important; border-radius: 5px;  /*-webkit-box-shadow:0px 2px 3px rgba(0,0,0,0.1); */ box-shadow:0px 1px 1px rgba(0,0,0,0.1);}
.orderli-item .weui-cell__bd{font-size: 14px;}
.orderli-item .weui-cell__bd span{color: #999999;}
.orderli-item .weui-cell__ft font{font-size:14px;}
.orderli-item:after{height: 0; border-bottom: 0;}
.orderli-item:before{height: 0; border-top: 0;}
.orderli-item .weui-media-box__title{font-size: 15px;}
.orderli-item .weui-media-box__bd p+p{margin-top: 5px !important; line-height: 1.3;word-break: break-all;text-align: justify;}

/* invite */
.tyqtxt{ color: #666;}
.tyqtxt p{ text-indent: 2em;}
.tyqtxt table{width:100%; text-align: center; color: #000000; margin-top: 10px;}
.tyqtxt table th{ background: #dcf2ff; font-size: 14px; padding: 5px 0; font-weight: normal;}
.tyqtxt table th:first-child{border-top-left-radius: 5px; border-bottom-left-radius: 5px;}
.tyqtxt table th:last-child{border-top-right-radius: 5px; border-bottom-right-radius: 5px;}
.tyqtxt table td{ background: #ffffff; font-size: 14px; border-bottom: 1px dashed #f1f1f1; position: relative; padding:7px 0;}
.tyqtxt table td:before{height: 60%; width:1px; background: #f1f1f1; position: absolute; top:20%; left:0; content: "";}
.tyqtxt table td:nth-child(1):before{display: none;}
.tyqtxt table tr:last-child td{border-bottom: none;}

/* my */
.usertop{position: relative;}
.usertop .bg{display: block; width: 100%;}
.usertop .flgzbtn{position: absolute; top:15px; right:15px; background: url(../images/pic_32.png) no-repeat left center; background-size: 12px 12px; padding-left: 16px; font-size: 12px; color: #ffffff; line-height: 1;}
.usertop .userline{position: absolute; left:15px; right: 15px; top:16%; min-height: 63px; color: #ffffff; padding-left: 75px; overflow: hidden;}
.usertop .userline .avatar{width:55px; height: 55px; overflow: hidden; border-radius: 100%; border:4px solid rgba(255,255,255,0.2); position: absolute; left:0; top:0;}
.usertop .userline h4{font-size: 19px; font-weight: normal; margin: 3px 85px 3px 0; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.usertop .userline p{font-size: 16px; font-weight: normal;}
.usertop .userline .txbtn{position: absolute; display: block; background: url(../images/pic_33.png) no-repeat 10px center #ffffff; background-size: auto 18px; padding:7px 10px 7px 33px; border-radius: 25px; border:4px solid #83cffc; top:50%; right:0; margin-top: -12px; color: #3EB4FA; font-size: 14px; line-height: 1;}

.usermeta{margin:-8.5% 15px 15px; background: #ffffff; border-radius: 5px; padding:13px 10px; -webkit-box-shadow:0px 0px 5px rgba(0,0,0,0.2); box-shadow:0px 0px 5px rgba(0,0,0,0.2); position: relative; z-index: 1;}
.usermeta a+a{border-left: 1px solid #eaeaea;}
.usermeta a{color: #333; font-size: 14px; text-align: left; line-height: 1.3;}
.usermeta a.ycjbtn{background: url(../images/pic_35.png) no-repeat 10px center; background-size: auto 30px;}
.usermeta a.dzsybtn{background: url(../images/pic_36.png) no-repeat 10px center; background-size: auto 30px;}
.usermeta a span{display: block; font-size: 16px;}

.usernav{margin-top:-48px; padding-top: 40px;}
.logout{display: block; margin:15px 0; font-size: 14px; background: #ffffff; color: #333333; text-align: center; padding: 10px 15px;}

.user-line-title{background: #ffffff; border-bottom: 1px solid #eeeff0; padding: 13px 15px; color: #333333; line-height: 1.2; font-size: 15px; position: relative;}
.user-line-title em{display: block; width:4px; height:15px; background: #3EB4FA; float: left; margin-right: 8px;}
.user-line-title b{font-weight: normal; font-size: 17px; color: #3EB4FA;}
a.choose-month{float: right; color: #333333; font-size: 14px; position: relative; display: inline-block; padding-right: 15px;}
a.choose-month:after{content:"▲"; height: 12px; line-height: 12px; position: absolute; top:50%; margin-top: -6px; right: 0; font-size: 12px; transform:rotate(180deg); -ms-transform:rotate(180deg); -webkit-transform:rotate(180deg);} 
.user-line-title .month-picker{float: right; color: #333333; font-size: 14px; position: relative; display: inline-block; padding-right: 15px; width:auto; text-align: right; width:85px; border: none; background: none;}
.user-line-title .month-pickerarr{height: 12px; width: 12px; line-height: 12px; position: absolute; top:50%; margin-top: -6px; right: 15px;} 
.user-line-title .month-pickerarr:after{content:"▲"; display: block; height: 12px; line-height: 12px; font-size: 12px; transform:rotate(180deg); -ms-transform:rotate(180deg); -webkit-transform:rotate(180deg);}
.user-form{}
.user-form .weui-cell__hd, .user-form .weui-cell__bd{color: #666666;}
.user-form .weui-cell__ft, .user-form .weui-cell__bd input{color: #333333;}
.usernav .weui-cell__bd{color: #333333;}

/* my-wallet */
.txbox{margin-top:-48px; padding: 40px 15px 30px; background: #ffffff;}
.txbox h5{font-size: 16px; font-weight: normal; color: #333333; margin: 13px 0;}
.txbox h5 a{font-size: 14px; float: right; color: #3EB4FA;}
.txbox .txinfo{border-top: 5px solid #3EB4FA; background: #ffffff; border-radius: 5px; padding:15px 10px; -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.2); box-shadow: 0px 0px 5px rgba(0,0,0,0.2);}
.txbox .txinfo .tbflex{text-align: center;}
.txbox .txinfo .tbflex a{ line-height: 1; color: #333333; font-size: 13px;}
.txbox .txinfo .tbflex a+a{border-left: 1px solid #eaeaea;}
.txbox .txinfo .tbflex a span{display: block; font-size: 23px; margin-bottom: 7px; color: #3EB4FA;}
.txbox .txinfo  .btns{border-top: 1px solid #eaeaea; text-align: center; margin-top: 10px; padding-top:10px;}
.txbox .txinfo  .btns a{color: #3EB4FA; font-size: 14px; display: inline-block; border:1px solid #3EB4FA; border-radius: 25px; height: 25px; line-height: 25px; padding: 0 25px;}

/* channel-set */
.channelset{background: #ffffff; margin-top: 15px; padding:10px 15px;}
.channelset .channelbox{ background: #ffffff; border-radius: 5px; -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.2); box-shadow: 0px 0px 5px rgba(0,0,0,0.2); overflow: hidden; margin:  15px 0 ;}
.channelset .channelbox h5{ background: #3EB4FA; color: #ffffff; font-size: 16px; padding:10px 15px; line-height: 1; font-weight: normal;}
.channelset .channelbox .setinfo{padding: 0px 20px 10px;}

.yj_form{}
.yj_form:before{border-top: 0; height: 0;}
.yj_form .weui-cell__hd, .yj_form .weui-cell__bd{color: #333333; font-size: 16px;}
.yj_form .weui-cell__ft, .yj_form .weui-cell__bd input{color: #333333;}
.yj_form .weui-cell{padding:15px 0;}
.yj_form .weui-cell:before{left: 0;}
.channelset .channelbox .setinfo .weui-cells__tips{padding: 0; margin-top: 5px;}

.shenli{}
.shenli .weui-media-box__title{ font-size: 15px; color: #333333;}
.shenli .weui-cell__ft{font-size: 17px; line-height: 1.3;}
.shenli .weui-cell__ft em{font-size: 13px;display: block; color: #cccccc;}
.shenli .weui-cell__ft .tgbtn{background: #3EB4FA; color: #ffffff; font-size: 12px; border-radius: 21px; height: 21px; line-height: 23px; display: inline-block; padding:0 8px; margin-left: 5px; /* float: right; */}
.shenli .weui-cell__ft .ywcbtn{background: #ffffff; color: #999999; border:1px solid #999999; font-size: 12px; border-radius: 19px; height: 19px; line-height: 21px; display: inline-block; padding:0 8px; margin-left: 5px; /* float: right; */}
.shenli .weui-cell__ft .dshbtn{background: #ffffff; color: #3EB4FA; border:1px solid #3EB4FA; font-size: 12px; border-radius: 19px; height: 19px; line-height: 21px; display: inline-block; padding:0 8px; margin-left: 5px; /* float: right; */}
.shenli .weui-media-box__desc{color: #cccccc;}
.recordbox{background: #ffffff; padding: 10px 15px;}
.recordbox table{width: 100%; font-size: 12px; text-align: center;}
.recordbox table th{color: #666666; font-weight: normal; padding:7px 0}
.recordbox table td{color: #333333; border-top:1px solid #f1f1f1; padding:7px 0}

/* cash */
.usertop .cashinfo{position: absolute; left:15px; right: 15px; top:15%; min-height: 63px; color: #ffffff; overflow: hidden; color: #ffffff; line-height: 1;;}
.usertop .cashinfo p{font-size: 15px;}
.usertop .cashinfo h4{font-size: 35px; font-weight: normal; margin-top: 12px;}
.cashbox{margin:-8.5% 15px 15px; background: #ffffff; border-radius: 5px; padding:10px 20px 20px; -webkit-box-shadow:0px 0px 5px rgba(0,0,0,0.2); box-shadow:0px 0px 5px rgba(0,0,0,0.2); position: relative; z-index: 1;}
.cashbox h4{background: url(../images/pic_36.png) no-repeat left center; background-size: auto 36px; height: 36px; line-height: 47px; overflow: hidden; font-weight: normal; color: #333333; padding-left: 50px; font-size: 18px; }
.cashbox .txline{ border-bottom: 1px solid #eaeaea; padding:15px 70px 15px 45px; position: relative;}
.cashbox .txline em{position: absolute; font-size: 37px; color: #333333; height: 40px; line-height: 40px; top:50%; left:10px; margin-top: -20px;}
.cashbox .txline a{position: absolute; font-size: 14px; color: #3EB4FA; height: 20px; line-height: 20px; margin-top: -10px; top:50%; right:0px;}
.cashbox .txline input{display: block; width:100%; border: 0; background: none; height: 40px; line-height: 40px; font-size: 35px; outline: 0;}
.cashbox p{font-size: 16px; margin:10px 0; color: #666666;}
.cashbox p span{color: #333333;}

/* he-school */
.hextbg{background: -webkit-gradient(linear,0% 0%, 0% 100%, from(#6CC7FD), to(#42B5FA), color-stop(0.5,#57befb)); min-height: 100vh; position: relative;}
.hextbg .fixbg{display: block; position: absolute; width: 100%; bottom:0; left: 0; right: 0;}
.he-note{background: #f7ea58; border:1px solid #00070e; border-radius: 10px; margin:0 15px 15px; padding:20px 20px 15px; color: #333333; position: relative; font-size: 15px; font-weight: bold;}
.he-note .title{position: absolute; display: block; height: 30px; top:-15px; left: 0; right: 0; text-align: center; font-size: 0;}
.he-note .title img{display: block; height: 30px; margin: auto;}
.he-123{margin:0 15px 30px;}
.he-box{background: #ffffff; border:1px solid #00070e; border-radius: 10px; margin:0 15px 30px; padding:20px 20px 0px; color: #333333; position: relative; font-size: 15px;}
.he-box .tbheight{height: 110px; overflow: hidden; }
.he-box .tbheight.showall{height: auto; padding-bottom:15px;}
.he-box .title{position: absolute; display: block; height: 30px; top:-15px; left: 0; right: 0; text-align: center; font-size: 0;}
.he-box .title img{display: block; height: 30px; margin: auto;}
.he-box table{width: 100%; color: #333333; line-height: 1.7;}
.he-box table td{padding:10px 0; }
.he-box table td.num{width:40px; font-size: 32px; font-weight: bold; text-shadow:2px 2px 5px rgba(0,0,0,0.2);}
.he-box table td p{font-size: 14px;}
.he-box table td.tdborder{border-bottom: 1px dashed #c3c5c7;}
.he-box table td.tdimg{width:80px; padding-left: 5px;}
.he-box .morebtn{position: absolute; left:0; right:0; bottom:0; text-align: center; font-size: 12px; background: rgba(255,255,255,0.6); overflow: hidden; border-radius: 10px;}
.he-box .morebtn a{color: #34aff8; position: relative; padding:5px 0 5px 15px; display: inline-block;}
.he-box .morebtn a.hide:before{position: absolute; font-size: 21px; display: block; height: 21px; line-height: 21px; top:50%; margin-top: -10.5px; content: "»"; left:3px; transform: rotate(90deg);}
.he-box .morebtn a.show:before{position: absolute; font-size: 21px; display: block; height: 21px; line-height: 21px; top:50%; margin-top: -10.5px; content: "»"; left:0; transform: rotate(-90deg);}
.he-btn{padding: 0 15px 30px;}

.channeltitle{position: fixed; top:0; left: 0; right: 0;width: 100%; color: #333333;}
.channeltitle th{background: #dcf2ff; height: 39px; line-height: 39px; font-weight: normal; font-size: 14px;}
.channelli{width: 100%; text-align: center; margin-top: 39px; color: #333333; margin-bottom: 30px;}
.channelli td{font-size: 13px; padding: 10px 0; border-bottom: 1px solid #eaeaea; position: relative;}
.channelli td:before{ content: ""; position: absolute; height: 60%; width: 1px; background: #f1f1f1; top:20%; left:0}
.channelli td:nth-child(1):before{display: none;}
.channelli td a{color: #c2c2c2; font-weight: bold; display: block;}

/* cash-item */
.cash-item{margin:15px; background: #ffffff; border-radius: 5px; padding:10px 20px 20px; -webkit-box-shadow:0px 0px 5px rgba(0,0,0,0.2); box-shadow:0px 0px 5px rgba(0,0,0,0.2); }
.cash-item h4{font-weight: normal; font-size: 15px; color: #666; border-bottom: 1px solid #eaeaea; padding-bottom: 7px;}
.cash-item p{color: #333; font-size: 17px; border-bottom: 1px dotted #eaeaea; padding: 15px 0; margin-bottom: 10px;}
.cash-item .cash-num{color: #333333; font-size: 17px; line-height: 1;}
.cash-item .cash-num em{font-size: 23px; color: #3EB4FA;}
.cash-item .cash-num span{ float: right; margin-top: 5px;}

.fixwbtn{position: fixed; bottom:0; left: 0; right: 0; padding:15px; background: #f8f8f8;}

.indextop{ position: relative;}
.indextop .bg{display: block; width: 100%;}
.indextop .toptb{position: absolute; left:4%; right: 4%; bottom:4%; width:92%;}
.indextop .toptb td{text-align: center; color: #333333; line-height: 1; vertical-align: bottom;}
.indextop .toptb td:nth-child(1){width: 32%;}
.indextop .toptb td:nth-child(2){width: 32%;}
.indextop .toptb td:nth-child(3){width: 29%;}
.indextop .toptb td span{display: block; font-size: 14px;}
.indextop .toptb td .top{color: #3eb4fa; font-size: 16px;}
.indextop .toptb td:nth-child(1) .top{ margin-bottom: 7%;}
.indextop .toptb td:nth-child(2) .top{margin-bottom: 10%; font-size: 17px;}
.indextop .toptb td:nth-child(3) .top{margin-bottom: 4%;}
.indextop .toptb td .name{margin-bottom: 5%;}
.indextop .toptb td .num{}
.indextop .toptb td .num em{color: #ff4848;}

.weui-cell.seltx{padding: 0 10px 0 0;}
.weui-cell.seltx .weui-cell__ft{font-size: 19px;}
.weui-cell.seltx .weui-media-box__title{color: #333333; font-size: 15px;}
.weui-cell.seltx .weui-media-box__desc{color: #cccccc;}

.qudaobg{position: relative;}
.qudaobg .weui-picker-modal{background: #ffffff !important;}
.qudaobg .weui-picker-modal .picker-item.picker-selected{color: #3EB4FA !important;}

.sxline{padding:10px 15px;}
.sxline span{background: #ffffff; display: inline-block; position: relative; height: 30px; line-height: 30px; border-radius: 30px; color: #5abefb; padding:0 10px; font-size: 15px;}
.sxline .choose-month{color: #5abefb; float: none;}
.sxline .month-picker{color: #5abefb; font-size: 14px; position: relative; display: inline-block; padding-right: 15px; width:auto; text-align: center; width:85px; border: none; background: none;}
.sxline .month-pickerarr{height: 12px; width: 12px; line-height: 12px; position: absolute; top:50%; margin-top: -6px; right: 10px; font-style: normal;} 
.sxline .month-pickerarr:after{content:"▲"; display: block; height: 12px; line-height: 12px; font-size: 12px; transform:rotate(180deg); -ms-transform:rotate(180deg); -webkit-transform:rotate(180deg);}

.pay-show{margin: 15px; background: #ffffff; border-radius: 5px; overflow: hidden; padding:15px 15px 30px; -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.2); box-shadow: 0px 0px 5px rgba(0,0,0,0.2); position: relative;}
.pay-show .pay-title{text-align: center; font-size: 17px; color: #ffffff; background: #3EB4FA; position: absolute; top:0; left:0; right: 0; height: 39px; line-height: 39px; text-align: center; font-weight: normal;}
.pay-show .pay-meta{margin-top: 50px; line-height: 1; text-align: center;}
.pay-show .pay-meta p{font-size: 18px;color: #666666;}
.pay-show .pay-meta h4{font-size: 18px; font-weight: normal; color: #000; margin-top: 15px;}
.pay-show .pay-info{border-top:1px solid #f1f1f1;border-bottom:1px solid #f1f1f1; font-size: 14px; padding:10px 0; margin: 25px 0; line-height: 2;}
.pay-show .pay-info p{color: #666666;}
.pay-show .pay-info p span{ float: right;}

.tyqtxt.indexcx{padding:0 15px 10px;}
.tyqtxt.indexcx h5{font-weight: normal; color: #3eb4fa; font-size: 14px;}
.tyqtxt.indexcx table{line-height: 1.3; margin-top: 5px;}
.tyqtxt.indexcx table th, .tyqtxt.indexcx table td{font-size: 12px !important; padding:5px 2px;}

.fixtop{position: fixed; top:0; left: 0; right: 0; background: #ffffff; z-index: 10;}
.fixtop .fixstate{position: static; background: #ffffff; border-bottom: 1px solid #f1f1f1;}
.fixtop .fixdate{position: static; background: #ffffff; margin-top: 12px;}
.zhangshow{background: #ffffff; padding:5px 15px 15px; line-height: 1.2;}
.zhangshow a{color: #333333;}
.zhangshow a:nth-child(2){border-left: 1px solid #f1f1f1;}
.zhangshow a span{display: block;font-size: 14px;}
.zhangshow a b{display: block;font-size: 23px; font-weight: normal; margin-top: 5px;}
.zhangshow a b.on{color: #3eb4fa;}
.zhangshow a b em{font-size: 14px; margin-left: 5px;}

.orderli-item.cashli-item{}
.orderli-item.cashli-item .weui-cell__bd p{font-size: 13px; line-height: 1.2;}
.orderli-item.cashli-item .weui-media-box__bd p+p{margin-top:7px;}
.orderli-item.cashli-item .weui-media-box__bd p span{color: #333333;}
.orderli-item.cashli-item .weui-cell__bd p span{float: right; margin-top: -4px;}
.orderli-item.cashli-item .weui-cell__bd p span b{color: #3EB4FA; font-size: 17px; font-weight: normal;}
.orderli-item.cashli-item .weui-cell__bd p span b em{font-size: 13px; margin-left: 5px;}
.orderli-item.cashli-item .weui-cell .zftag{position: absolute; top:0; right:0; display: block; text-indent: -99999px; background-image: url(../images/pic_74.png); background-repeat: no-repeat; background-size: 100% auto; width:30px; height: 30px;}
.orderli-item.cashli-item .weui-cell .zftag.wzf{background-position: top center;}
.orderli-item.cashli-item .weui-cell .zftag.yzf{background-position: bottom center;}

.showItem{}
.showItem .weui-dialog__hd{display: none;}
.showItem .weui-dialog__bd{padding:0;}
.showItem .weui-dialog__bd .weui-cell{padding:12px 15px; color: #333333;}
.showItem .weui-dialog__bd .weui-cell p{font-size: 15px;}
.show-item{margin: 0; position: relative; top:0; left:0; right: 0; text-align: left;}
.show-item p{font-size: 14px;}
.show-item p+p{margin-top:7px;}
.show-item p span{color: #333333;}
.show-item p span.synum{color: #3EB4FA; font-size: 19px;}
.show-item p span.synum em{font-size: 14px; margin-left: 5px;}
.show-item .weui-cell__ft font{font-size: 12px; display: inline-block; padding:1px 5px; border-radius: 10px;}

.show2tool{height: 17.2rem;}

.fixspbtn {
    position: fixed;
    bottom: 55px;
    right: 10px;
    font-size: 14px;
    background: rgba(0,0,0,0.5);
    color: #ffffff;
    display: block;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 1.2;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    border-radius: 100%;
    z-index: 2;
}
.dgdj-tit{
  text-align: center;
}
.dgdj-tit span{
   color: #999;
   position: relative;
}
.dgdj-tit span::before{
  content: '';
  width: 50px;
  height: 1px;
  background: #999999;
  position: absolute;
  left: -60px;
  top: 50%;
  margin-top: -0.5px;

}
.dgdj-tit span::after{
  content: '';
  width: 50px;
  height: 1px;
  background: #999999;
  position: absolute;
  right: -60px;
  top: 50%;
  margin-top: -0.5px;

}
.dgdj-search-bar::before,
.dgdj-search-bar::after{
  display: none
}
.dgdj-search-bar{
  background: transparent;
}
.boxflex{display: -webkit-box; display: -webkit-flex; display: flex; -webkit-box-align: center; -webkit-align-items: center; align-items: center;-webkit-justify-content: center;justify-content: center;}
.boxflex-inline{display: -webkit-inline-box; display: -ms-inline-flexbox; display: -webkit-inline-flex; display: inline-flex;-webkit-box-align: center; -webkit-align-items: center; align-items: center;align-items: center;justify-content: center;}
/*伸缩性*/
.flex-auto{-webkit-box-flex: 1; -ms-flex: auto; -webkit-flex: auto; flex: auto;}
.flex{-webkit-box-flex: 1; -ms-flex: 1; -webkit-flex: 1; flex: 1;} 
.dgdj-search-bar form{width: 100%;}
.dgdj-search-bar .search-input{height: 30px;margin: 0 10px;height: 26px;padding: 0 5px;} 

.zyts-btn{-webkit-transition: -webkit-transform 0.5s;transition: transform 0.5s;}
.zyts-btn.on .weui-cell__ft{-webkit-transform: rotate(90deg);transform: rotate(90deg); }
.zyts-btn .weui-cell__bd{font-weight: bold;color: #3eb4fa;}
.weui-cell_access.zyts-btn .weui-cell__ft:after{border-color: #3eb4fa;}
.blod{font-weight: bold;}
.red{color:red}


/*商品分类页*/
.padding-all{padding:10px}
.w-3{width:33.33%;  float:left; padding:.6rem .0rem; box-sizing: border-box; position: relative;}
.w-2{width:49.99%;  float:left; padding:.6rem .0rem; box-sizing: border-box; position: relative;}

.category-top{border-bottom:1px solid #e8e8e8;position:fixed; left:0; top:0; right:0; z-index: 1; background:#F6F6F9}
.menu-left,.menu-right{position:fixed; left:0;top:44px; bottom:0; overflow-y: scroll;}
.menu-right #loading{left:11px; top:44px;}

.menu-left{background:#F6F6F9;}
.menu-left ul li{box-sizing: border-box;  font-size:12px; color:#333; width:76px; height:42px; line-height:42px; text-align: center;}
.menu-left ul li.active{background:#fff; position:relative;}
.menu-left ul li.active:before{content: " "; position: absolute;display: block; width:2px; height:100%; background:#e21323; top:0; left:0;}
.menu-right{background:#fff; position:inherit; margin-left:76px; margin-top:44px; right:0; bottom:0;}
.menu-right h5{font-size:12px; padding-top:2px; color:#666; margin-top:12px; margin-bottom:4px; border-bottom:1px solid #f5f5f5; padding-bottom:8px;}
.menu-right h5:first-child{margin-top:0;}

.menu-right ul{overflow: hidden;}
.menu-right ul li{text-align: center;}
.menu-right ul li a{display:block; position: absolute; left:3px; top:7px; bottom:7px; right:3px;}
.menu-right ul li:nth-child(3n+1) a{left:0; right:7px;}
.menu-right ul li:nth-child(3n) a{right:0; left:7px;}
.menu-right ul li span{display:block;height:26px; line-height:26px; overflow: hidden; text-align: center; font-size:10px; color:#888;}
.menu-right ul li img{width:50px; height:50px;	}
.mune-no-img img{display:none}
.mune-no-img span{border:1px solid #efefef; color:#555; border-radius:4px;}
